# Zensus 2022

# Einführung
Dieses Notebook beschreibt den ETL-Prozess zur Verarbeitung und Übertragung von Zensusdaten in eine PostgreSQL-Datenbank. Die Daten werden aus einer Excel-Datei extrahiert, bereinigt und in ein Sternschema transformiert. Ziel ist es, eine Datenbankstruktur zu schaffen, die effiziente analytische Abfragen unterstützt.

## Import und Setup
In diesem Abschnitt werden die benötigten Python-Bibliotheken importiert und eine Verbindung zur PostgreSQL-Datenbank hergestellt. Dies ermöglicht uns die spätere Speicherung der verarbeiteten Daten.

In [116]:
import pandas as pd
import os
import sqlalchemy as sql
import numpy as np
import sqlite3
import psycopg2
from sqlalchemy import create_engine

In [117]:
# Deine Datenbankverbindungseinstellungen
db_user = 'postgres'
db_password = 'neues_passwort'
db_host = 'localhost'
db_port = '5432'
db_name = 'postgres'

# Verbindung zur PostgreSQL-Datenbank herstellen
engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# Datenextraktion (Extract)
Hier werden die Daten aus der Excel-Datei extrahiert. Jede Tabelle (Blatt) in der Datei, die mit "CSV" beginnt, wird in einen Pandas DataFrame geladen. Dies ermöglicht uns eine einfache Verarbeitung und Transformation der Daten in den folgenden Schritten.

In [118]:
# Pfad zur Excel-Datei
file_path = 'C:\\Users\\hp\\OneDrive\\Desktop\\DBU\\SP3-1.Dateninfrastrukturen\\Pruefung\\Zensus\\input\\Zensus.xlsx'
# Lese die Excel-Datei ein und speichere die Blätter als einzelne DataFrames
sheets = pd.read_excel(file_path, sheet_name=None, dtype={'_RS': str})
data_frames = {sheet_name: data for sheet_name, data in sheets.items() if sheet_name.startswith('CSV')} # nur die Blätter mit 'CSV' im Namen

# check
print("Dateninfrastruktur aufgesetzt und Excel-Daten geladen.")

Dateninfrastruktur aufgesetzt und Excel-Daten geladen.

# Datenbereinigung (Transform)
In diesem Schritt werden unerwünschte Zeichen wie `-`, `/`, `.` und `–` durch `0` ersetzt, um die Daten zu bereinigen. Außerdem wird die Spalte `Regionalebene` von Leerzeichen und Sonderzeichen bereinigt, um eine konsistente Datenbasis zu gewährleisten.

In [119]:
# Speichern der DataFrames in separaten Variablen mit angepassten Namen
created_dfs = {}
for sheet_name, data in data_frames.items():
    # Ersetzen von '-' und '/' durch '_' in den Tabellenblätternamen
    new_sheet_name = sheet_name.replace('-', '_').replace('/', '_')
    
    # Ersetzen von '.', '/', '-' und '–' durch 0 in den Daten
    df = data.apply(lambda x: x.map(lambda y: 0 if y in ['.', '/', '-', '–'] else y))
    
    # Bereinigung der 'Regionalebene'-Spalte (Kreise)
    if 'Regionalebene' in df.columns:
        df['Regionalebene'] = df['Regionalebene'].str.replace('/', '')
        df['Regionalebene'] = df['Regionalebene'].str.replace(' ', '')
    # Umwandlung in numerische Typen für Spalten ab der 5.
    for col in df.columns[4:]:
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)
    
    # Spaltennamen in Kleinbuchstaben ändern
    df.columns = [col.lower() for col in df.columns]

    globals()[new_sheet_name] = df
    created_dfs[new_sheet_name] = df

# Anzeigen der neuen Namen der erstellten DataFrames
print("Erstellte DataFrames:")
for df_name in created_dfs.keys():
    print(df_name)

Erstellte DataFrames:
CSV_Klassenstufe
CSV_Schulform
CSV_Hoechster_Schulabschluss
CSV_Hoechster_berufl_Abschluss
CSV_Erwerbsstatus
CSV_ET_Alter
CSV_ET_Hoechst_berufl_Abschl
CSV_ET_Stellung_im_Beruf
CSV_ET_Beruf_Hauptgr_ISCO08
CSV_ET_Wirtschaftszweig

In [120]:
CSV_ET_Alter['_rs'].dtype

dtype('O')

In [121]:
CSV_Klassenstufe.groupby('regionalebene')['schueler_klss_stp'].sum()

regionalebene
Bund                                  8903780
Gemeinde                              6631640
Gemeindeverband                       1310750
Land                                  8903780
Regierungsbezirk                      7013880
StadtkreiskreisfreieStadtLandkreis    8903770
Name: schueler_klss_stp, dtype: int64

## Erstellung und Bereinigung der Stadt-Typen Tabelle

In diesem Abschnitt wird eine neue Tabelle für `stadt_typen` erstellt, die Informationen über die verschiedenen Stadtarten (z.B. Stadt, Landeshauptstadt, Hansestadt) enthält. Die Stadtarten werden aus den bestehenden DataFrames extrahiert und in einer separaten Tabelle organisiert.

In [122]:
# Neue Tabelle für stadt-Typen erstellen
stadt_typen = pd.DataFrame(columns=['schluessel', 'typ'])

# Bereinigung der DataFrames und Auslagern der stadt-Typen
for name, df in created_dfs.items():
    # Extrahieren des Stadtnamens und Typs
    df['stadt'] = df['name'].str.split(',').str[0]
    df['typ'] = df['name'].str.split(',').str[1].str.strip()
    
    # Kombinieren in die neue Tabelle
    temp_df = df[['_rs', 'typ']].drop_duplicates().rename(columns={'_rs': 'schluessel'})
    stadt_typen = pd.concat([stadt_typen, temp_df])
    
    # Bereinigen der 'name'-Spalte
    df['name'] = df['stadt']
    
    # Entfernen der temporären Spalten
    df = df.drop(columns=['stadt', 'typ'])
    
    # Aktualisieren des DataFrames im Dictionary
    created_dfs[name] = df

# Entfernen von Duplikaten und NaN-Werten in der neuen Tabelle
stadt_typen = stadt_typen.drop_duplicates().dropna().reset_index(drop=True)
stadt_typen['schluessel'] = stadt_typen['schluessel'].astype('str')  # Umwandlung in String
# Neue Tabelle und bereinigte DataFrames anzeigen
print("stadt-Typen Tabelle:")
print(stadt_typen.head())

print("Bereinigte DataFrames:")
for name, df in created_dfs.items():
    print(f"{name}:")
    print(df.head())

stadt-Typen Tabelle:
     schluessel               typ
0         01001             Stadt
1  010010000000             Stadt
2         01002  Landeshauptstadt
3  010020000000  Landeshauptstadt
4         01003        Hansestadt
Bereinigte DataFrames:
CSV_Klassenstufe:
   berichtszeitpunkt           _rs                name  \
0           20220515            00         Deutschland
1           20220515            01  Schleswig-Holstein
2           20220515         01001           Flensburg
3           20220515  010010000000           Flensburg
4           20220515         01002                Kiel

                        regionalebene  schueler_klss_stp  \
0                                Bund            8903780
1                                Land             320060
2  StadtkreiskreisfreieStadtLandkreis              10380
3                            Gemeinde              10380
4  StadtkreiskreisfreieStadtLandkreis              24340

   schueler_klss_stp__m  schueler_klss_stp__w  schueler_klss_stp__1  \
0               4536040               4367740               3048570
1                162880                157180                109240
2                  5010                  5370                  3530
3                  5010                  5370                  3530
4                 12270                 12070                  8770

   schueler_klss_stp__1_m  schueler_klss_stp__1_w  schueler_klss_stp__2  \
0                 1563180                 1485400               4490850
1                   54930                   54310                161100
2                    1540                    1990                  5030
3                    1540                    1990                  5030
4                    4180                    4590                 11180

   schueler_klss_stp__2_m  schueler_klss_stp__2_w  schueler_klss_stp__3  \
0                 2324270                 2166580               1364360
1                   83860                   77240                 49720
2                    2700                    2330                  1820
3                    2700                    2330                  1820
4                    5810                    5360                  4400

   schueler_klss_stp__3_m  schueler_klss_stp__3_w
0                  648590                  715760
1                   24090                   25630
2                     770                    1060
3                     770                    1060
4                    2280                    2120
CSV_Schulform:
   berichtszeitpunkt           _rs                name  \
0           20220515            00         Deutschland
1           20220515            01  Schleswig-Holstein
2           20220515         01001           Flensburg
3           20220515  010010000000           Flensburg
4           20220515         01002                Kiel

                        regionalebene  schueler_sch_stp  schueler_sch_stp__m  \
0                                Bund           8903780              4536040
1                                Land            320060               162880
2  StadtkreiskreisfreieStadtLandkreis             10380                 5010
3                            Gemeinde             10380                 5010
4  StadtkreiskreisfreieStadtLandkreis             24340                12270

   schueler_sch_stp__w  schueler_sch_stp__1  schueler_sch_stp__1_m  \
0              4367740              3033030                1544890
1               157180               105520                  52830
2                 5370                 3320                   1380
3                 5370                 3320                   1380
4                12070                 8280                   3910

   schueler_sch_stp__1_w  ...  schueler_sch_stp__4_w  schueler_sch_stp__5  \
0                1488150  ...                 172590              1251860
1                  52690  ...                   2660                16560
2                   1940  ...                      0                  620
3                   1940  ...                      0                  620
4                   4370  ...                      0                 1090

   schueler_sch_stp__5_m  schueler_sch_stp__5_w  schueler_sch_stp__6  \
0                 654280                 597590               838400
1                   8850                   7710                60880
2                    390                    230                 1980
3                    390                    230                 1980
4                    560                    540                 4250

   schueler_sch_stp__6_m  schueler_sch_stp__6_w  schueler_sch_stp__7  \
0                 433130                 405270              2594630
1                  31750                  29130                92830
2                   1100                    880                 3040
3                   1100                    880                 3040
4                   2500                   1760                 7690

   schueler_sch_stp__7_m  schueler_sch_stp__7_w
0                1240010                1354630
1                  45050                  47780
2                   1360                   1680
3                   1360                   1680
4                   3580                   4110

[5 rows x 28 columns]
CSV_Hoechster_Schulabschluss:
   berichtszeitpunkt           _rs                name  \
0           20220515            00         Deutschland
1           20220515            01  Schleswig-Holstein
2           20220515         01001           Flensburg
3           20220515  010010000000           Flensburg
4           20220515         01002                Kiel

                        regionalebene  schulabs_stp  schulabs_stp__m  \
0                                Bund      69451580         33941830
1                                Land       2473130          1200580
2  StadtkreiskreisfreieStadtLandkreis         80000            39400
3                            Gemeinde         80000            39400
4  StadtkreiskreisfreieStadtLandkreis        212690           103790

   schulabs_stp__w  schulabs_stp__1  schulabs_stp__1_m  schulabs_stp__1_w  \
0         35509750          2813430            1422440            1391000
1          1272550           103590              52550              51040
2            40600             3590               1750               1830
3            40600             3590               1750               1830
4           108900             8570               4480               4090

   ...  schulabs_stp__22_w  schulabs_stp__23  schulabs_stp__23_m  \
0  ...             1994110          16671630             7509810
1  ...               10340            770050              345230
2  ...                 230             20330                9370
3  ...                 230             20330                9370
4  ...                 620             48090               21480

   schulabs_stp__23_w  schulabs_stp__24  schulabs_stp__24_m  \
0             9161820          24244250            12162150
1              424820            805860              401690
2               10960             30650               16000
3               10960             30650               16000
4               26610             99230               49690

   schulabs_stp__24_w  schulabs_stp__3  schulabs_stp__3_m  schulabs_stp__3_w
0            12082090          4768580            2408490            2360090
1              404180           116990              60190              56810
2               14650             5410               2830               2580
3               14650             5410               2830               2580
4               49540            13680               6780               6900

[5 rows x 28 columns]
CSV_Hoechster_berufl_Abschluss:
   berichtszeitpunkt           _rs                name  \
0           20220515            00         Deutschland
1           20220515            01  Schleswig-Holstein
2           20220515         01001           Flensburg
3           20220515  010010000000           Flensburg
4           20220515         01002                Kiel

                        regionalebene  berufabs_ausf_stp  \
0                                Bund           69451580
1                                Land            2473130
2  StadtkreiskreisfreieStadtLandkreis              80000
3                            Gemeinde              80000
4  StadtkreiskreisfreieStadtLandkreis             212690

   berufabs_ausf_stp__m  berufabs_ausf_stp__w  berufabs_ausf_stp__1  \
0              33941830              35509750              50585600
1               1200580               1272550               1885180
2                 39400                 40600                 55910
3                 39400                 40600                 55910
4                103790                108900                149880

   berufabs_ausf_stp__1_m  berufabs_ausf_stp__1_w  ...  \
0                25157920                25427680  ...
1                  930860                  954310  ...
2                   28070                   27840  ...
3                   28070                   27840  ...
4                   73350                   76530  ...

   berufabs_ausf_stp__15_w  berufabs_ausf_stp__16  berufabs_ausf_stp__16_m  \
0                   950810                8176080                  4311610
1                    27520                 275740                   147790
2                     1380                   9140                     4860
3                     1380                   9140                     4860
4                     4580                  28390                    14770

   berufabs_ausf_stp__16_w  berufabs_ausf_stp__17  berufabs_ausf_stp__17_m  \
0                  3864470                1146250                   720310
1                   127960                  29610                    17920
2                     4280                    690                      410
3                     4280                    690                      410
4                    13620                   4940                     2950

   berufabs_ausf_stp__17_w  berufabs_ausf_stp__2  berufabs_ausf_stp__2_m  \
0                   425940              18865980                 8783920
1                    11680                587950                  269720
2                      280                 24090                   11330
3                      280                 24090                   11330
4                     1990                 62810                   30430

   berufabs_ausf_stp__2_w
0                10082070
1                  318240
2                   12760
3                   12760
4                   32380

[5 rows x 34 columns]
CSV_Erwerbsstatus:
   berichtszeitpunkt           _rs                name  \
0           20220515            00         Deutschland
1           20220515            01  Schleswig-Holstein
2           20220515         01001           Flensburg
3           20220515  010010000000           Flensburg
4           20220515         01002                Kiel

                        regionalebene  erwerbstat_kurz_stp  \
0                                Bund             80790220
1                                Land              2864310
2  StadtkreiskreisfreieStadtLandkreis                92070
3                            Gemeinde                92070
4  StadtkreiskreisfreieStadtLandkreis               243430

   erwerbstat_kurz_stp__m  erwerbstat_kurz_stp__w  erwerbstat_kurz_stp__1  \
0                39756700                41033520                43758350
1                 1401220                 1463090                 1585940
2                   45470                   46600                   52900
3                   45470                   46600                   52900
4                  119360                  124070                  139920

   erwerbstat_kurz_stp__1_m  erwerbstat_kurz_stp__1_w  \
0                  23001730                  20756620
1                    824160                    761780
2                     28410                     24490
3                     28410                     24490
4                     72500                     67420

   erwerbstat_kurz_stp__11  erwerbstat_kurz_stp__11_m  \
0                 41047770                   21622700
1                  1479510                     773840
2                    48070                      26040
3                    48070                      26040
4                   128800                      67060

   erwerbstat_kurz_stp__11_w  erwerbstat_kurz_stp__12  \
0                   19425070                  2710580
1                     705670                   106430
2                      22030                     4830
3                      22030                     4830
4                      61740                    11120

   erwerbstat_kurz_stp__12_m  erwerbstat_kurz_stp__12_w  \
0                    1379030                    1331550
1                      50320                      56110
2                       2360                       2460
3                       2360                       2460
4                       5440                       5680

   erwerbstat_kurz_stp__2  erwerbstat_kurz_stp__2_m  erwerbstat_kurz_stp__2_w
0                37031860                  16754970                  20276900
1                 1278370                    577060                    701310
2                   39170                     17060                     22110
3                   39170                     17060                     22110
4                  103510                     46860                     56650
CSV_ET_Alter:
   berichtszeitpunkt           _rs                name  \
0           20220515            00         Deutschland
1           20220515            01  Schleswig-Holstein
2           20220515         01001           Flensburg
3           20220515  010010000000           Flensburg
4           20220515         01002                Kiel

                        regionalebene  et_alter_erw  et_alter_erw__m  \
0                                Bund      41047770         21622700
1                                Land       1479510           773840
2  StadtkreiskreisfreieStadtLandkreis         48070            26040
3                            Gemeinde         48070            26040
4  StadtkreiskreisfreieStadtLandkreis        128800            67060

   et_alter_erw__w  et_alter_erw__1  et_alter_erw__1_m  et_alter_erw__1_w  \
0         19425070          1150950             601280             549660
1           705670            43110              22130              20990
2            22030             1190                660                540
3            22030             1190                660                540
4            61740             3900               1800               2100

   ...  et_alter_erw__4_w  et_alter_erw__5  et_alter_erw__5_m  \
0  ...            4004730         10567270            5473450
1  ...             147540           408640             209070
2  ...               4210            10530               5490
3  ...               4210            10530               5490
4  ...              10450            27330              13800

   et_alter_erw__5_w  et_alter_erw__6  et_alter_erw__6_m  et_alter_erw__6_w  \
0            5093820          4503560            2359280            2144280
1             199570           165800              86770              79030
2               5030             4550               2500               2050
3               5030             4550               2500               2050
4              13530            11580               5790               5790

   et_alter_erw__7  et_alter_erw__7_m  et_alter_erw__7_w
0          1025860             604330             421530
1            38700              23580              15120
2             1160                710                450
3             1160                710                450
4             2360               1510                850

[5 rows x 28 columns]
CSV_ET_Hoechst_berufl_Abschl:
   berichtszeitpunkt           _rs                name  \
0           20220515            00         Deutschland
1           20220515            01  Schleswig-Holstein
2           20220515         01001           Flensburg
3           20220515  010010000000           Flensburg
4           20220515         01002                Kiel

                        regionalebene  et_berufabs_kurz_stp  \
0                                Bund              41047770
1                                Land               1479510
2  StadtkreiskreisfreieStadtLandkreis                 48070
3                            Gemeinde                 48070
4  StadtkreiskreisfreieStadtLandkreis                128800

   et_berufabs_kurz_stp__m  et_berufabs_kurz_stp__w  et_berufabs_kurz_stp__1  \
0                 21622700                 19425070                 32511190
1                   773840                   705670                  1208310
2                    26040                    22030                    35970
3                    26040                    22030                    35970
4                    67060                    61740                    97680

   et_berufabs_kurz_stp__1_m  et_berufabs_kurz_stp__1_w  ...  \
0                   16932090                   15579100  ...
1                     626220                     582080  ...
2                      19160                      16820  ...
3                      19160                      16820  ...
4                      50070                      47610  ...

   et_berufabs_kurz_stp__11_w  et_berufabs_kurz_stp__12  \
0                     7692920                   5493720
1                      349190                    143200
2                        8870                      3980
3                        8870                      3980
4                       21640                      9350

   et_berufabs_kurz_stp__12_m  et_berufabs_kurz_stp__12_w  \
0                     2514800                     2978920
1                       63000                       80200
2                        1830                        2140
3                        1830                        2140
4                        3730                        5610

   et_berufabs_kurz_stp__13  et_berufabs_kurz_stp__13_m  \
0                  10312980                     5405710
1                    321310                      168610
2                     11950                        6160
3                     11950                        6160
4                     41770                       21400

   et_berufabs_kurz_stp__13_w  et_berufabs_kurz_stp__2  \
0                     4907270                  8536580
1                      152690                   271200
2                        5800                    12100
3                        5800                    12100
4                       20360                    31120

   et_berufabs_kurz_stp__2_m  et_berufabs_kurz_stp__2_w
0                    4690610                    3845970
1                     147610                     123590
2                       6890                       5210
3                       6890                       5210
4                      16990                      14120

[5 rows x 22 columns]
CSV_ET_Stellung_im_Beruf:
   berichtszeitpunkt           _rs                name  \
0           20220515            00         Deutschland
1           20220515            01  Schleswig-Holstein
2           20220515         01001           Flensburg
3           20220515  010010000000           Flensburg
4           20220515         01002                Kiel

                        regionalebene  et_stellgberf_stp  \
0                                Bund           41047770
1                                Land            1479510

## Schlüsselspalten (regionalebenen) erstellen
In diesem Abschnitt werden verschiedene Schlüsselspalten aus vorhandenen Daten extrahiert, um sie später als Primärschlüssel in den Dimensionstabellen zu verwenden. Dieser Schritt ist wichtig, um die Daten in die zweite Normalform zu bringen.

In [123]:
# Definieren der Regionalebenen
liste = [
    'Gemeinde',
    'Gemeindeverband',
    'Land',
    'Regierungsbezirk',
    'StadtkreiskreisfreieStadtLandkreis'
]

In [124]:
# Ein leeres Dictionary regionalebenen wird erstellt, um die DataFrames für jede Regionalebene zu speichern.
regionalebenen = {}
for ebene in liste: # Iteration über die Regionalebenen
    regionalebenen[ebene] = pd.DataFrame() # Für jede Ebene wird ein leerer DataFrame im Dictionary regionalebenen erstellt.
    for df in created_dfs.values():
        if 'regionalebene' in df.columns: # Innerhalb der Schleife über die DataFrames wird überprüft, ob die Spalte 'regionalebene' vorhanden ist.
            filtered_df = df[df['regionalebene'] == ebene][['_rs', 'name']] # Zeilen werden gefiltert und nur die Spalten '_rs' und 'name' behalten.
            regionalebenen[ebene] = pd.concat([regionalebenen[ebene], filtered_df], ignore_index=True)# Die gefilterten Zeilen werden an die dfs angehängt.
    regionalebenen[ebene] = regionalebenen[ebene].drop_duplicates().reset_index(drop=True) # Duplikate werden entfernt und der Index zurückgesetzt.

    # check
    print(f"Tabelle für {ebene} wurde erfolgreich erstellt.")
    print(regionalebenen[ebene].head())

Tabelle für Gemeinde wurde erfolgreich erstellt.
            _rs         name
0  010010000000    Flensburg
1  010020000000         Kiel
2  010030000000       Lübeck
3  010040000000   Neumünster
4  010510011011  Brunsbüttel
Tabelle für Gemeindeverband wurde erfolgreich erstellt.
         _rs                    name
0  010515163  Burg-St. Michaelisdonn
1  010515166           Marne-Nordsee
2  010515169                   Eider
3  010515172           Heider Umland
4  010515175      Mitteldithmarschen
Tabelle für Land wurde erfolgreich erstellt.
  _rs                 name
0  01   Schleswig-Holstein
1  02              Hamburg
2  03        Niedersachsen
3  04               Bremen
4  05  Nordrhein-Westfalen
Tabelle für Regierungsbezirk wurde erfolgreich erstellt.
   _rs                              name
0  031  Statistische Region Braunschweig
1  032      Statistische Region Hannover
2  033      Statistische Region Lüneburg
3  034     Statistische Region Weser-Ems
4  051              Reg.-Bez. Düsseldorf
Tabelle für StadtkreiskreisfreieStadtLandkreis wurde erfolgreich erstellt.
     _rs          name
0  01001     Flensburg
1  01002          Kiel
2  01003        Lübeck
3  01004    Neumünster
4  01051  Dithmarschen

In [125]:
regionalebenen['Regierungsbezirk']

    _rs                                 name
0   031     Statistische Region Braunschweig
1   032         Statistische Region Hannover
2   033         Statistische Region Lüneburg
3   034        Statistische Region Weser-Ems
4   051                 Reg.-Bez. Düsseldorf
5   053                       Reg.-Bez. Köln
6   055                    Reg.-Bez. Münster
7   057                    Reg.-Bez. Detmold
8   059                   Reg.-Bez. Arnsberg
9   064                  Reg.-Bez. Darmstadt
10  065                     Reg.-Bez. Gießen
11  066                     Reg.-Bez. Kassel
12  071            früher: Reg.-Bez. Koblenz
13  072              früher: Reg.-Bez. Trier
14  073  früher: Reg.-Bez. Rheinhessen-Pfalz
15  081                  Reg.-Bez. Stuttgart
16  082                  Reg.-Bez. Karlsruhe
17  083                   Reg.-Bez. Freiburg
18  084                   Reg.-Bez. Tübingen
19  091                           Oberbayern
20  092                         Niederbayern
21  093                            Oberpfalz
22  094                          Oberfranken
23  095                        Mittelfranken
24  096                         Unterfranken
25  097                             Schwaben
26  145    früher: Direktionsbezirk Chemnitz
27  146     früher: Direktionsbezirk Dresden
28  147     früher: Direktionsbezirk Leipzig

In [126]:
# Erstellen der Spalten für Gemeindeverbandsschlüssel (erste 9 Stellen)
for ebene in ['Gemeinde', 'Gemeindeverband']:
    regionalebenen[ebene]['gemeindeverbandsschluessel'] = regionalebenen[ebene]['_rs'].astype(str).str[:9]

# Erstellen der Spalten für Kreisschlüssel (erste 5 Stellen)
for ebene in ['Gemeinde','Gemeindeverband', 'StadtkreiskreisfreieStadtLandkreis']:
    regionalebenen[ebene]['kreisschluessel'] = regionalebenen[ebene]['_rs'].astype(str).str[:5]

# Erstellen der Spalten für Landesschlüssel (erste 3 Stellen)
for ebene in ['Gemeinde','StadtkreiskreisfreieStadtLandkreis', 'Regierungsbezirk']:
    regionalebenen[ebene]['regbezirkschluessel'] = regionalebenen[ebene]['_rs'].astype(str).str[:3]

# Erstellen der Spalten für Landesschlüssel (erste 2 Stellen)
for ebene in ['Gemeinde','Gemeindeverband','Regierungsbezirk', 'Land']:
    regionalebenen[ebene]['landesschluessel'] = regionalebenen[ebene]['_rs'].astype(str).str[:2]


# Alle Tabellen ohne die Spalte '_rs' speichern (ausser Gemeinde)
for ebene, df in regionalebenen.items():
    if ebene != 'Gemeinde':
        regionalebenen[ebene] = df.drop('_rs', axis=1)

# _rs in Gemeindeschlüssel umbenennen
regionalebenen['Gemeinde'] = regionalebenen['Gemeinde'].rename(columns={'_rs': 'gemeindeschluessel'})

In [127]:
# Überprüfen der ersten Zeilen der Tabellen

print("Gemeindetabelle:")
print(regionalebenen['Gemeinde'].head())

print("\nGemeindeverbandstabelle:")
print(regionalebenen['Gemeindeverband'].head())

print("\nKreis:")
print(regionalebenen['StadtkreiskreisfreieStadtLandkreis'].head())

print("\nRegBezirk:")
print(regionalebenen['Regierungsbezirk'].head())

print("\nLändertabelle:")
print(regionalebenen['Land'].head())

Gemeindetabelle:
  gemeindeschluessel         name gemeindeverbandsschluessel kreisschluessel  \
0       010010000000    Flensburg                  010010000           01001
1       010020000000         Kiel                  010020000           01002
2       010030000000       Lübeck                  010030000           01003
3       010040000000   Neumünster                  010040000           01004
4       010510011011  Brunsbüttel                  010510011           01051

  regbezirkschluessel landesschluessel
0                 010               01
1                 010               01
2                 010               01
3                 010               01
4                 010               01

Gemeindeverbandstabelle:
                     name gemeindeverbandsschluessel kreisschluessel  \
0  Burg-St. Michaelisdonn                  010515163           01051
1           Marne-Nordsee                  010515166           01051
2                   Eider                  010515169           01051
3           Heider Umland                  010515172           01051
4      Mitteldithmarschen                  010515175           01051

  landesschluessel
0               01
1               01
2               01
3               01
4               01

Kreis:
           name kreisschluessel regbezirkschluessel
0     Flensburg           01001                 010
1          Kiel           01002                 010
2        Lübeck           01003                 010
3    Neumünster           01004                 010
4  Dithmarschen           01051                 010

RegBezirk:
                               name regbezirkschluessel landesschluessel
0  Statistische Region Braunschweig                 031               03
1      Statistische Region Hannover                 032               03
2      Statistische Region Lüneburg                 033               03
3     Statistische Region Weser-Ems                 034               03
4              Reg.-Bez. Düsseldorf                 051               05

Ländertabelle:
                  name landesschluessel
0   Schleswig-Holstein               01
1              Hamburg               02
2        Niedersachsen               03
3               Bremen               04
4  Nordrhein-Westfalen               05

## Erstellung und Anpassung der Tabellen für die weiteren Daten
In diesem Abschnitt werden die Tabellen für die in tabellen_liste definierten Daten erstellt und die Spalten angepasst.

In [128]:
# Liste erstellen fuer die uebrigen dfs
tabellen_liste = [
    'CSV_Klassenstufe',
    'CSV_Schulform',
    'CSV_Hoechster_Schulabschluss',
    'CSV_Hoechster_berufl_Abschluss',
    'CSV_Erwerbsstatus',
    'CSV_ET_Alter',
    'CSV_ET_Hoechst_berufl_Abschl',
    'CSV_ET_Stellung_im_Beruf',
    'CSV_ET_Beruf_Hauptgr_ISCO08',
    'CSV_ET_Wirtschaftszweig'
]

In [129]:
# Ein leeres Dictionary andere_tabellen wird erstellt, um die bereinigten DataFrames zu speichern.
andere_tabellen = {}
# Iteration über die Liste der Tabellen
for tabelle in tabellen_liste:
    tabelle_name = tabelle.replace('CSV_', '').lower()  # Ersetzen von 'CSV_' durch '' und Umwandlung in Kleinbuchstaben
    df = created_dfs[tabelle].drop(columns=['berichtszeitpunkt', 'name', 'regionalebene']).drop_duplicates().reset_index(drop=True)  # Entfernen der Spalten
    
    # Eine neue Spalte schluessel wird erstellt, die den Inhalt der Spalte _rs als String-Wert speichert.
    df['schluessel'] = df['_rs'].astype(str) 
    df = df.drop(columns=['_rs']) # Entfernen der Spalte _rs
    df = df.fillna(0)  # NA-Werte durch 0 ersetzen
    
    # Verschieben der schluessel-Spalte an die erste Position
    cols = ['schluessel'] + [col for col in df if col != 'schluessel']
    df = df[cols]
    andere_tabellen[tabelle_name] = df  # Verwendung von tabelle_name statt tabelle

# Anzeigen aller Tabellennamen in andere_tabellen
print("Alle Tabellennamen in andere_tabellen:")
for table_name in andere_tabellen.keys():
    print(table_name)

Alle Tabellennamen in andere_tabellen:
klassenstufe
schulform
hoechster_schulabschluss
hoechster_berufl_abschluss
erwerbsstatus
et_alter
et_hoechst_berufl_abschl
et_stellung_im_beruf
et_beruf_hauptgr_isco08
et_wirtschaftszweig

In [130]:
for tabelle in andere_tabellen:
    print(f"Datentypen für Tabelle '{tabelle}':")
    print(andere_tabellen[tabelle].dtypes)
    print("\n")

Datentypen für Tabelle 'klassenstufe':
schluessel                object
schueler_klss_stp          int64
schueler_klss_stp__m       int64
schueler_klss_stp__w       int64
schueler_klss_stp__1       int64
schueler_klss_stp__1_m     int64
schueler_klss_stp__1_w     int64
schueler_klss_stp__2       int64
schueler_klss_stp__2_m     int64
schueler_klss_stp__2_w     int64
schueler_klss_stp__3       int64
schueler_klss_stp__3_m     int64
schueler_klss_stp__3_w     int64
dtype: object


Datentypen für Tabelle 'schulform':
schluessel               object
schueler_sch_stp          int64
schueler_sch_stp__m       int64
schueler_sch_stp__w       int64
schueler_sch_stp__1       int64
schueler_sch_stp__1_m     int64
schueler_sch_stp__1_w     int64
schueler_sch_stp__2       int64
schueler_sch_stp__2_m     int64
schueler_sch_stp__2_w     int64
schueler_sch_stp__3       int64
schueler_sch_stp__3_m     int64
schueler_sch_stp__3_w     int64
schueler_sch_stp__4       int64
schueler_sch_stp__4_m     int64
schueler_sch_stp__4_w     int64
schueler_sch_stp__5       int64
schueler_sch_stp__5_m     int64
schueler_sch_stp__5_w     int64
schueler_sch_stp__6       int64
schueler_sch_stp__6_m     int64
schueler_sch_stp__6_w     int64
schueler_sch_stp__7       int64
schueler_sch_stp__7_m     int64
schueler_sch_stp__7_w     int64
dtype: object


Datentypen für Tabelle 'hoechster_schulabschluss':
schluessel            object
schulabs_stp           int64
schulabs_stp__m        int64
schulabs_stp__w        int64
schulabs_stp__1        int64
schulabs_stp__1_m      int64
schulabs_stp__1_w      int64
schulabs_stp__2        int64
schulabs_stp__2_m      int64
schulabs_stp__2_w      int64
schulabs_stp__21       int64
schulabs_stp__21_m     int64
schulabs_stp__21_w     int64
schulabs_stp__22       int64
schulabs_stp__22_m     int64
schulabs_stp__22_w     int64
schulabs_stp__23       int64
schulabs_stp__23_m     int64
schulabs_stp__23_w     int64
schulabs_stp__24       int64
schulabs_stp__24_m     int64
schulabs_stp__24_w     int64
schulabs_stp__3        int64
schulabs_stp__3_m      int64
schulabs_stp__3_w      int64
dtype: object


Datentypen für Tabelle 'hoechster_berufl_abschluss':
schluessel                 object
berufabs_ausf_stp           int64
berufabs_ausf_stp__m        int64
berufabs_ausf_stp__w        int64
berufabs_ausf_stp__1        int64
berufabs_ausf_stp__1_m      int64
berufabs_ausf_stp__1_w      int64
berufabs_ausf_stp__11       int64
berufabs_ausf_stp__11_m     int64
berufabs_ausf_stp__11_w     int64
berufabs_ausf_stp__12       int64
berufabs_ausf_stp__12_m     int64
berufabs_ausf_stp__12_w     int64
berufabs_ausf_stp__13       int64
berufabs_ausf_stp__13_m     int64
berufabs_ausf_stp__13_w     int64
berufabs_ausf_stp__14       int64
berufabs_ausf_stp__14_m     int64
berufabs_ausf_stp__14_w     int64
berufabs_ausf_stp__15       int64
berufabs_ausf_stp__15_m     int64
berufabs_ausf_stp__15_w     int64
berufabs_ausf_stp__16       int64
berufabs_ausf_stp__16_m     int64
berufabs_ausf_stp__16_w     int64
berufabs_ausf_stp__17       int64
berufabs_ausf_stp__17_m     int64
berufabs_ausf_stp__17_w     int64
berufabs_ausf_stp__2        int64
berufabs_ausf_stp__2_m      int64
berufabs_ausf_stp__2_w      int64
dtype: object


Datentypen für Tabelle 'erwerbsstatus':
schluessel                   object
erwerbstat_kurz_stp           int64
erwerbstat_kurz_stp__m        int64
erwerbstat_kurz_stp__w        int64
erwerbstat_kurz_stp__1        int64
erwerbstat_kurz_stp__1_m      int64
erwerbstat_kurz_stp__1_w      int64
erwerbstat_kurz_stp__11       int64
erwerbstat_kurz_stp__11_m     int64
erwerbstat_kurz_stp__11_w     int64
erwerbstat_kurz_stp__12       int64
erwerbstat_kurz_stp__12_m     int64
erwerbstat_kurz_stp__12_w     int64
erwerbstat_kurz_stp__2        int64
erwerbstat_kurz_stp__2_m      int64
erwerbstat_kurz_stp__2_w      int64
dtype: object


Datentypen für Tabelle 'et_alter':
schluessel           object
et_alter_erw          int64
et_alter_erw__m       int64
et_alter_erw__w       int64
et_alter_erw__1       int64
et_alter_erw__1_m     int64
et_alter_erw__1_w     int64
et_alter_erw__2       int64
et_alter_erw__2_m     int64
et_alter_erw__2_w     int64
et_alter_erw__3       int64
et_alter_erw__3_m     int64
et_alter_erw__3_w     int64
et_alter_erw__4       int64
et_alter_erw__4_m     int64
et_alter_erw__4_w     int64
et_alter_erw__5       int64
et_alter_erw__5_m     int64
et_alter_erw__5_w     int64
et_alter_erw__6       int64
et_alter_erw__6_m     int64
et_alter_erw__6_w     int64
et_alter_erw__7       int64
et_alter_erw__7_m     int64
et_alter_erw__7_w     int64
dtype: object


Datentypen für Tabelle 'et_hoechst_berufl_abschl':
schluessel                    object
et_berufabs_kurz_stp           int64
et_berufabs_kurz_stp__m        int64
et_berufabs_kurz_stp__w        int64
et_berufabs_kurz_stp__1        int64
et_berufabs_kurz_stp__1_m      int64
et_berufabs_kurz_stp__1_w      int64
et_berufabs_kurz_stp__11       int64
et_berufabs_kurz_stp__11_m     int64
et_berufabs_kurz_stp__11_w     int64
et_berufabs_kurz_stp__12       int64
et_berufabs_kurz_stp__12_m     int64
et_berufabs_kurz_stp__12_w     int64
et_berufabs_kurz_stp__13       int64
et_berufabs_kurz_stp__13_m     int64
et_berufabs_kurz_stp__13_w     int64
et_berufabs_kurz_stp__2        int64
et_berufabs_kurz_stp__2_m      int64
et_berufabs_kurz_stp__2_w      int64
dtype: object


Datentypen für Tabelle 'et_stellung_im_beruf':
schluessel                object
et_stellgberf_stp          int64
et_stellgberf_stp__m       int64
et_stellgberf_stp__w       int64
et_stellgberf_stp__1       int64
et_stellgberf_stp__1_m     int64
et_stellgberf_stp__1_w     int64
et_stellgberf_stp__2       int64
et_stellgberf_stp__2_m     int64
et_stellgberf_stp__2_w     int64
et_stellgberf_stp__3       int64
et_stellgberf_stp__3_m     int64
et_stellgberf_stp__3_w     int64
et_stellgberf_stp__4       int64
et_stellgberf_stp__4_m     int64
et_stellgberf_stp__4_w     int64
et_stellgberf_stp__5       int64
et_stellgberf_stp__5_m     int64
et_stellgberf_stp__5_w     int64
dtype: object


Datentypen für Tabelle 'et_beruf_hauptgr_isco08':
schluessel                       object
et_berufsklss_hgisco_stp          int64
et_berufsklss_hgisco_stp__m       int64
et_berufsklss_hgisco_stp__w       int64
et_berufsklss_hgisco_stp__1       int64
et_berufsklss_hgisco_stp__1_m     int64
et_berufsklss_hgisco_stp__1_w     int64
et_berufsklss_hgisco_stp__2       int64
et_berufsklss_hgisco_stp__2_m     int64
et_berufsklss_hgisco_stp__2_w     int64
et_berufsklss_hgisco_stp__3       int64
et_berufsklss_hgisco_stp__3_m     int64
et_berufsklss_hgisco_stp__3_w     int64
et_berufsklss_hgisco_stp__4       int64
et_berufsklss_hgisco_stp__4_m     int64
et_berufsklss_hgisco_stp__4_w     int64
et_berufsklss_hgisco_stp__5       int64
et_berufsklss_hgisco_stp__5_m     int64
et_berufsklss_hgisco_stp__5_w     int64
et_berufsklss_hgisco_stp__6       int64
et_berufsklss_hgisco_stp__6_m     int64
et_berufsklss_hgisco_stp__6_w     int64
et_berufsklss_hgisco_stp__7       int64
et_berufsklss_hgisco_stp__7_m     int64
et_berufsklss_hgisco_stp__7_w     int64
et_berufsklss_hgisco_stp__8       int64
et_berufsklss_hgisco_stp__8_m     int64
et_berufsklss_hgisco_stp__8_w     int64
et_berufsklss_hgisco_stp__9       int64
et_berufsklss_hgisco_stp__9_m     int64
et_berufsklss_hgisco_stp__9_w     int64
et_berufsklss_hgisco_stp__0       int64
et_berufsklss_hgisco_stp__0_m     int64
et_berufsklss_hgisco_stp__0_w     int64
dtype: object


Datentypen für Tabelle 'et_wirtschaftszweig':
schluessel               object
et_wirtszwg_stp           int64
et_wirtszwg_stp__m        int64
et_wirtszwg_stp__w        int64
et_wirtszwg_stp__1        int64
et_wirtszwg_stp__1_m      int64
et_wirtszwg_stp__1_w      int64
et_wirtszwg_stp__2        int64
et_wirtszwg_stp__2_m      int64
et_wirtszwg_stp__2_w      int64
et_wirtszwg_stp__21       int64
et_wirtszwg_stp__21_m     int64
et_wirtszwg_stp__21_w     int64
et_wirtszwg_stp__22       int64
et_wirtszwg_stp__22_m     int64
et_wirtszwg_stp__22_w     int64
et_wirtszwg_stp__23       int64
et_wirtszwg_stp__23_m     int64
et_wirtszwg_stp__23_w     int64
et_wirtszwg_stp__3        int64
et_wirtszwg_stp__3_m      int64
et_wirtszwg_stp__3_w      int64
et_wirtszwg_stp__31       int64
et_wirtszwg_stp__31_m     int64
et_wirtszwg_stp__31_w     int64
et_wirtszwg_stp__32       int64
et_wirtszwg_stp__32_m     int64
et_wirtszwg_stp__32_w     int64
et_wirtszwg_stp__33       int64
et_wirtszwg_stp__33_m     int64
et_wirtszwg_stp__33_w     int64
et_wirtszwg_stp__34       int64
et_wirtszwg_stp__34_m     int64
et_wirtszwg_stp__34_w     int64
et_wirtszwg_stp__35       int64
et_wirtszwg_stp__35_m     int64
et_wirtszwg_stp__35_w     int64
et_wirtszwg_stp__36       int64
et_wirtszwg_stp__36_m     int64
et_wirtszwg_stp__36_w     int64
dtype: object

# Übertragung in die Datenbank (Load)
Die bereinigten und transformierten DataFrames werden in die PostgreSQL-Datenbank übertragen.

In [131]:

# Andere Tabellen in die PostgreSQL-Datenbank übertragen
for tabelle, df in andere_tabellen.items():
    df.to_sql(f'dim_{tabelle.lower()}', engine, if_exists='replace', index=False)

# Regionalebenen in die PostgreSQL-Datenbank übertragen
for ebene, df in regionalebenen.items():
    df.to_sql(f'dim_{ebene.lower()}', engine, if_exists='replace', index=False)

# Stadt_Typen in die PostgreSQL-Datenbank übertragen
stadt_typen.to_sql('dim_stadt_typen', engine, if_exists='replace', index=False)

print("DataFrames erfolgreich in die PostgreSQL-Datenbank übertragen.")

DataFrames erfolgreich in die PostgreSQL-Datenbank übertragen.