# import and read

In [167]:
import pandas as pd
import os
import sqlalchemy as sql
import numpy as np
import sqlite3

In [168]:
# Pfad zur Excel-Datei
file_path = 'C:\\Users\\hp\\OneDrive\\Desktop\\DBU\\SP3-1.Dateninfrastrukturen\\Pruefung\\Zensus\\input\\Zensus.xlsx'
# Lese die Excel-Datei ein und speichere die Blätter als einzelne DataFrames
sheets = pd.read_excel(file_path, sheet_name=None)
data_frames = {sheet_name: data for sheet_name, data in sheets.items() if sheet_name.startswith('CSV')}

# check
print("Dateninfrastruktur aufgesetzt und Excel-Daten geladen.")

Dateninfrastruktur aufgesetzt und Excel-Daten geladen.

In [169]:
# Speichern der DataFrames in separaten Variablen mit angepassten Namen
created_dfs = {}
for sheet_name, data in data_frames.items():
    # Ersetzen von '-' und '/' durch '_' in den Tabellenblätternamen
    new_sheet_name = sheet_name.replace('-', '_').replace('/', '_')
    
    # Ersetzen von '.', '/', '-' und '–' durch 0 in den Daten
    df = data.apply(lambda x: x.map(lambda y: 0 if y in ['.', '/', '-', '–'] else y))
    
    # Bereinigung der 'Regionalebene'-Spalte (Kreise)
    if 'Regionalebene' in df.columns:
        df['Regionalebene'] = df['Regionalebene'].str.replace('/', '_')

    # Umwandlung in numerische Typen für Spalten ab der 5.
    for col in df.columns[4:]:
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)
    
    globals()[new_sheet_name] = df
    created_dfs[new_sheet_name] = df

# Anzeigen der neuen Namen der erstellten DataFrames
print("Erstellte DataFrames:")
for df_name in created_dfs.keys():
    print(df_name)

Erstellte DataFrames:
CSV_Klassenstufe
CSV_Schulform
CSV_Hoechster_Schulabschluss
CSV_Hoechster_berufl_Abschluss
CSV_Erwerbsstatus
CSV_ET_Alter
CSV_ET_Hoechst_berufl_Abschl
CSV_ET_Stellung_im_Beruf
CSV_ET_Beruf_Hauptgr_ISCO08
CSV_ET_Wirtschaftszweig

In [170]:
# Überprüfung auf fehlende Werte in allen DataFrames und Konvertierung in numerische Typen
for i, df_name in enumerate(created_dfs):
    df = globals()[df_name]
    print(f"Missing values in DataFrame {i + 1} ({df_name}):")
    print(df.isnull().sum())
    for col in df.columns:
        if 'STP' in col:
            df[col] = pd.to_numeric(df[col], errors='coerce')  # Umwandlung in numerische Typen
    globals()[df_name] = df  # Aktualisieren des DataFrames in der globalen Variablen

Missing values in DataFrame 1 (CSV_Klassenstufe):
Berichtszeitpunkt         0
_RS                       0
Name                      0
Regionalebene             0
SCHUELER_KLSS_STP         0
SCHUELER_KLSS_STP__M      0
SCHUELER_KLSS_STP__W      0
SCHUELER_KLSS_STP__1      0
SCHUELER_KLSS_STP__1_M    0
SCHUELER_KLSS_STP__1_W    0
SCHUELER_KLSS_STP__2      0
SCHUELER_KLSS_STP__2_M    0
SCHUELER_KLSS_STP__2_W    0
SCHUELER_KLSS_STP__3      0
SCHUELER_KLSS_STP__3_M    0
SCHUELER_KLSS_STP__3_W    0
dtype: int64
Missing values in DataFrame 2 (CSV_Schulform):
Berichtszeitpunkt        0
_RS                      0
Name                     0
Regionalebene            0
SCHUELER_SCH_STP         0
SCHUELER_SCH_STP__M      0
SCHUELER_SCH_STP__W      0
SCHUELER_SCH_STP__1      0
SCHUELER_SCH_STP__1_M    0
SCHUELER_SCH_STP__1_W    0
SCHUELER_SCH_STP__2      0
SCHUELER_SCH_STP__2_M    0
SCHUELER_SCH_STP__2_W    0
SCHUELER_SCH_STP__3      0
SCHUELER_SCH_STP__3_M    0
SCHUELER_SCH_STP__3_W    0
SCHUELER_SCH_STP__4      0
SCHUELER_SCH_STP__4_M    0
SCHUELER_SCH_STP__4_W    0
SCHUELER_SCH_STP__5      0
SCHUELER_SCH_STP__5_M    0
SCHUELER_SCH_STP__5_W    0
SCHUELER_SCH_STP__6      0
SCHUELER_SCH_STP__6_M    0
SCHUELER_SCH_STP__6_W    0
SCHUELER_SCH_STP__7      0
SCHUELER_SCH_STP__7_M    0
SCHUELER_SCH_STP__7_W    0
dtype: int64
Missing values in DataFrame 3 (CSV_Hoechster_Schulabschluss):
Berichtszeitpunkt     0
_RS                   0
Name                  0
Regionalebene         0
SCHULABS_STP          0
SCHULABS_STP__M       0
SCHULABS_STP__W       0
SCHULABS_STP__1       0
SCHULABS_STP__1_M     0
SCHULABS_STP__1_W     0
SCHULABS_STP__2       0
SCHULABS_STP__2_M     0
SCHULABS_STP__2_W     0
SCHULABS_STP__21      0
SCHULABS_STP__21_M    0
SCHULABS_STP__21_W    0
SCHULABS_STP__22      0
SCHULABS_STP__22_M    0
SCHULABS_STP__22_W    0
SCHULABS_STP__23      0
SCHULABS_STP__23_M    0
SCHULABS_STP__23_W    0
SCHULABS_STP__24      0
SCHULABS_STP__24_M    0
SCHULABS_STP__24_W    0
SCHULABS_STP__3       0
SCHULABS_STP__3_M     0
SCHULABS_STP__3_W     0
dtype: int64
Missing values in DataFrame 4 (CSV_Hoechster_berufl_Abschluss):
Berichtszeitpunkt          0
_RS                        0
Name                       0
Regionalebene              0
BERUFABS_AUSF_STP          0
BERUFABS_AUSF_STP__M       0
BERUFABS_AUSF_STP__W       0
BERUFABS_AUSF_STP__1       0
BERUFABS_AUSF_STP__1_M     0
BERUFABS_AUSF_STP__1_W     0
BERUFABS_AUSF_STP__11      0
BERUFABS_AUSF_STP__11_M    0
BERUFABS_AUSF_STP__11_W    0
BERUFABS_AUSF_STP__12      0
BERUFABS_AUSF_STP__12_M    0
BERUFABS_AUSF_STP__12_W    0
BERUFABS_AUSF_STP__13      0
BERUFABS_AUSF_STP__13_M    0
BERUFABS_AUSF_STP__13_W    0
BERUFABS_AUSF_STP__14      0
BERUFABS_AUSF_STP__14_M    0
BERUFABS_AUSF_STP__14_W    0
BERUFABS_AUSF_STP__15      0
BERUFABS_AUSF_STP__15_M    0
BERUFABS_AUSF_STP__15_W    0
BERUFABS_AUSF_STP__16      0
BERUFABS_AUSF_STP__16_M    0
BERUFABS_AUSF_STP__16_W    0
BERUFABS_AUSF_STP__17      0
BERUFABS_AUSF_STP__17_M    0
BERUFABS_AUSF_STP__17_W    0
BERUFABS_AUSF_STP__2       0
BERUFABS_AUSF_STP__2_M     0
BERUFABS_AUSF_STP__2_W     0
dtype: int64
Missing values in DataFrame 5 (CSV_Erwerbsstatus):
Berichtszeitpunkt            0
_RS                          0
Name                         0
Regionalebene                0
ERWERBSTAT_KURZ_STP          0
ERWERBSTAT_KURZ_STP__M       0
ERWERBSTAT_KURZ_STP__W       0
ERWERBSTAT_KURZ_STP__1       0
ERWERBSTAT_KURZ_STP__1_M     0
ERWERBSTAT_KURZ_STP__1_W     0
ERWERBSTAT_KURZ_STP__11      0
ERWERBSTAT_KURZ_STP__11_M    0
ERWERBSTAT_KURZ_STP__11_W    0
ERWERBSTAT_KURZ_STP__12      0
ERWERBSTAT_KURZ_STP__12_M    0
ERWERBSTAT_KURZ_STP__12_W    0
ERWERBSTAT_KURZ_STP__2       0
ERWERBSTAT_KURZ_STP__2_M     0
ERWERBSTAT_KURZ_STP__2_W     0
dtype: int64
Missing values in DataFrame 6 (CSV_ET_Alter):
Berichtszeitpunkt    0
_RS                  0
Name                 0
Regionalebene        0
ET_ALTER_ERW         0
ET_ALTER_ERW__M      0
ET_ALTER_ERW__W      0
ET_ALTER_ERW__1      0
ET_ALTER_ERW__1_M    0
ET_ALTER_ERW__1_W    0
ET_ALTER_ERW__2      0
ET_ALTER_ERW__2_M    0
ET_ALTER_ERW__2_W    0
ET_ALTER_ERW__3      0
ET_ALTER_ERW__3_M    0
ET_ALTER_ERW__3_W    0
ET_ALTER_ERW__4      0
ET_ALTER_ERW__4_M    0
ET_ALTER_ERW__4_W    0
ET_ALTER_ERW__5      0
ET_ALTER_ERW__5_M    0
ET_ALTER_ERW__5_W    0
ET_ALTER_ERW__6      0
ET_ALTER_ERW__6_M    0
ET_ALTER_ERW__6_W    0
ET_ALTER_ERW__7      0
ET_ALTER_ERW__7_M    0
ET_ALTER_ERW__7_W    0
dtype: int64
Missing values in DataFrame 7 (CSV_ET_Hoechst_berufl_Abschl):
Berichtszeitpunkt             0
_RS                           0
Name                          0
Regionalebene                 0
ET_BERUFABS_KURZ_STP          0
ET_BERUFABS_KURZ_STP__M       0
ET_BERUFABS_KURZ_STP__W       0
ET_BERUFABS_KURZ_STP__1       0
ET_BERUFABS_KURZ_STP__1_M     0
ET_BERUFABS_KURZ_STP__1_W     0
ET_BERUFABS_KURZ_STP__11      0
ET_BERUFABS_KURZ_STP__11_M    0
ET_BERUFABS_KURZ_STP__11_W    0
ET_BERUFABS_KURZ_STP__12      0
ET_BERUFABS_KURZ_STP__12_M    0
ET_BERUFABS_KURZ_STP__12_W    0
ET_BERUFABS_KURZ_STP__13      0
ET_BERUFABS_KURZ_STP__13_M    0
ET_BERUFABS_KURZ_STP__13_W    0
ET_BERUFABS_KURZ_STP__2       0
ET_BERUFABS_KURZ_STP__2_M     0
ET_BERUFABS_KURZ_STP__2_W     0
dtype: int64
Missing values in DataFrame 8 (CSV_ET_Stellung_im_Beruf):
Berichtszeitpunkt         0
_RS                       0
Name                      0
Regionalebene             0
ET_STELLGBERF_STP         0
ET_STELLGBERF_STP__M      0
ET_STELLGBERF_STP__W      0
ET_STELLGBERF_STP__1      0
ET_STELLGBERF_STP__1_M    0
ET_STELLGBERF_STP__1_W    0
ET_STELLGBERF_STP__2      0
ET_STELLGBERF_STP__2_M    0
ET_STELLGBERF_STP__2_W    0
ET_STELLGBERF_STP__3      0
ET_STELLGBERF_STP__3_M    0
ET_STELLGBERF_STP__3_W    0
ET_STELLGBERF_STP__4      0
ET_STELLGBERF_STP__4_M    0
ET_STELLGBERF_STP__4_W    0
ET_STELLGBERF_STP__5      0
ET_STELLGBERF_STP__5_M    0
ET_STELLGBERF_STP__5_W    0
dtype: int64
Missing values in DataFrame 9 (CSV_ET_Beruf_Hauptgr_ISCO08):
Berichtszeitpunkt                0
_RS                              0
Name                             0
Regionalebene                    0
ET_BERUFSKLSS_HGISCO_STP         0
ET_BERUFSKLSS_HGISCO_STP__M      0
ET_BERUFSKLSS_HGISCO_STP__W      0
ET_BERUFSKLSS_HGISCO_STP__1      0
ET_BERUFSKLSS_HGISCO_STP__1_M    0
ET_BERUFSKLSS_HGISCO_STP__1_W    0
ET_BERUFSKLSS_HGISCO_STP__2      0
ET_BERUFSKLSS_HGISCO_STP__2_M    0
ET_BERUFSKLSS_HGISCO_STP__2_W    0
ET_BERUFSKLSS_HGISCO_STP__3      0
ET_BERUFSKLSS_HGISCO_STP__3_M    0
ET_BERUFSKLSS_HGISCO_STP__3_W    0
ET_BERUFSKLSS_HGISCO_STP__4      0
ET_BERUFSKLSS_HGISCO_STP__4_M    0
ET_BERUFSKLSS_HGISCO_STP__4_W    0
ET_BERUFSKLSS_HGISCO_STP__5      0
ET_BERUFSKLSS_HGISCO_STP__5_M    0
ET_BERUFSKLSS_HGISCO_STP__5_W    0
ET_BERUFSKLSS_HGISCO_STP__6      0
ET_BERUFSKLSS_HGISCO_STP__6_M    0
ET_BERUFSKLSS_HGISCO_STP__6_W    0
ET_BERUFSKLSS_HGISCO_STP__7      0
ET_BERUFSKLSS_HGISCO_STP__7_M    0
ET_BERUFSKLSS_HGISCO_STP__7_W    0
ET_BERUFSKLSS_HGISCO_STP__8      0
ET_BERUFSKLSS_HGISCO_STP__8_M    0
ET_BERUFSKLSS_HGISCO_STP__8_W    0
ET_BERUFSKLSS_HGISCO_STP__9      0
ET_BERUFSKLSS_HGISCO_STP__9_M    0
ET_BERUFSKLSS_HGISCO_STP__9_W    0
ET_BERUFSKLSS_HGISCO_STP__0      0
ET_BERUFSKLSS_HGISCO_STP__0_M    0
ET_BERUFSKLSS_HGISCO_STP__0_W    0
dtype: int64
Missing values in DataFrame 10 (CSV_ET_Wirtschaftszweig):
Berichtszeitpunkt        0
_RS                      0
Name                     0
Regionalebene            0
ET_WIRTSZWG_STP          0
ET_WIRTSZWG_STP__M       0
ET_WIRTSZWG_STP__W       0
ET_WIRTSZWG_STP__1       0
ET_WIRTSZWG_STP__1_M     0
ET_WIRTSZWG_STP__1_W     0
ET_WIRTSZWG_STP__2       0
ET_WIRTSZWG_STP__2_M     0
ET_WIRTSZWG_STP__2_W     0
ET_WIRTSZWG_STP__21      0
ET_WIRTSZWG_STP__21_M    0
ET_WIRTSZWG_STP__21_W    0
ET_WIRTSZWG_STP__22      0
ET_WIRTSZWG_STP__22_M    0
ET_WIRTSZWG_STP__22_W    0
ET_WIRTSZWG_STP__23      0
ET_WIRTSZWG_STP__23_M    0
ET_WIRTSZWG_STP__23_W    0
ET_WIRTSZWG_STP__3       0
ET_WIRTSZWG_STP__3_M     0
ET_WIRTSZWG_STP__3_W     0
ET_WIRTSZWG_STP__31      0
ET_WIRTSZWG_STP__31_M    0
ET_WIRTSZWG_STP__31_W    0
ET_WIRTSZWG_STP__32      0
ET_WIRTSZWG_STP__32_M    0
ET_WIRTSZWG_STP__32_W    0
ET_WIRTSZWG_STP__33      0
ET_WIRTSZWG_STP__33_M    0
ET_WIRTSZWG_STP__33_W    0
ET_WIRTSZWG_STP__34      0
ET_WIRTSZWG_STP__34_M    0
ET_WIRTSZWG_STP__34_W    0
ET_WIRTSZWG_STP__35      0
ET_WIRTSZWG_STP__35_M    0
ET_WIRTSZWG_STP__35_W    0
ET_WIRTSZWG_STP__36      0
ET_WIRTSZWG_STP__36_M    0
ET_WIRTSZWG_STP__36_W    0
dtype: int64

# EDA

In [171]:
CSV_Klassenstufe.groupby('Regionalebene')['SCHUELER_KLSS_STP'].sum()

Regionalebene
Bund                                     8903780
Gemeinde                                 6631640
Gemeindeverband                          1310750
Land                                     8903780
Regierungsbezirk                         7013880
Stadtkreis_kreisfreie Stadt_Landkreis    8903770
Name: SCHUELER_KLSS_STP, dtype: int64

# transform

## regionalebenen

In [172]:
# Definieren der Regionalebenen
liste = [
    'Bund',
    'Gemeinde',
    'Gemeindeverband',
    'Land',
    'Regierungsbezirk',
    'Stadtkreis/kreisfreie Stadt/Landkreis'
]

In [173]:
# Erstellen der Tabellen für alle Regionalebenen

# Liste für die  DataFrames
regionalebenen = {}
# Iteration über die liste der Regionalebenen
for ebene in liste:
    regionalebenen[ebene] = pd.DataFrame()
    # Iteration über die erstellten DataFrames um nur die ausgewählten Spalten zu filtern
    for df in created_dfs.values():
        if 'Regionalebene' in df.columns:
            filtered_df = df[df['Regionalebene'] == ebene][['_RS', 'Name']]
            regionalebenen[ebene] = pd.concat([regionalebenen[ebene], filtered_df], ignore_index=True)
    # Entfernen von Duplikaten
    regionalebenen[ebene] = regionalebenen[ebene].drop_duplicates().reset_index(drop=True)
    # check
    print(f"Tabelle für {ebene} wurde erfolgreich erstellt.")
    print(regionalebenen[ebene].head())

Tabelle für Bund wurde erfolgreich erstellt.
   _RS         Name
0    0  Deutschland
Tabelle für Gemeinde wurde erfolgreich erstellt.
           _RS                    Name
0  10010000000        Flensburg, Stadt
1  10020000000  Kiel, Landeshauptstadt
2  10030000000      Lübeck, Hansestadt
3  10040000000       Neumünster, Stadt
4  10510011011      Brunsbüttel, Stadt
Tabelle für Gemeindeverband wurde erfolgreich erstellt.
        _RS                    Name
0  10515163  Burg-St. Michaelisdonn
1  10515166           Marne-Nordsee
2  10515169                   Eider
3  10515172           Heider Umland
4  10515175      Mitteldithmarschen
Tabelle für Land wurde erfolgreich erstellt.
   _RS                 Name
0    1   Schleswig-Holstein
1    2              Hamburg
2    3        Niedersachsen
3    4               Bremen
4    5  Nordrhein-Westfalen
Tabelle für Regierungsbezirk wurde erfolgreich erstellt.
   _RS                              Name
0   31  Statistische Region Braunschweig
1   32      Statistische Region Hannover
2   33      Statistische Region Lüneburg
3   34     Statistische Region Weser-Ems
4   51              Reg.-Bez. Düsseldorf
Tabelle für Stadtkreis/kreisfreie Stadt/Landkreis wurde erfolgreich erstellt.
Empty DataFrame
Columns: [_RS, Name]
Index: []

In [174]:
# Beispiel für den Zugriff auf eine spezifische Ebene
gemeinde_df = regionalebenen['Gemeinde']
print("Beispiel für die Gemeindetabelle:")
print(gemeinde_df.head())

Beispiel für die Gemeindetabelle:
           _RS                    Name
0  10010000000        Flensburg, Stadt
1  10020000000  Kiel, Landeshauptstadt
2  10030000000      Lübeck, Hansestadt
3  10040000000       Neumünster, Stadt
4  10510011011      Brunsbüttel, Stadt

In [176]:
# Erstellen der Spalten für Gemeindeverbandsschlüssel (erste 8 Stellen)
for ebene in ['Gemeinde', 'Gemeindeverband']:
    regionalebenen[ebene]['Gemeindeverbandsschlüssel'] = regionalebenen[ebene]['_RS'].astype(str).str[:8].astype(int)

# Erstellen der Spalten für Kreisschlüssel (erste 4 Stellen)
for ebene in ['Gemeindeverband', 'Stadtkreis/kreisfreie Stadt/Landkreis']:
    regionalebenen[ebene]['Kreisschlüssel'] = regionalebenen[ebene]['_RS'].astype(str).str[:4].astype(int)

# Erstellen der Spalten für Landesschlüssel (erste 2 Stellen)
for ebene in ['Stadtkreis/kreisfreie Stadt/Landkreis', 'Land']:
    regionalebenen[ebene]['Landesschlüssel'] = regionalebenen[ebene]['_RS'].astype(str).str[:2].astype(int)

In [177]:
# Alle Tabellen ohne die Spalte '_RS' speichern (ausser Gemeinde)
for ebene, df in regionalebenen.items():
    if ebene != 'Gemeinde':
        regionalebenen[ebene] = df.drop('_RS', axis=1)

# _RS in Gemeindeschluessel umbenennen
regionalebenen['Gemeinde'] = regionalebenen['Gemeinde'].rename(columns={'_RS': 'Gemeindeschlüssel'})

In [178]:
# Überprüfen der ersten Zeilen der Tabellen

print("Gemeindetabelle:")
print(regionalebenen['Gemeinde'].head())

print("\nGemeindeverbandstabelle:")
print(regionalebenen['Gemeindeverband'].head())

print("\nKreis:")
print(regionalebenen['Stadtkreis/kreisfreie Stadt/Landkreis'].head())

print("\nLändertabelle:")
print(regionalebenen['Land'].head())

Gemeindetabelle:
   Gemeindeschlüssel                    Name  Gemeindeverbandsschlüssel
0        10010000000        Flensburg, Stadt                   10010000
1        10020000000  Kiel, Landeshauptstadt                   10020000
2        10030000000      Lübeck, Hansestadt                   10030000
3        10040000000       Neumünster, Stadt                   10040000
4        10510011011      Brunsbüttel, Stadt                   10510011

Gemeindeverbandstabelle:
                     Name  Gemeindeverbandsschlüssel  Kreisschlüssel
0  Burg-St. Michaelisdonn                   10515163            1051
1           Marne-Nordsee                   10515166            1051
2                   Eider                   10515169            1051
3           Heider Umland                   10515172            1051
4      Mitteldithmarschen                   10515175            1051

Kreis:
Empty DataFrame
Columns: [Name, Kreisschlüssel, Landesschlüssel]
Index: []

Ländertabelle:
                  Name  Landesschlüssel
0   Schleswig-Holstein                1
1              Hamburg                2
2        Niedersachsen                3
3               Bremen                4
4  Nordrhein-Westfalen                5

## restliche tabellen

In [179]:
# Liste erstellen fuer die uebrigen dfs
tabellen_liste = [
    'CSV_Klassenstufe',
    'CSV_Schulform',
    'CSV_Hoechster_Schulabschluss',
    'CSV_Hoechster_berufl_Abschluss',
    'CSV_Erwerbsstatus',
    'CSV_ET_Alter',
    'CSV_ET_Hoechst_berufl_Abschl',
    'CSV_ET_Stellung_im_Beruf',
    'CSV_ET_Beruf_Hauptgr_ISCO08',
    'CSV_ET_Wirtschaftszweig'
]

In [180]:
# Erstellen der Tabellen für alle definierten Tabellen und Konvertieren der Spalten

# Liste für die DataFrames
andere_tabellen = {}
# Iteration über die Liste der Tabellen
for tabelle in tabellen_liste:
    df = created_dfs[tabelle].drop(columns=['Berichtszeitpunkt', 'Name', 'Regionalebene']).drop_duplicates().reset_index(drop=True)
    df['Schluessel'] = df['_RS'].astype(int)# Erstellen einer Schluessel-Spalte aus der '_RS'-Spalte zu Integer
    df = df.drop(columns=['_RS'])
    df = df.fillna(0)  # NA-Werte durch 0 ersetzen
    # Konvertieren der Spalten in numerische Typen
    for col in df.columns:
        if df[col].dtype == object:
            df[col] = df[col].apply(lambda x: int(x) if str(x).isdigit() else 0)
        else:
            df[col] = df[col].astype(int)
    # Verschieben der Schluessel-Spalte an die erste Position
    cols = ['Schluessel'] + [col for col in df if col != 'Schluessel']
    df = df[cols]
    andere_tabellen[tabelle] = df
    # check
    print(f"Tabelle {tabelle} wurde erfolgreich erstellt.")
    print(andere_tabellen[tabelle].head())

Tabelle CSV_Klassenstufe wurde erfolgreich erstellt.
    Schluessel  SCHUELER_KLSS_STP  SCHUELER_KLSS_STP__M  SCHUELER_KLSS_STP__W  \
0            0            8903780               4536040               4367740
1            1             320060                162880                157180
2         1001              10380                  5010                  5370
3  10010000000              10380                  5010                  5370
4         1002              24340                 12270                 12070

   SCHUELER_KLSS_STP__1  SCHUELER_KLSS_STP__1_M  SCHUELER_KLSS_STP__1_W  \
0               3048570                 1563180                 1485400
1                109240                   54930                   54310
2                  3530                    1540                    1990
3                  3530                    1540                    1990
4                  8770                    4180                    4590

   SCHUELER_KLSS_STP__2  SCHUELER_KLSS_STP__2_M  SCHUELER_KLSS_STP__2_W  \
0               4490850                 2324270                 2166580
1                161100                   83860                   77240
2                  5030                    2700                    2330
3                  5030                    2700                    2330
4                 11180                    5810                    5360

   SCHUELER_KLSS_STP__3  SCHUELER_KLSS_STP__3_M  SCHUELER_KLSS_STP__3_W
0               1364360                  648590                  715760
1                 49720                   24090                   25630
2                  1820                     770                    1060
3                  1820                     770                    1060
4                  4400                    2280                    2120
Tabelle CSV_Schulform wurde erfolgreich erstellt.
    Schluessel  SCHUELER_SCH_STP  SCHUELER_SCH_STP__M  SCHUELER_SCH_STP__W  \
0            0           8903780              4536040              4367740
1            1            320060               162880               157180
2         1001             10380                 5010                 5370
3  10010000000             10380                 5010                 5370
4         1002             24340                12270                12070

   SCHUELER_SCH_STP__1  SCHUELER_SCH_STP__1_M  SCHUELER_SCH_STP__1_W  \
0              3033030                1544890                1488150
1               105520                  52830                  52690
2                 3320                   1380                   1940
3                 3320                   1380                   1940
4                 8280                   3910                   4370

   SCHUELER_SCH_STP__2  SCHUELER_SCH_STP__2_M  SCHUELER_SCH_STP__2_W  ...  \
0               231290                 147550                  83740  ...
1                 5680                   3870                   1800  ...
2                  340                    270                      0  ...
3                  340                    270                      0  ...
4                  310                      0                      0  ...

   SCHUELER_SCH_STP__4_W  SCHUELER_SCH_STP__5  SCHUELER_SCH_STP__5_M  \
0                 172590              1251860                 654280
1                   2660                16560                   8850
2                      0                  620                    390
3                      0                  620                    390
4                      0                 1090                    560

   SCHUELER_SCH_STP__5_W  SCHUELER_SCH_STP__6  SCHUELER_SCH_STP__6_M  \
0                 597590               838400                 433130
1                   7710                60880                  31750
2                    230                 1980                   1100
3                    230                 1980                   1100
4                    540                 4250                   2500

   SCHUELER_SCH_STP__6_W  SCHUELER_SCH_STP__7  SCHUELER_SCH_STP__7_M  \
0                 405270              2594630                1240010
1                  29130                92830                  45050
2                    880                 3040                   1360
3                    880                 3040                   1360
4                   1760                 7690                   3580

   SCHUELER_SCH_STP__7_W
0                1354630
1                  47780
2                   1680
3                   1680
4                   4110

[5 rows x 25 columns]
Tabelle CSV_Hoechster_Schulabschluss wurde erfolgreich erstellt.
    Schluessel  SCHULABS_STP  SCHULABS_STP__M  SCHULABS_STP__W  \
0            0      69451580         33941830         35509750
1            1       2473130          1200580          1272550
2         1001         80000            39400            40600
3  10010000000         80000            39400            40600
4         1002        212690           103790           108900

   SCHULABS_STP__1  SCHULABS_STP__1_M  SCHULABS_STP__1_W  SCHULABS_STP__2  \
0          2813430            1422440            1391000         61869570
1           103590              52550              51040          2252550
2             3590               1750               1830            71000
3             3590               1750               1830            71000
4             8570               4480               4090           190440

   SCHULABS_STP__2_M  SCHULABS_STP__2_W  ...  SCHULABS_STP__22_W  \
0           30110910           31758660  ...             1994110
1            1087850            1164710  ...               10340
2              34810              36190  ...                 230
3              34810              36190  ...                 230
4              92530              97910  ...                 620

   SCHULABS_STP__23  SCHULABS_STP__23_M  SCHULABS_STP__23_W  SCHULABS_STP__24  \
0          16671630             7509810             9161820          24244250
1            770050              345230              424820            805860
2             20330                9370               10960             30650
3             20330                9370               10960             30650
4             48090               21480               26610             99230

   SCHULABS_STP__24_M  SCHULABS_STP__24_W  SCHULABS_STP__3  SCHULABS_STP__3_M  \
0            12162150            12082090          4768580            2408490
1              401690              404180           116990              60190
2               16000               14650             5410               2830
3               16000               14650             5410               2830
4               49690               49540            13680               6780

   SCHULABS_STP__3_W
0            2360090
1              56810
2               2580
3               2580
4               6900

[5 rows x 25 columns]
Tabelle CSV_Hoechster_berufl_Abschluss wurde erfolgreich erstellt.
    Schluessel  BERUFABS_AUSF_STP  BERUFABS_AUSF_STP__M  BERUFABS_AUSF_STP__W  \
0            0           69451580              33941830              35509750
1            1            2473130               1200580               1272550
2         1001              80000                 39400                 40600
3  10010000000              80000                 39400                 40600
4         1002             212690                103790                108900

   BERUFABS_AUSF_STP__1  BERUFABS_AUSF_STP__1_M  BERUFABS_AUSF_STP__1_W  \
0              50585600                25157920                25427680
1               1885180                  930860                  954310
2                 55910                   28070                   27840
3                 55910                   28070                   27840
4                149880                   73350                   76530

   BERUFABS_AUSF_STP__11  BERUFABS_AUSF_STP__11_M  BERUFABS_AUSF_STP__11_W  \
0               28070250                 13963090                 14107150
1                1225220                   602340                   622880
2                  33590                    17070                    16520
3                  33590                    17070                    16520
4                  80410                    39280                    41130

   ...  BERUFABS_AUSF_STP__15_W  BERUFABS_AUSF_STP__16  \
0  ...                   950810                8176080
1  ...                    27520                 275740
2  ...                     1380                   9140
3  ...                     1380                   9140
4  ...                     4580                  28390

   BERUFABS_AUSF_STP__16_M  BERUFABS_AUSF_STP__16_W  BERUFABS_AUSF_STP__17  \
0                  4311610                  3864470                1146250
1                   147790                   127960                  29610
2                     4860                     4280                    690
3                     4860                     4280                    690
4                    14770                    13620                   4940

   BERUFABS_AUSF_STP__17_M  BERUFABS_AUSF_STP__17_W  BERUFABS_AUSF_STP__2  \
0                   720310                   425940              18865980
1                    17920                    11680                587950
2                      410                      280                 24090
3                      410                      280                 24090
4                     2950                     1990                 62810

   BERUFABS_AUSF_STP__2_M  BERUFABS_AUSF_STP__2_W
0                 8783920                10082070
1                  269720                  318240
2                   11330                   12760
3                   11330                   12760
4                   30430                   32380

[5 rows x 31 columns]
Tabelle CSV_Erwerbsstatus wurde erfolgreich erstellt.
    Schluessel  ERWERBSTAT_KURZ_STP  ERWERBSTAT_KURZ_STP__M  \
0            0             80790220                39756700
1            1              2864310                 1401220
2         1001                92070                   45470
3  10010000000                92070                   45470
4         1002               243430                  119360

   ERWERBSTAT_KURZ_STP__W  ERWERBSTAT_KURZ_STP__1  ERWERBSTAT_KURZ_STP__1_M  \
0                41033520                43758350                  23001730
1                 1463090                 1585940                    824160
2                   46600                   52900                     28410
3                   46600                   52900                     28410
4                  124070                  139920                     72500

   ERWERBSTAT_KURZ_STP__1_W  ERWERBSTAT_KURZ_STP__11  \
0                  20756620                 41047770
1                    761780                  1479510
2                     24490                    48070
3                     24490                    48070
4                     67420                   128800

   ERWERBSTAT_KURZ_STP__11_M  ERWERBSTAT_KURZ_STP__11_W  \
0                   21622700                   19425070
1                     773840                     705670
2                      26040                      22030
3                      26040                      22030
4                      67060                      61740

   ERWERBSTAT_KURZ_STP__12  ERWERBSTAT_KURZ_STP__12_M  \
0                  2710580                    1379030
1                   106430                      50320
2                     4830                       2360
3                     4830                       2360
4                    11120                       5440

   ERWERBSTAT_KURZ_STP__12_W  ERWERBSTAT_KURZ_STP__2  \
0                    1331550                37031860
1                      56110                 1278370
2                       2460                   39170
3                       2460                   39170
4                       5680                  103510

   ERWERBSTAT_KURZ_STP__2_M  ERWERBSTAT_KURZ_STP__2_W
0                  16754970                  20276900
1                    577060                    701310
2                     17060                     22110
3                     17060                     22110
4                     46860                     56650
Tabelle CSV_ET_Alter wurde erfolgreich erstellt.
    Schluessel  ET_ALTER_ERW  ET_ALTER_ERW__M  ET_ALTER_ERW__W  \
0            0      41047770         21622700         19425070
1            1       1479510           773840           705670
2         1001         48070            26040            22030
3  10010000000         48070            26040            22030
4         1002        128800            67060            61740

   ET_ALTER_ERW__1  ET_ALTER_ERW__1_M  ET_ALTER_ERW__1_W  ET_ALTER_ERW__2  \
0          1150950             601280             549660          6695970
1            43110              22130              20990           233760
2             1190                660                540            11760
3             1190                660                540            11760
4             3900               1800               2100            31210

   ET_ALTER_ERW__2_M  ET_ALTER_ERW__2_W  ...  ET_ALTER_ERW__4_W  \
0            3536140            3159830  ...            4004730
1             125440             108320  ...             147540
2               6150               5620  ...               4210
3               6150               5620  ...               4210
4              15830              15380  ...              10450

   ET_ALTER_ERW__5  ET_ALTER_ERW__5_M  ET_ALTER_ERW__5_W  ET_ALTER_ERW__6  \
0         10567270            5473450            5093820          4503560
1           408640             209070             199570           165800
2            10530               5490               5030             4550
3            10530               5490               5030             4550
4            27330              13800              13530            11580

   ET_ALTER_ERW__6_M  ET_ALTER_ERW__6_W  ET_ALTER_ERW__7  ET_ALTER_ERW__7_M  \
0            2359280            2144280          1025860             604330
1              86770              79030            38700              23580
2               2500               2050             1160                710
3               2500               2050             1160                710
4               5790               5790             2360               1510

   ET_ALTER_ERW__7_W
0             421530
1              15120
2                450
3                450
4                850

[5 rows x 25 columns]
Tabelle CSV_ET_Hoechst_berufl_Abschl wurde erfolgreich erstellt.
    Schluessel  ET_BERUFABS_KURZ_STP  ET_BERUFABS_KURZ_STP__M  \
0            0              41047770                 21622700
1            1               1479510                   773840
2         1001                 48070                    26040
3  10010000000                 48070                    26040
4         1002                128800                    67060

   ET_BERUFABS_KURZ_STP__W  ET_BERUFABS_KURZ_STP__1  \
0                 19425070                 32511190
1                   705670                  1208310
2                    22030                    35970
3                    22030                    35970
4                    61740                    97680

   ET_BERUFABS_KURZ_STP__1_M  ET_BERUFABS_KURZ_STP__1_W  \
0                   16932090                   15579100
1                     626220                     582080
2                      19160                      16820
3                      19160                      16820
4                      50070                      47610

   ET_BERUFABS_KURZ_STP__11  ET_BERUFABS_KURZ_STP__11_M  \
0                  16704500                     9011580
1                    743800                      394610
2                     20040                       11170
3                     20040                       11170
4                     46570                       24930

   ET_BERUFABS_KURZ_STP__11_W  ET_BERUFABS_KURZ_STP__12  \
0                     7692920                   5493720
1                      349190                    143200
2                        8870                      3980
3                        8870                      3980
4                       21640                      9350

   ET_BERUFABS_KURZ_STP__12_M  ET_BERUFABS_KURZ_STP__12_W  \
0                     2514800                     2978920
1                       63000                       80200
2                        1830                        2140
3                        1830                        2140
4                        3730                        5610

   ET_BERUFABS_KURZ_STP__13  ET_BERUFABS_KURZ_STP__13_M  \
0                  10312980                     5405710
1                    321310                      168610
2                     11950                        6160
3                     11950                        6160
4                     41770                       21400

   ET_BERUFABS_KURZ_STP__13_W  ET_BERUFABS_KURZ_STP__2  \
0                     4907270                  8536580
1                      152690                   271200
2                        5800                    12100
3                        5800                    12100
4                       20360                    31120

   ET_BERUFABS_KURZ_STP__2_M  ET_BERUFABS_KURZ_STP__2_W
0                    4690610                    3845970
1                     147610                     123590
2                       6890                       5210
3                       6890                       5210
4                      16990                      14120
Tabelle CSV_ET_Stellung_im_Beruf wurde erfolgreich erstellt.
    Schluessel  ET_STELLGBERF_STP  ET_STELLGBERF_STP__M  ET_STELLGBERF_STP__W  \
0            0           41047770              21622700              19425070
1            1            1479510                773840                705670
2         1001              48070                 26040                 22030
3  10010000000              48070                 26040                 22030
4         1002             128800                 67060                 61740

   ET_STELLGBERF_STP__1  ET_STELLGBERF_STP__1_M  ET_STELLGBERF_STP__1_W  \
0              35136770                18141720                16995050
1               1243900                  630670                  613230
2                 40790                   21710                   19090
3                 40790                   21710                   19090
4                110400                   56060                   54340

   ET_STELLGBERF_STP__2  ET_STELLGBERF_STP__2_M  ET_STELLGBERF_STP__2_W  \
0               2103730                 1047640                 1056090
1                 85660                   46740                   38920
2                  3240                    1870                    1360
3                  3240                    1870                    1360
4                  8870                    4780                    4090

   ET_STELLGBERF_STP__3  ET_STELLGBERF_STP__3_M  ET_STELLGBERF_STP__3_W  \
0               1937560                 1381550                  556020
1                 83740                   59120                   24610
2                  2140                    1450                     690
3                  2140                    1450                     690
4                  5020                    3530                    1480

   ET_STELLGBERF_STP__4  ET_STELLGBERF_STP__4_M  ET_STELLGBERF_STP__4_W  \
0               1598280                  940180                  658100

# export

In [181]:

#db_path = r'C:\Users\hp\OneDrive\Desktop\DBU\SP3-1.Dateninfrastrukturen\Pruefung\Zensus\temp\zensus.db.session.sql'
if not os.path.exists(os.path.dirname(db_path)):
    raise FileNotFoundError(f"Der Pfad {os.path.dirname(db_path)} existiert nicht.")

In [182]:
# Verbindung zur SQLite-Datenbank herstellen
conn = sqlite3.connect(db_path)

In [183]:
# Regionalebenen-Tabellen in die SQLite-Datenbank übertragen
for ebene, df in regionalebenen.items():
    df.to_sql(f'dim_{ebene.lower()}', conn, if_exists='replace', index=False)

In [184]:
# Andere Tabellen in die SQLite-Datenbank übertragen
for tabelle, df in andere_tabellen.items():
    df.to_sql(f'dim_{tabelle.lower()}', conn, if_exists='replace', index=False)

In [185]:
conn.close()
print("DataFrames erfolgreich in die SQLite-Datenbank übertragen.")

DataFrames erfolgreich in die SQLite-Datenbank übertragen.

# loeschen

In [186]:

# Verbindung zur SQLite-Datenbank herstellen
#conn = sqlite3.connect(r'C:\Users\hp\OneDrive\Desktop\DBU\SP3-1.Dateninfrastrukturen\Pruefung\Zensus\temp\zensus.db')
cursor = conn.cursor()

# Abrufen aller Tabellennamen in der Datenbank
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Droppen aller Tabellen
for table in tables:
    cursor.execute(f'DROP TABLE IF EXISTS "{table[0]}";')

conn.commit()
conn.close()
print("Alle Tabellen erfolgreich gelöscht.")

ProgrammingError: Cannot operate on a closed database.