# import and read

In [356]:
import pandas as pd
import os
import sqlalchemy as sql
import numpy as np

In [357]:
# Verbindung zur PostgreSQL-Datenbank herstellen
# Hier musst du die tatsächlichen Verbindungsdaten deiner PostgreSQL-Datenbank eingeben
db_username = 'dein_benutzername'
db_password = 'dein_passwort'
db_host = 'localhost'
db_port = '5432'
db_name = 'zensus'

engine = create_engine(f'postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')

# Pfad zur Excel-Datei
file_path = 'C:\\Users\\hp\\OneDrive\\Desktop\\DBU\\SP3-1.Dateninfrastrukturen\\Pruefung\\Zensus\\input\\Zensus.xlsx'
# Lese die Excel-Datei ein und speichere die Blätter als einzelne DataFrames
sheets = pd.read_excel(file_path, sheet_name=None)
data_frames = {sheet_name: data for sheet_name, data in sheets.items() if sheet_name.startswith('CSV')}

# check
print("Dateninfrastruktur aufgesetzt und Excel-Daten geladen.")

Dateninfrastruktur aufgesetzt und Excel-Daten geladen.

In [358]:
# Den Pfad kontrollieren
db_path = os.path.abspath('zensus.db')
print(f"Die SQLite-Datenbank wurde hier erstellt: {db_path}")

Die SQLite-Datenbank wurde hier erstellt: c:\Users\hp\OneDrive\Desktop\DBU\SP3-1.Dateninfrastrukturen\Pruefung\Zensus\notebooks\zensus.db

In [359]:
# Speichern der DataFrames in separaten Variablen mit angepassten Namen
created_dfs = {}
for sheet_name, data in data_frames.items():
    new_sheet_name = sheet_name.replace('-', '_')
    df = data.replace(['.', '/','_'], np.nan)  # Ersetzen von '.','_ und '/' durch NaN
    for col in df.columns:
        if 'STP' in col:
            df[col] = pd.to_numeric(df[col], errors='coerce')  # Umwandlung in numerische Typen
    globals()[new_sheet_name] = df
    created_dfs[new_sheet_name] = df

# Anzeigen der neuen Namen der erstellten DataFrames
print("Erstellte DataFrames:")
for df_name in created_dfs.keys():
    print(df_name)

C:\Users\hp\AppData\Local\Temp\ipykernel_12784\3764804539.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = data.replace(['.', '/','_'], np.nan)  # Ersetzen von '.','_ und '/' durch NaN

Erstellte DataFrames:
CSV_Klassenstufe
CSV_Schulform
CSV_Hoechster_Schulabschluss
CSV_Hoechster_berufl_Abschluss
CSV_Erwerbsstatus
CSV_ET_Alter
CSV_ET_Hoechst_berufl_Abschl
CSV_ET_Stellung_im_Beruf
CSV_ET_Beruf_Hauptgr_ISCO08
CSV_ET_Wirtschaftszweig

In [360]:
# Überprüfung auf fehlende Werte in allen DataFrames und Konvertierung in numerische Typen
for i, df_name in enumerate(created_dfs):
    df = globals()[df_name]
    print(f"Missing values in DataFrame {i + 1} ({df_name}):")
    print(df.isnull().sum())
    for col in df.columns:
        if 'STP' in col:
            df[col] = pd.to_numeric(df[col], errors='coerce')  # Umwandlung in numerische Typen
    globals()[df_name] = df  # Aktualisieren des DataFrames in der globalen Variablen

Missing values in DataFrame 1 (CSV_Klassenstufe):
Berichtszeitpunkt             0
_RS                           0
Name                          0
Regionalebene                 0
SCHUELER_KLSS_STP          9812
SCHUELER_KLSS_STP__M       9812
SCHUELER_KLSS_STP__W       9812
SCHUELER_KLSS_STP__1       9813
SCHUELER_KLSS_STP__1_M    10144
SCHUELER_KLSS_STP__1_W    10240
SCHUELER_KLSS_STP__2       9812
SCHUELER_KLSS_STP__2_M     9841
SCHUELER_KLSS_STP__2_W     9851
SCHUELER_KLSS_STP__3      10493
SCHUELER_KLSS_STP__3_M    11370
SCHUELER_KLSS_STP__3_W    11275
dtype: int64
Missing values in DataFrame 2 (CSV_Schulform):
Berichtszeitpunkt            0
_RS                          0
Name                         0
Regionalebene                0
SCHUELER_SCH_STP          9812
SCHUELER_SCH_STP__M       9812
SCHUELER_SCH_STP__W       9812
SCHUELER_SCH_STP__1       9813
SCHUELER_SCH_STP__1_M    10185
SCHUELER_SCH_STP__1_W    10264
SCHUELER_SCH_STP__2      11906
SCHUELER_SCH_STP__2_M    12046
SCHUELER_SCH_STP__2_W    12216
SCHUELER_SCH_STP__3      11443
SCHUELER_SCH_STP__3_M    11873
SCHUELER_SCH_STP__3_W    11880
SCHUELER_SCH_STP__4      11655
SCHUELER_SCH_STP__4_M    11936
SCHUELER_SCH_STP__4_W    12017
SCHUELER_SCH_STP__5      10490
SCHUELER_SCH_STP__5_M    11230
SCHUELER_SCH_STP__5_W    11321
SCHUELER_SCH_STP__6      11307
SCHUELER_SCH_STP__6_M    11745
SCHUELER_SCH_STP__6_W    11744
SCHUELER_SCH_STP__7       9874
SCHUELER_SCH_STP__7_M    10585
SCHUELER_SCH_STP__7_W    10433
dtype: int64
Missing values in DataFrame 3 (CSV_Hoechster_Schulabschluss):
Berichtszeitpunkt         0
_RS                       0
Name                      0
Regionalebene             0
SCHULABS_STP           9812
SCHULABS_STP__M        9812
SCHULABS_STP__W        9812
SCHULABS_STP__1        9823
SCHULABS_STP__1_M     10336
SCHULABS_STP__1_W     10378
SCHULABS_STP__2        9812
SCHULABS_STP__2_M      9812
SCHULABS_STP__2_W      9812
SCHULABS_STP__21       9812
SCHULABS_STP__21_M     9812
SCHULABS_STP__21_W     9813
SCHULABS_STP__22      10935
SCHULABS_STP__22_M    11459
SCHULABS_STP__22_W    11399
SCHULABS_STP__23       9812
SCHULABS_STP__23_M     9812
SCHULABS_STP__23_W     9812
SCHULABS_STP__24       9812
SCHULABS_STP__24_M     9812
SCHULABS_STP__24_W     9812
SCHULABS_STP__3        9850
SCHULABS_STP__3_M     10141
SCHULABS_STP__3_W     10178
dtype: int64
Missing values in DataFrame 4 (CSV_Hoechster_berufl_Abschluss):
Berichtszeitpunkt              0
_RS                            0
Name                           0
Regionalebene                  0
BERUFABS_AUSF_STP           9812
BERUFABS_AUSF_STP__M        9812
BERUFABS_AUSF_STP__W        9812
BERUFABS_AUSF_STP__1        9812
BERUFABS_AUSF_STP__1_M      9812
BERUFABS_AUSF_STP__1_W      9812
BERUFABS_AUSF_STP__11       9812
BERUFABS_AUSF_STP__11_M     9812
BERUFABS_AUSF_STP__11_W     9812
BERUFABS_AUSF_STP__12       9812
BERUFABS_AUSF_STP__12_M     9812
BERUFABS_AUSF_STP__12_W     9814
BERUFABS_AUSF_STP__13      11558
BERUFABS_AUSF_STP__13_M    11821
BERUFABS_AUSF_STP__13_W    11703
BERUFABS_AUSF_STP__14      10030
BERUFABS_AUSF_STP__14_M    10834
BERUFABS_AUSF_STP__14_W    10758
BERUFABS_AUSF_STP__15      10675
BERUFABS_AUSF_STP__15_M    11374
BERUFABS_AUSF_STP__15_W    11400
BERUFABS_AUSF_STP__16       9812
BERUFABS_AUSF_STP__16_M     9820
BERUFABS_AUSF_STP__16_W     9836
BERUFABS_AUSF_STP__17      11147
BERUFABS_AUSF_STP__17_M    11463
BERUFABS_AUSF_STP__17_W    11811
BERUFABS_AUSF_STP__2        9812
BERUFABS_AUSF_STP__2_M      9812
BERUFABS_AUSF_STP__2_W      9812
dtype: int64
Missing values in DataFrame 5 (CSV_Erwerbsstatus):
Berichtszeitpunkt                0
_RS                              0
Name                             0
Regionalebene                    0
ERWERBSTAT_KURZ_STP           9812
ERWERBSTAT_KURZ_STP__M        9812
ERWERBSTAT_KURZ_STP__W        9812
ERWERBSTAT_KURZ_STP__1        9812
ERWERBSTAT_KURZ_STP__1_M      9812
ERWERBSTAT_KURZ_STP__1_W      9812
ERWERBSTAT_KURZ_STP__11       9812
ERWERBSTAT_KURZ_STP__11_M     9812
ERWERBSTAT_KURZ_STP__11_W     9812
ERWERBSTAT_KURZ_STP__12       9924
ERWERBSTAT_KURZ_STP__12_M    10708
ERWERBSTAT_KURZ_STP__12_W    10709
ERWERBSTAT_KURZ_STP__2        9812
ERWERBSTAT_KURZ_STP__2_M      9812
ERWERBSTAT_KURZ_STP__2_W      9812
dtype: int64
Missing values in DataFrame 6 (CSV_ET_Alter):
Berichtszeitpunkt        0
_RS                      0
Name                     0
Regionalebene            0
ET_ALTER_ERW          9812
ET_ALTER_ERW__M       9812
ET_ALTER_ERW__W       9812
ET_ALTER_ERW__1      10530
ET_ALTER_ERW__1_M    11378
ET_ALTER_ERW__1_W    11438
ET_ALTER_ERW__2       9812
ET_ALTER_ERW__2_M     9836
ET_ALTER_ERW__2_W     9870
ET_ALTER_ERW__3       9812
ET_ALTER_ERW__3_M     9812
ET_ALTER_ERW__3_W     9812
ET_ALTER_ERW__4       9812
ET_ALTER_ERW__4_M     9812
ET_ALTER_ERW__4_W     9812
ET_ALTER_ERW__5       9812
ET_ALTER_ERW__5_M     9812
ET_ALTER_ERW__5_W     9812
ET_ALTER_ERW__6       9812
ET_ALTER_ERW__6_M     9821
ET_ALTER_ERW__6_W     9846
ET_ALTER_ERW__7      10720
ET_ALTER_ERW__7_M    11369
ET_ALTER_ERW__7_W    11625
dtype: int64
Missing values in DataFrame 7 (CSV_ET_Hoechst_berufl_Abschl):
Berichtszeitpunkt                0
_RS                              0
Name                             0
Regionalebene                    0
ET_BERUFABS_KURZ_STP          9812
ET_BERUFABS_KURZ_STP__M       9812
ET_BERUFABS_KURZ_STP__W       9812
ET_BERUFABS_KURZ_STP__1       9812
ET_BERUFABS_KURZ_STP__1_M     9812
ET_BERUFABS_KURZ_STP__1_W     9812
ET_BERUFABS_KURZ_STP__11      9812
ET_BERUFABS_KURZ_STP__11_M    9812
ET_BERUFABS_KURZ_STP__11_W    9812
ET_BERUFABS_KURZ_STP__12      9812
ET_BERUFABS_KURZ_STP__12_M    9835
ET_BERUFABS_KURZ_STP__12_W    9820
ET_BERUFABS_KURZ_STP__13      9812
ET_BERUFABS_KURZ_STP__13_M    9815
ET_BERUFABS_KURZ_STP__13_W    9820
ET_BERUFABS_KURZ_STP__2       9812
ET_BERUFABS_KURZ_STP__2_M     9815
ET_BERUFABS_KURZ_STP__2_W     9827
dtype: int64
Missing values in DataFrame 8 (CSV_ET_Stellung_im_Beruf):
Berichtszeitpunkt             0
_RS                           0
Name                          0
Regionalebene                 0
ET_STELLGBERF_STP          9812
ET_STELLGBERF_STP__M       9812
ET_STELLGBERF_STP__W       9812
ET_STELLGBERF_STP__1       9812
ET_STELLGBERF_STP__1_M     9812
ET_STELLGBERF_STP__1_W     9812
ET_STELLGBERF_STP__2      10038
ET_STELLGBERF_STP__2_M    10819
ET_STELLGBERF_STP__2_W    10803
ET_STELLGBERF_STP__3       9960
ET_STELLGBERF_STP__3_M    10335
ET_STELLGBERF_STP__3_W    11528
ET_STELLGBERF_STP__4      10367
ET_STELLGBERF_STP__4_M    11105
ET_STELLGBERF_STP__4_W    11465
ET_STELLGBERF_STP__5      11892
ET_STELLGBERF_STP__5_M    12152
ET_STELLGBERF_STP__5_W    12076
dtype: int64
Missing values in DataFrame 9 (CSV_ET_Beruf_Hauptgr_ISCO08):
Berichtszeitpunkt                    0
_RS                                  0
Name                                 0
Regionalebene                        0
ET_BERUFSKLSS_HGISCO_STP          9812
ET_BERUFSKLSS_HGISCO_STP__M       9812
ET_BERUFSKLSS_HGISCO_STP__W       9812
ET_BERUFSKLSS_HGISCO_STP__1      10064
ET_BERUFSKLSS_HGISCO_STP__1_M    10491
ET_BERUFSKLSS_HGISCO_STP__1_W    11499
ET_BERUFSKLSS_HGISCO_STP__2       9812
ET_BERUFSKLSS_HGISCO_STP__2_M     9831
ET_BERUFSKLSS_HGISCO_STP__2_W     9815
ET_BERUFSKLSS_HGISCO_STP__3       9812
ET_BERUFSKLSS_HGISCO_STP__3_M     9812
ET_BERUFSKLSS_HGISCO_STP__3_W     9812
ET_BERUFSKLSS_HGISCO_STP__4       9812
ET_BERUFSKLSS_HGISCO_STP__4_M    10108
ET_BERUFSKLSS_HGISCO_STP__4_W     9812
ET_BERUFSKLSS_HGISCO_STP__5       9812
ET_BERUFSKLSS_HGISCO_STP__5_M    10002
ET_BERUFSKLSS_HGISCO_STP__5_W     9812
ET_BERUFSKLSS_HGISCO_STP__6      11421
ET_BERUFSKLSS_HGISCO_STP__6_M    11622
ET_BERUFSKLSS_HGISCO_STP__6_W    12140
ET_BERUFSKLSS_HGISCO_STP__7       9813
ET_BERUFSKLSS_HGISCO_STP__7_M     9813
ET_BERUFSKLSS_HGISCO_STP__7_W    11482
ET_BERUFSKLSS_HGISCO_STP__8       9915
ET_BERUFSKLSS_HGISCO_STP__8_M     9992
ET_BERUFSKLSS_HGISCO_STP__8_W    11689
ET_BERUFSKLSS_HGISCO_STP__9       9831
ET_BERUFSKLSS_HGISCO_STP__9_M    10412
ET_BERUFSKLSS_HGISCO_STP__9_W    10132
ET_BERUFSKLSS_HGISCO_STP__0      12055
ET_BERUFSKLSS_HGISCO_STP__0_M    12086
ET_BERUFSKLSS_HGISCO_STP__0_W    12385
dtype: int64
Missing values in DataFrame 10 (CSV_ET_Wirtschaftszweig):
Berichtszeitpunkt            0
_RS                          0
Name                         0
Regionalebene                0
ET_WIRTSZWG_STP           9812
ET_WIRTSZWG_STP__M        9812
ET_WIRTSZWG_STP__W        9812
ET_WIRTSZWG_STP__1       11080
ET_WIRTSZWG_STP__1_M     11462
ET_WIRTSZWG_STP__1_W     11922
ET_WIRTSZWG_STP__2        9812
ET_WIRTSZWG_STP__2_M      9812
ET_WIRTSZWG_STP__2_W      9854
ET_WIRTSZWG_STP__21       9812
ET_WIRTSZWG_STP__21_M     9812
ET_WIRTSZWG_STP__21_W    10002
ET_WIRTSZWG_STP__22      11404
ET_WIRTSZWG_STP__22_M    11610
ET_WIRTSZWG_STP__22_W    12119
ET_WIRTSZWG_STP__23       9829
ET_WIRTSZWG_STP__23_M     9865
ET_WIRTSZWG_STP__23_W    11662
ET_WIRTSZWG_STP__3        9812
ET_WIRTSZWG_STP__3_M      9812
ET_WIRTSZWG_STP__3_W      9812
ET_WIRTSZWG_STP__31       9812
ET_WIRTSZWG_STP__31_M     9854
ET_WIRTSZWG_STP__31_W     9816
ET_WIRTSZWG_STP__32       9821
ET_WIRTSZWG_STP__32_M     9869
ET_WIRTSZWG_STP__32_W    10888
ET_WIRTSZWG_STP__33      10565
ET_WIRTSZWG_STP__33_M    11419
ET_WIRTSZWG_STP__33_W    11254
ET_WIRTSZWG_STP__34       9917
ET_WIRTSZWG_STP__34_M    10555
ET_WIRTSZWG_STP__34_W    10677
ET_WIRTSZWG_STP__35       9841
ET_WIRTSZWG_STP__35_M    10475
ET_WIRTSZWG_STP__35_W    10267
ET_WIRTSZWG_STP__36       9812
ET_WIRTSZWG_STP__36_M     9821
ET_WIRTSZWG_STP__36_W     9812
dtype: int64

# EDA

In [361]:
for df_name, df in created_dfs.items():
    print(f"Spalten in {df_name}:")
    print(df.columns)
    print("\n")

Spalten in CSV_Klassenstufe:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene',
       'SCHUELER_KLSS_STP', 'SCHUELER_KLSS_STP__M', 'SCHUELER_KLSS_STP__W',
       'SCHUELER_KLSS_STP__1', 'SCHUELER_KLSS_STP__1_M',
       'SCHUELER_KLSS_STP__1_W', 'SCHUELER_KLSS_STP__2',
       'SCHUELER_KLSS_STP__2_M', 'SCHUELER_KLSS_STP__2_W',
       'SCHUELER_KLSS_STP__3', 'SCHUELER_KLSS_STP__3_M',
       'SCHUELER_KLSS_STP__3_W'],
      dtype='object')


Spalten in CSV_Schulform:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene', 'SCHUELER_SCH_STP',
       'SCHUELER_SCH_STP__M', 'SCHUELER_SCH_STP__W', 'SCHUELER_SCH_STP__1',
       'SCHUELER_SCH_STP__1_M', 'SCHUELER_SCH_STP__1_W', 'SCHUELER_SCH_STP__2',
       'SCHUELER_SCH_STP__2_M', 'SCHUELER_SCH_STP__2_W', 'SCHUELER_SCH_STP__3',
       'SCHUELER_SCH_STP__3_M', 'SCHUELER_SCH_STP__3_W', 'SCHUELER_SCH_STP__4',
       'SCHUELER_SCH_STP__4_M', 'SCHUELER_SCH_STP__4_W', 'SCHUELER_SCH_STP__5',
       'SCHUELER_SCH_STP__5_M', 'SCHUELER_SCH_STP__5_W', 'SCHUELER_SCH_STP__6',
       'SCHUELER_SCH_STP__6_M', 'SCHUELER_SCH_STP__6_W', 'SCHUELER_SCH_STP__7',
       'SCHUELER_SCH_STP__7_M', 'SCHUELER_SCH_STP__7_W'],
      dtype='object')


Spalten in CSV_Hoechster_Schulabschluss:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene', 'SCHULABS_STP',
       'SCHULABS_STP__M', 'SCHULABS_STP__W', 'SCHULABS_STP__1',
       'SCHULABS_STP__1_M', 'SCHULABS_STP__1_W', 'SCHULABS_STP__2',
       'SCHULABS_STP__2_M', 'SCHULABS_STP__2_W', 'SCHULABS_STP__21',
       'SCHULABS_STP__21_M', 'SCHULABS_STP__21_W', 'SCHULABS_STP__22',
       'SCHULABS_STP__22_M', 'SCHULABS_STP__22_W', 'SCHULABS_STP__23',
       'SCHULABS_STP__23_M', 'SCHULABS_STP__23_W', 'SCHULABS_STP__24',
       'SCHULABS_STP__24_M', 'SCHULABS_STP__24_W', 'SCHULABS_STP__3',
       'SCHULABS_STP__3_M', 'SCHULABS_STP__3_W'],
      dtype='object')


Spalten in CSV_Hoechster_berufl_Abschluss:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene',
       'BERUFABS_AUSF_STP', 'BERUFABS_AUSF_STP__M', 'BERUFABS_AUSF_STP__W',
       'BERUFABS_AUSF_STP__1', 'BERUFABS_AUSF_STP__1_M',
       'BERUFABS_AUSF_STP__1_W', 'BERUFABS_AUSF_STP__11',
       'BERUFABS_AUSF_STP__11_M', 'BERUFABS_AUSF_STP__11_W',
       'BERUFABS_AUSF_STP__12', 'BERUFABS_AUSF_STP__12_M',
       'BERUFABS_AUSF_STP__12_W', 'BERUFABS_AUSF_STP__13',
       'BERUFABS_AUSF_STP__13_M', 'BERUFABS_AUSF_STP__13_W',
       'BERUFABS_AUSF_STP__14', 'BERUFABS_AUSF_STP__14_M',
       'BERUFABS_AUSF_STP__14_W', 'BERUFABS_AUSF_STP__15',
       'BERUFABS_AUSF_STP__15_M', 'BERUFABS_AUSF_STP__15_W',
       'BERUFABS_AUSF_STP__16', 'BERUFABS_AUSF_STP__16_M',
       'BERUFABS_AUSF_STP__16_W', 'BERUFABS_AUSF_STP__17',
       'BERUFABS_AUSF_STP__17_M', 'BERUFABS_AUSF_STP__17_W',
       'BERUFABS_AUSF_STP__2', 'BERUFABS_AUSF_STP__2_M',
       'BERUFABS_AUSF_STP__2_W'],
      dtype='object')


Spalten in CSV_Erwerbsstatus:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene',
       'ERWERBSTAT_KURZ_STP', 'ERWERBSTAT_KURZ_STP__M',
       'ERWERBSTAT_KURZ_STP__W', 'ERWERBSTAT_KURZ_STP__1',
       'ERWERBSTAT_KURZ_STP__1_M', 'ERWERBSTAT_KURZ_STP__1_W',
       'ERWERBSTAT_KURZ_STP__11', 'ERWERBSTAT_KURZ_STP__11_M',
       'ERWERBSTAT_KURZ_STP__11_W', 'ERWERBSTAT_KURZ_STP__12',
       'ERWERBSTAT_KURZ_STP__12_M', 'ERWERBSTAT_KURZ_STP__12_W',
       'ERWERBSTAT_KURZ_STP__2', 'ERWERBSTAT_KURZ_STP__2_M',
       'ERWERBSTAT_KURZ_STP__2_W'],
      dtype='object')


Spalten in CSV_ET_Alter:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene', 'ET_ALTER_ERW',
       'ET_ALTER_ERW__M', 'ET_ALTER_ERW__W', 'ET_ALTER_ERW__1',
       'ET_ALTER_ERW__1_M', 'ET_ALTER_ERW__1_W', 'ET_ALTER_ERW__2',
       'ET_ALTER_ERW__2_M', 'ET_ALTER_ERW__2_W', 'ET_ALTER_ERW__3',
       'ET_ALTER_ERW__3_M', 'ET_ALTER_ERW__3_W', 'ET_ALTER_ERW__4',
       'ET_ALTER_ERW__4_M', 'ET_ALTER_ERW__4_W', 'ET_ALTER_ERW__5',
       'ET_ALTER_ERW__5_M', 'ET_ALTER_ERW__5_W', 'ET_ALTER_ERW__6',
       'ET_ALTER_ERW__6_M', 'ET_ALTER_ERW__6_W', 'ET_ALTER_ERW__7',
       'ET_ALTER_ERW__7_M', 'ET_ALTER_ERW__7_W'],
      dtype='object')


Spalten in CSV_ET_Hoechst_berufl_Abschl:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene',
       'ET_BERUFABS_KURZ_STP', 'ET_BERUFABS_KURZ_STP__M',
       'ET_BERUFABS_KURZ_STP__W', 'ET_BERUFABS_KURZ_STP__1',
       'ET_BERUFABS_KURZ_STP__1_M', 'ET_BERUFABS_KURZ_STP__1_W',
       'ET_BERUFABS_KURZ_STP__11', 'ET_BERUFABS_KURZ_STP__11_M',
       'ET_BERUFABS_KURZ_STP__11_W', 'ET_BERUFABS_KURZ_STP__12',
       'ET_BERUFABS_KURZ_STP__12_M', 'ET_BERUFABS_KURZ_STP__12_W',
       'ET_BERUFABS_KURZ_STP__13', 'ET_BERUFABS_KURZ_STP__13_M',
       'ET_BERUFABS_KURZ_STP__13_W', 'ET_BERUFABS_KURZ_STP__2',
       'ET_BERUFABS_KURZ_STP__2_M', 'ET_BERUFABS_KURZ_STP__2_W'],
      dtype='object')


Spalten in CSV_ET_Stellung_im_Beruf:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene',
       'ET_STELLGBERF_STP', 'ET_STELLGBERF_STP__M', 'ET_STELLGBERF_STP__W',
       'ET_STELLGBERF_STP__1', 'ET_STELLGBERF_STP__1_M',
       'ET_STELLGBERF_STP__1_W', 'ET_STELLGBERF_STP__2',
       'ET_STELLGBERF_STP__2_M', 'ET_STELLGBERF_STP__2_W',
       'ET_STELLGBERF_STP__3', 'ET_STELLGBERF_STP__3_M',
       'ET_STELLGBERF_STP__3_W', 'ET_STELLGBERF_STP__4',
       'ET_STELLGBERF_STP__4_M', 'ET_STELLGBERF_STP__4_W',
       'ET_STELLGBERF_STP__5', 'ET_STELLGBERF_STP__5_M',
       'ET_STELLGBERF_STP__5_W'],
      dtype='object')


Spalten in CSV_ET_Beruf_Hauptgr_ISCO08:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene',
       'ET_BERUFSKLSS_HGISCO_STP', 'ET_BERUFSKLSS_HGISCO_STP__M',
       'ET_BERUFSKLSS_HGISCO_STP__W', 'ET_BERUFSKLSS_HGISCO_STP__1',
       'ET_BERUFSKLSS_HGISCO_STP__1_M', 'ET_BERUFSKLSS_HGISCO_STP__1_W',
       'ET_BERUFSKLSS_HGISCO_STP__2', 'ET_BERUFSKLSS_HGISCO_STP__2_M',
       'ET_BERUFSKLSS_HGISCO_STP__2_W', 'ET_BERUFSKLSS_HGISCO_STP__3',
       'ET_BERUFSKLSS_HGISCO_STP__3_M', 'ET_BERUFSKLSS_HGISCO_STP__3_W',
       'ET_BERUFSKLSS_HGISCO_STP__4', 'ET_BERUFSKLSS_HGISCO_STP__4_M',
       'ET_BERUFSKLSS_HGISCO_STP__4_W', 'ET_BERUFSKLSS_HGISCO_STP__5',
       'ET_BERUFSKLSS_HGISCO_STP__5_M', 'ET_BERUFSKLSS_HGISCO_STP__5_W',
       'ET_BERUFSKLSS_HGISCO_STP__6', 'ET_BERUFSKLSS_HGISCO_STP__6_M',
       'ET_BERUFSKLSS_HGISCO_STP__6_W', 'ET_BERUFSKLSS_HGISCO_STP__7',
       'ET_BERUFSKLSS_HGISCO_STP__7_M', 'ET_BERUFSKLSS_HGISCO_STP__7_W',
       'ET_BERUFSKLSS_HGISCO_STP__8', 'ET_BERUFSKLSS_HGISCO_STP__8_M',
       'ET_BERUFSKLSS_HGISCO_STP__8_W', 'ET_BERUFSKLSS_HGISCO_STP__9',
       'ET_BERUFSKLSS_HGISCO_STP__9_M', 'ET_BERUFSKLSS_HGISCO_STP__9_W',
       'ET_BERUFSKLSS_HGISCO_STP__0', 'ET_BERUFSKLSS_HGISCO_STP__0_M',
       'ET_BERUFSKLSS_HGISCO_STP__0_W'],
      dtype='object')


Spalten in CSV_ET_Wirtschaftszweig:
Index(['Berichtszeitpunkt', '_RS', 'Name', 'Regionalebene', 'ET_WIRTSZWG_STP',
       'ET_WIRTSZWG_STP__M', 'ET_WIRTSZWG_STP__W', 'ET_WIRTSZWG_STP__1',
       'ET_WIRTSZWG_STP__1_M', 'ET_WIRTSZWG_STP__1_W', 'ET_WIRTSZWG_STP__2',
       'ET_WIRTSZWG_STP__2_M', 'ET_WIRTSZWG_STP__2_W', 'ET_WIRTSZWG_STP__21',
       'ET_WIRTSZWG_STP__21_M', 'ET_WIRTSZWG_STP__21_W', 'ET_WIRTSZWG_STP__22',
       'ET_WIRTSZWG_STP__22_M', 'ET_WIRTSZWG_STP__22_W', 'ET_WIRTSZWG_STP__23',
       'ET_WIRTSZWG_STP__23_M', 'ET_WIRTSZWG_STP__23_W', 'ET_WIRTSZWG_STP__3',
       'ET_WIRTSZWG_STP__3_M', 'ET_WIRTSZWG_STP__3_W', 'ET_WIRTSZWG_STP__31',
       'ET_WIRTSZWG_STP__31_M', 'ET_WIRTSZWG_STP__31_W', 'ET_WIRTSZWG_STP__32',
       'ET_WIRTSZWG_STP__32_M', 'ET_WIRTSZWG_STP__32_W', 'ET_WIRTSZWG_STP__33',
       'ET_WIRTSZWG_STP__33_M', 'ET_WIRTSZWG_STP__33_W', 'ET_WIRTSZWG_STP__34',
       'ET_WIRTSZWG_STP__34_M', 'ET_WIRTSZWG_STP__34_W', 'ET_WIRTSZWG_STP__35',
       'ET_WIRTSZWG_STP__35_M', 'ET_WIRTSZWG_STP__35_W', 'ET_WIRTSZWG_STP__36',
       'ET_WIRTSZWG_STP__36_M', 'ET_WIRTSZWG_STP__36_W'],
      dtype='object')

In [362]:
CSV_Klassenstufe.groupby('Regionalebene')['SCHUELER_KLSS_STP'].sum()

Regionalebene
Bund                                     8903780.0
Gemeinde                                 6631640.0
Gemeindeverband                          1310750.0
Land                                     8903780.0
Regierungsbezirk                         7013880.0
Stadtkreis/kreisfreie Stadt/Landkreis    8903770.0
Name: SCHUELER_KLSS_STP, dtype: float64

# transform

##

In [363]:
# Definieren der Regionalebenen
liste = [
    'Bund',
    'Gemeinde',
    'Gemeindeverband',
    'Land',
    'Regierungsbezirk',
    'Stadtkreis/kreisfreie Stadt/Landkreis'
]

In [364]:
# Erstellen der Tabellen für alle Regionalebenen
regionalebenen = {}
for ebene in liste:
    regionalebenen[ebene] = pd.DataFrame()
    for df in created_dfs.values():
        if 'Regionalebene' in df.columns:
            filtered_df = df[df['Regionalebene'] == ebene][['Berichtszeitpunkt', '_RS', 'Name']]
            regionalebenen[ebene] = pd.concat([regionalebenen[ebene], filtered_df], ignore_index=True)
    regionalebenen[ebene] = regionalebenen[ebene].drop_duplicates().reset_index(drop=True)
    print(f"Tabelle für {ebene} wurde erfolgreich erstellt.")
    print(regionalebenen[ebene].head())

Tabelle für Bund wurde erfolgreich erstellt.
   Berichtszeitpunkt  _RS         Name
0           20220515    0  Deutschland
Tabelle für Gemeinde wurde erfolgreich erstellt.
   Berichtszeitpunkt          _RS                    Name
0           20220515  10010000000        Flensburg, Stadt
1           20220515  10020000000  Kiel, Landeshauptstadt
2           20220515  10030000000      Lübeck, Hansestadt
3           20220515  10040000000       Neumünster, Stadt
4           20220515  10510011011      Brunsbüttel, Stadt
Tabelle für Gemeindeverband wurde erfolgreich erstellt.
   Berichtszeitpunkt       _RS                    Name
0           20220515  10515163  Burg-St. Michaelisdonn
1           20220515  10515166           Marne-Nordsee
2           20220515  10515169                   Eider
3           20220515  10515172           Heider Umland
4           20220515  10515175      Mitteldithmarschen
Tabelle für Land wurde erfolgreich erstellt.
   Berichtszeitpunkt  _RS                 Name
0           20220515    1   Schleswig-Holstein
1           20220515    2              Hamburg
2           20220515    3        Niedersachsen
3           20220515    4               Bremen
4           20220515    5  Nordrhein-Westfalen
Tabelle für Regierungsbezirk wurde erfolgreich erstellt.
   Berichtszeitpunkt  _RS                              Name
0           20220515   31  Statistische Region Braunschweig
1           20220515   32      Statistische Region Hannover
2           20220515   33      Statistische Region Lüneburg
3           20220515   34     Statistische Region Weser-Ems
4           20220515   51              Reg.-Bez. Düsseldorf
Tabelle für Stadtkreis/kreisfreie Stadt/Landkreis wurde erfolgreich erstellt.
   Berichtszeitpunkt   _RS                    Name
0           20220515  1001        Flensburg, Stadt
1           20220515  1002  Kiel, Landeshauptstadt
2           20220515  1003      Lübeck, Hansestadt
3           20220515  1004       Neumünster, Stadt
4           20220515  1051            Dithmarschen

In [365]:
# Beispiel für den Zugriff auf eine spezifische Ebene
gemeinde_df = regionalebenen['Gemeinde']
print("Beispiel für die Gemeindetabelle:")
print(gemeinde_df.head())

Beispiel für die Gemeindetabelle:
   Berichtszeitpunkt          _RS                    Name
0           20220515  10010000000        Flensburg, Stadt
1           20220515  10020000000  Kiel, Landeshauptstadt
2           20220515  10030000000      Lübeck, Hansestadt
3           20220515  10040000000       Neumünster, Stadt
4           20220515  10510011011      Brunsbüttel, Stadt

In [366]:
# Erstellen der Spalten für Kreisschlüssell (erste 4 Stellen)
for ebene in ['Gemeinde', 'Gemeindeverband']:
    regionalebenen[ebene]['Gemeindeverbandsschlüssel'] = regionalebenen[ebene]['_RS'].astype(str).str[:8]

# Erstellen der Spalten für Kreisschlüssell (erste 4 Stellen)
for ebene in ['Gemeindeverband', 'Stadtkreis/kreisfreie Stadt/Landkreis']:
    regionalebenen[ebene]['Kreisschlüssel'] = regionalebenen[ebene]['_RS'].astype(str).str[:4]

    # Erstellen der Spalten für Landesschlüssel (erste 2 Stellen)
for ebene in ['Stadtkreis/kreisfreie Stadt/Landkreis', 'Land']:
    regionalebenen[ebene]['Landesschlüessl'] = regionalebenen[ebene]['_RS'].astype(str).str[:2]

In [367]:
# Alle Tabellen ohne die Spalte '_RS' speichern (ausser Gemeinde)
for ebene, df in regionalebenen.items():
    if ebene != 'Gemeinde':
        regionalebenen[ebene] = df.drop('_RS', axis=1)

# _RS in Gemeinde umbenennen
regionalebenen['Gemeinde'] = regionalebenen['Gemeinde'].rename(columns={'_RS': 'Gemeindeschlüssel'})

In [368]:
# Überprüfen der ersten Zeilen der Tabellen

print("Gemeindetabelle:")
print(regionalebenen['Gemeinde'].head())

print("\nGemeindeverbandstabelle:")
print(regionalebenen['Gemeindeverband'].head())

print("\nKreis:")
print(regionalebenen['Stadtkreis/kreisfreie Stadt/Landkreis'].head())

print("\nLändertabelle:")
print(regionalebenen['Land'].head())

Gemeindetabelle:
   Berichtszeitpunkt  Gemeindeschlüssel                    Name Gemeindeverbandsschlüssel
0           20220515        10010000000        Flensburg, Stadt                  10010000
1           20220515        10020000000  Kiel, Landeshauptstadt                  10020000
2           20220515        10030000000      Lübeck, Hansestadt                  10030000
3           20220515        10040000000       Neumünster, Stadt                  10040000
4           20220515        10510011011      Brunsbüttel, Stadt                  10510011

Gemeindeverbandstabelle:
   Berichtszeitpunkt                    Name Gemeindeverbandsschlüssel Kreisschlüssel
0           20220515  Burg-St. Michaelisdonn                  10515163           1051
1           20220515           Marne-Nordsee                  10515166           1051
2           20220515                   Eider                  10515169           1051
3           20220515           Heider Umland                  10515172           1051
4           20220515      Mitteldithmarschen                  10515175           1051

Kreis:
   Berichtszeitpunkt                    Name Kreisschlüssel Landesschlüessl
0           20220515        Flensburg, Stadt           1001              10
1           20220515  Kiel, Landeshauptstadt           1002              10
2           20220515      Lübeck, Hansestadt           1003              10
3           20220515       Neumünster, Stadt           1004              10
4           20220515            Dithmarschen           1051              10

Ländertabelle:
   Berichtszeitpunkt                 Name Landesschlüessl
0           20220515   Schleswig-Holstein               1
1           20220515              Hamburg               2
2           20220515        Niedersachsen               3
3           20220515               Bremen               4
4           20220515  Nordrhein-Westfalen               5

In [369]:
regionalebenen['Gemeinde'].head()

   Berichtszeitpunkt  Gemeindeschlüssel                    Name Gemeindeverbandsschlüssel
0           20220515        10010000000        Flensburg, Stadt                  10010000
1           20220515        10020000000  Kiel, Landeshauptstadt                  10020000
2           20220515        10030000000      Lübeck, Hansestadt                  10030000
3           20220515        10040000000       Neumünster, Stadt                  10040000
4           20220515        10510011011      Brunsbüttel, Stadt                  10510011

# export

In [370]:
# 5. Verbindung zu PostgreSQL herstellen
#engine = create_engine('postgresql+psycopg2://username:password@localhost/dbname')

In [371]:
# Verbindung zur Datenbank schließen
#engine.dispose()