# import and read

In [137]:
import pandas as pd
import os
import sqlalchemy as sql
import numpy as np
import sqlite3

In [138]:
# Pfad zur Excel-Datei
file_path = 'C:\\Users\\hp\\OneDrive\\Desktop\\DBU\\SP3-1.Dateninfrastrukturen\\Pruefung\\Zensus\\input\\Zensus.xlsx'
# Lese die Excel-Datei ein und speichere die Blätter als einzelne DataFrames
sheets = pd.read_excel(file_path, sheet_name=None)
data_frames = {sheet_name: data for sheet_name, data in sheets.items() if sheet_name.startswith('CSV')}

# check
print("Dateninfrastruktur aufgesetzt und Excel-Daten geladen.")

Dateninfrastruktur aufgesetzt und Excel-Daten geladen.

In [139]:
# Speichern der DataFrames in separaten Variablen mit angepassten Namen
created_dfs = {}
for sheet_name, data in data_frames.items():
    # Ersetzen von '-' und '/' durch '_' in den Tabellenblätternamen
    new_sheet_name = sheet_name.replace('-', '_').replace('/', '_')
    
    # Ersetzen von '.', '/', '-' und '–' durch 0 in den Daten
    df = data.apply(lambda x: x.map(lambda y: 0 if y in ['.', '/', '-', '–'] else y))
    
    # Bereinigung der 'Regionalebene'-Spalte (Kreise)
    if 'Regionalebene' in df.columns:
        df['Regionalebene'] = df['Regionalebene'].str.replace('/', '')
        df['Regionalebene'] = df['Regionalebene'].str.replace(' ', '')
    # Umwandlung in numerische Typen für Spalten ab der 5.
    for col in df.columns[4:]:
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)
    
    globals()[new_sheet_name] = df
    created_dfs[new_sheet_name] = df

# Anzeigen der neuen Namen der erstellten DataFrames
print("Erstellte DataFrames:")
for df_name in created_dfs.keys():
    print(df_name)

Erstellte DataFrames:
CSV_Klassenstufe
CSV_Schulform
CSV_Hoechster_Schulabschluss
CSV_Hoechster_berufl_Abschluss
CSV_Erwerbsstatus
CSV_ET_Alter
CSV_ET_Hoechst_berufl_Abschl
CSV_ET_Stellung_im_Beruf
CSV_ET_Beruf_Hauptgr_ISCO08
CSV_ET_Wirtschaftszweig

## EDA

In [140]:
CSV_Klassenstufe.groupby('Regionalebene')['SCHUELER_KLSS_STP'].sum()

Regionalebene
Bund                                  8903780
Gemeinde                              6631640
Gemeindeverband                       1310750
Land                                  8903780
Regierungsbezirk                      7013880
StadtkreiskreisfreieStadtLandkreis    8903770
Name: SCHUELER_KLSS_STP, dtype: int64

In [141]:
Berichtszeitpunkt = CSV_ET_Alter['Berichtszeitpunkt'].unique()[0]
Berichtszeitpunkt

np.int64(20220515)

In [142]:
# Angenommen, df ist Ihr DataFrame mit der Spalte 'Name'
df = created_dfs['CSV_ET_Alter']  # Passen Sie dies an, um den entsprechenden DataFrame zu verwenden

# Extrahieren der Werte nach dem Komma in der Spalte 'Name'
df['Name_suffix'] = df['Name'].str.split(',').str[1].str.strip()

# Einzigartige Werte in der neuen Spalte 'Name_suffix' anzeigen
unique_suffixes = df['Name_suffix'].unique()

print("Einzigartige Werte nach dem Komma in der Spalte 'Name':")
print(unique_suffixes)

Einzigartige Werte nach dem Komma in der Spalte 'Name':
[nan 'Stadt' 'Landeshauptstadt' 'Hansestadt' 'Kirchspiel'
 'Freie und Hansestadt' 'Flecken' 'Berg- und Universitätsstadt'
 'Münchhausenstadt' 'Klostergemeinde' 'gemfr. Bezirk' 'Klosterflecken'
 'Inselgemeinde' 'Nordseebad' 'Klingenstadt' 'Fundort des Neanderthalers'
 'Burggemeinde' 'Sport- und Freizeitgemeinde' 'Tor zur Eifel'
 'Kupferstadt' 'Kolpingstadt' 'Schloss-Stadt' 'Stadt auf der Höhe'
 'Blütenstadt' 'Glockenstadt' 'Stadt der Burgmannshöfe' 'NRW-Klimakommune'
 'Die Mähdrescherstadt' 'Widukindstadt' 'Orgelstadt'
 'Stadt der Osterräder' 'Sennegemeinde' 'Stadt der FernUniversität'
 'Stadt der Kluterthöhle' 'Kreis- und  Hochschulstadt' 'Universitätsstadt'
 'Hansestadt an der Ruhr' 'Wissenschaftsstadt' 'Kreisstadt'
 'Karolingerstadt' 'Schöfferstadt' 'Büchnerstadt' 'Barbarossastadt'
 'Brüder-Grimm-Stadt' 'Einhardstadt' 'Hochschulstadt'
 'Friedrich-Ludwig-Weidig-Stadt' 'Oranienstadt' 'Marktflecken'
 'documenta-Stadt' 'Marktgemeinde' 'Konrad-Zuse-Stadt'
 'Point-Alpha-Gemeinde' 'Hans-Staden-Stadt' 'Dom- und Kaiserstadt'
 'Reformationsstadt' 'Konfirmationsstadt' 'Liebenbachstadt'
 'Nationalparkgemeinde' 'Nationalparkstadt' 'Philipp-Soldan-Stadt'
 'kreisfreie Stadt' 'Raiffeisengemeinde' 'Loreleystadt' 'Sickingenstadt'
 'Stadtkreis' 'St' 'M' 'GKSt' 'Hanse- und Universitätsstadt'
 'Vier-Tore-Stadt' 'Residenzstadt' 'Seegemeinde' 'Peenestadt' 'Inselstadt'
 'Schliemanngemeinde' 'Reuterstadt' 'Windmühlenstadt' 'Ostseeheilbad'
 'Barlachstadt' 'Ostseebad' 'Schliemannstadt' 'Bergringstadt'
 'Warbelstadt' 'Blumenstadt' 'Bernsteinstadt' 'Seebad'
 'Universitäts- und Hansestadt' 'Kurort' 'Bösenbrunn' 'Stadt / Běła Woda'
 'Welterbestadt' 'Lutherstadt' 'Solestadt' 'Goethestadt']

## Transform

In [143]:
import pandas as pd

# Neue Tabelle für Stadt-Typen erstellen
stadt_typen = pd.DataFrame(columns=['Schluessel', 'Typ'])

# Bereinigung der DataFrames und Auslagern der Stadt-Typen
for name, df in created_dfs.items():
    # Extrahieren des Stadtnamens und Typs
    df['Stadt'] = df['Name'].str.split(',').str[0]
    df['Typ'] = df['Name'].str.split(',').str[1].str.strip()
    
    # Kombinieren in die neue Tabelle
    temp_df = df[['_RS', 'Typ']].drop_duplicates().rename(columns={'_RS': 'Schluessel'})
    stadt_typen = pd.concat([stadt_typen, temp_df])
    
    # Bereinigen der 'Name'-Spalte
    df['Name'] = df['Stadt']
    
    # Entfernen der temporären Spalten
    df = df.drop(columns=['Stadt', 'Typ'])
    
    # Aktualisieren des DataFrames im Dictionary
    created_dfs[name] = df

# Entfernen von Duplikaten und NaN-Werten in der neuen Tabelle
stadt_typen = stadt_typen.drop_duplicates().dropna().reset_index(drop=True)

# Neue Tabelle und bereinigte DataFrames anzeigen
print("Stadt-Typen Tabelle:")
print(stadt_typen.head())

print("Bereinigte DataFrames:")
for name, df in created_dfs.items():
    print(f"{name}:")
    print(df.head())

Stadt-Typen Tabelle:
    Schluessel               Typ
0         1001             Stadt
1  10010000000             Stadt
2         1002  Landeshauptstadt
3  10020000000  Landeshauptstadt
4         1003        Hansestadt
Bereinigte DataFrames:
CSV_Klassenstufe:
   Berichtszeitpunkt          _RS                Name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        Regionalebene  SCHUELER_KLSS_STP  \
0                                Bund            8903780
1                                Land             320060
2  StadtkreiskreisfreieStadtLandkreis              10380
3                            Gemeinde              10380
4  StadtkreiskreisfreieStadtLandkreis              24340

   SCHUELER_KLSS_STP__M  SCHUELER_KLSS_STP__W  SCHUELER_KLSS_STP__1  \
0               4536040               4367740               3048570
1                162880                157180                109240
2                  5010                  5370                  3530
3                  5010                  5370                  3530
4                 12270                 12070                  8770

   SCHUELER_KLSS_STP__1_M  SCHUELER_KLSS_STP__1_W  SCHUELER_KLSS_STP__2  \
0                 1563180                 1485400               4490850
1                   54930                   54310                161100
2                    1540                    1990                  5030
3                    1540                    1990                  5030
4                    4180                    4590                 11180

   SCHUELER_KLSS_STP__2_M  SCHUELER_KLSS_STP__2_W  SCHUELER_KLSS_STP__3  \
0                 2324270                 2166580               1364360
1                   83860                   77240                 49720
2                    2700                    2330                  1820
3                    2700                    2330                  1820
4                    5810                    5360                  4400

   SCHUELER_KLSS_STP__3_M  SCHUELER_KLSS_STP__3_W
0                  648590                  715760
1                   24090                   25630
2                     770                    1060
3                     770                    1060
4                    2280                    2120
CSV_Schulform:
   Berichtszeitpunkt          _RS                Name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        Regionalebene  SCHUELER_SCH_STP  SCHUELER_SCH_STP__M  \
0                                Bund           8903780              4536040
1                                Land            320060               162880
2  StadtkreiskreisfreieStadtLandkreis             10380                 5010
3                            Gemeinde             10380                 5010
4  StadtkreiskreisfreieStadtLandkreis             24340                12270

   SCHUELER_SCH_STP__W  SCHUELER_SCH_STP__1  SCHUELER_SCH_STP__1_M  \
0              4367740              3033030                1544890
1               157180               105520                  52830
2                 5370                 3320                   1380
3                 5370                 3320                   1380
4                12070                 8280                   3910

   SCHUELER_SCH_STP__1_W  ...  SCHUELER_SCH_STP__4_W  SCHUELER_SCH_STP__5  \
0                1488150  ...                 172590              1251860
1                  52690  ...                   2660                16560
2                   1940  ...                      0                  620
3                   1940  ...                      0                  620
4                   4370  ...                      0                 1090

   SCHUELER_SCH_STP__5_M  SCHUELER_SCH_STP__5_W  SCHUELER_SCH_STP__6  \
0                 654280                 597590               838400
1                   8850                   7710                60880
2                    390                    230                 1980
3                    390                    230                 1980
4                    560                    540                 4250

   SCHUELER_SCH_STP__6_M  SCHUELER_SCH_STP__6_W  SCHUELER_SCH_STP__7  \
0                 433130                 405270              2594630
1                  31750                  29130                92830
2                   1100                    880                 3040
3                   1100                    880                 3040
4                   2500                   1760                 7690

   SCHUELER_SCH_STP__7_M  SCHUELER_SCH_STP__7_W
0                1240010                1354630
1                  45050                  47780
2                   1360                   1680
3                   1360                   1680
4                   3580                   4110

[5 rows x 28 columns]
CSV_Hoechster_Schulabschluss:
   Berichtszeitpunkt          _RS                Name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        Regionalebene  SCHULABS_STP  SCHULABS_STP__M  \
0                                Bund      69451580         33941830
1                                Land       2473130          1200580
2  StadtkreiskreisfreieStadtLandkreis         80000            39400
3                            Gemeinde         80000            39400
4  StadtkreiskreisfreieStadtLandkreis        212690           103790

   SCHULABS_STP__W  SCHULABS_STP__1  SCHULABS_STP__1_M  SCHULABS_STP__1_W  \
0         35509750          2813430            1422440            1391000
1          1272550           103590              52550              51040
2            40600             3590               1750               1830
3            40600             3590               1750               1830
4           108900             8570               4480               4090

   ...  SCHULABS_STP__22_W  SCHULABS_STP__23  SCHULABS_STP__23_M  \
0  ...             1994110          16671630             7509810
1  ...               10340            770050              345230
2  ...                 230             20330                9370
3  ...                 230             20330                9370
4  ...                 620             48090               21480

   SCHULABS_STP__23_W  SCHULABS_STP__24  SCHULABS_STP__24_M  \
0             9161820          24244250            12162150
1              424820            805860              401690
2               10960             30650               16000
3               10960             30650               16000
4               26610             99230               49690

   SCHULABS_STP__24_W  SCHULABS_STP__3  SCHULABS_STP__3_M  SCHULABS_STP__3_W
0            12082090          4768580            2408490            2360090
1              404180           116990              60190              56810
2               14650             5410               2830               2580
3               14650             5410               2830               2580
4               49540            13680               6780               6900

[5 rows x 28 columns]
CSV_Hoechster_berufl_Abschluss:
   Berichtszeitpunkt          _RS                Name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        Regionalebene  BERUFABS_AUSF_STP  \
0                                Bund           69451580
1                                Land            2473130
2  StadtkreiskreisfreieStadtLandkreis              80000
3                            Gemeinde              80000
4  StadtkreiskreisfreieStadtLandkreis             212690

   BERUFABS_AUSF_STP__M  BERUFABS_AUSF_STP__W  BERUFABS_AUSF_STP__1  \
0              33941830              35509750              50585600
1               1200580               1272550               1885180
2                 39400                 40600                 55910
3                 39400                 40600                 55910
4                103790                108900                149880

   BERUFABS_AUSF_STP__1_M  BERUFABS_AUSF_STP__1_W  ...  \
0                25157920                25427680  ...
1                  930860                  954310  ...
2                   28070                   27840  ...
3                   28070                   27840  ...
4                   73350                   76530  ...

   BERUFABS_AUSF_STP__15_W  BERUFABS_AUSF_STP__16  BERUFABS_AUSF_STP__16_M  \
0                   950810                8176080                  4311610
1                    27520                 275740                   147790
2                     1380                   9140                     4860
3                     1380                   9140                     4860
4                     4580                  28390                    14770

   BERUFABS_AUSF_STP__16_W  BERUFABS_AUSF_STP__17  BERUFABS_AUSF_STP__17_M  \
0                  3864470                1146250                   720310
1                   127960                  29610                    17920
2                     4280                    690                      410
3                     4280                    690                      410
4                    13620                   4940                     2950

   BERUFABS_AUSF_STP__17_W  BERUFABS_AUSF_STP__2  BERUFABS_AUSF_STP__2_M  \
0                   425940              18865980                 8783920
1                    11680                587950                  269720
2                      280                 24090                   11330
3                      280                 24090                   11330
4                     1990                 62810                   30430

   BERUFABS_AUSF_STP__2_W
0                10082070
1                  318240
2                   12760
3                   12760
4                   32380

[5 rows x 34 columns]
CSV_Erwerbsstatus:
   Berichtszeitpunkt          _RS                Name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        Regionalebene  ERWERBSTAT_KURZ_STP  \
0                                Bund             80790220
1                                Land              2864310
2  StadtkreiskreisfreieStadtLandkreis                92070
3                            Gemeinde                92070
4  StadtkreiskreisfreieStadtLandkreis               243430

   ERWERBSTAT_KURZ_STP__M  ERWERBSTAT_KURZ_STP__W  ERWERBSTAT_KURZ_STP__1  \
0                39756700                41033520                43758350
1                 1401220                 1463090                 1585940
2                   45470                   46600                   52900
3                   45470                   46600                   52900
4                  119360                  124070                  139920

   ERWERBSTAT_KURZ_STP__1_M  ERWERBSTAT_KURZ_STP__1_W  \
0                  23001730                  20756620
1                    824160                    761780
2                     28410                     24490
3                     28410                     24490
4                     72500                     67420

   ERWERBSTAT_KURZ_STP__11  ERWERBSTAT_KURZ_STP__11_M  \
0                 41047770                   21622700
1                  1479510                     773840
2                    48070                      26040
3                    48070                      26040
4                   128800                      67060

   ERWERBSTAT_KURZ_STP__11_W  ERWERBSTAT_KURZ_STP__12  \
0                   19425070                  2710580
1                     705670                   106430
2                      22030                     4830
3                      22030                     4830
4                      61740                    11120

   ERWERBSTAT_KURZ_STP__12_M  ERWERBSTAT_KURZ_STP__12_W  \
0                    1379030                    1331550
1                      50320                      56110
2                       2360                       2460
3                       2360                       2460
4                       5440                       5680

   ERWERBSTAT_KURZ_STP__2  ERWERBSTAT_KURZ_STP__2_M  ERWERBSTAT_KURZ_STP__2_W
0                37031860                  16754970                  20276900
1                 1278370                    577060                    701310
2                   39170                     17060                     22110
3                   39170                     17060                     22110
4                  103510                     46860                     56650
CSV_ET_Alter:
   Berichtszeitpunkt          _RS                Name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        Regionalebene  ET_ALTER_ERW  ET_ALTER_ERW__M  \
0                                Bund      41047770         21622700
1                                Land       1479510           773840
2  StadtkreiskreisfreieStadtLandkreis         48070            26040
3                            Gemeinde         48070            26040
4  StadtkreiskreisfreieStadtLandkreis        128800            67060

   ET_ALTER_ERW__W  ET_ALTER_ERW__1  ET_ALTER_ERW__1_M  ET_ALTER_ERW__1_W  \
0         19425070          1150950             601280             549660
1           705670            43110              22130              20990
2            22030             1190                660                540
3            22030             1190                660                540
4            61740             3900               1800               2100

   ...  ET_ALTER_ERW__5  ET_ALTER_ERW__5_M  ET_ALTER_ERW__5_W  \
0  ...         10567270            5473450            5093820
1  ...           408640             209070             199570
2  ...            10530               5490               5030
3  ...            10530               5490               5030
4  ...            27330              13800              13530

   ET_ALTER_ERW__6  ET_ALTER_ERW__6_M  ET_ALTER_ERW__6_W  ET_ALTER_ERW__7  \
0          4503560            2359280            2144280          1025860
1           165800              86770              79030            38700
2             4550               2500               2050             1160
3             4550               2500               2050             1160
4            11580               5790               5790             2360

   ET_ALTER_ERW__7_M  ET_ALTER_ERW__7_W       Name_suffix
0             604330             421530               NaN
1              23580              15120               NaN
2                710                450             Stadt
3                710                450             Stadt
4               1510                850  Landeshauptstadt

[5 rows x 29 columns]
CSV_ET_Hoechst_berufl_Abschl:
   Berichtszeitpunkt          _RS                Name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        Regionalebene  ET_BERUFABS_KURZ_STP  \
0                                Bund              41047770
1                                Land               1479510
2  StadtkreiskreisfreieStadtLandkreis                 48070
3                            Gemeinde                 48070
4  StadtkreiskreisfreieStadtLandkreis                128800

   ET_BERUFABS_KURZ_STP__M  ET_BERUFABS_KURZ_STP__W  ET_BERUFABS_KURZ_STP__1  \
0                 21622700                 19425070                 32511190
1                   773840                   705670                  1208310
2                    26040                    22030                    35970
3                    26040                    22030                    35970
4                    67060                    61740                    97680

   ET_BERUFABS_KURZ_STP__1_M  ET_BERUFABS_KURZ_STP__1_W  ...  \
0                   16932090                   15579100  ...
1                     626220                     582080  ...
2                      19160                      16820  ...
3                      19160                      16820  ...
4                      50070                      47610  ...

   ET_BERUFABS_KURZ_STP__11_W  ET_BERUFABS_KURZ_STP__12  \
0                     7692920                   5493720
1                      349190                    143200
2                        8870                      3980
3                        8870                      3980
4                       21640                      9350

   ET_BERUFABS_KURZ_STP__12_M  ET_BERUFABS_KURZ_STP__12_W  \
0                     2514800                     2978920
1                       63000                       80200
2                        1830                        2140
3                        1830                        2140
4                        3730                        5610

   ET_BERUFABS_KURZ_STP__13  ET_BERUFABS_KURZ_STP__13_M  \
0                  10312980                     5405710
1                    321310                      168610
2                     11950                        6160
3                     11950                        6160
4                     41770                       21400

   ET_BERUFABS_KURZ_STP__13_W  ET_BERUFABS_KURZ_STP__2  \
0                     4907270                  8536580
1                      152690                   271200
2                        5800                    12100
3                        5800                    12100
4                       20360                    31120

   ET_BERUFABS_KURZ_STP__2_M  ET_BERUFABS_KURZ_STP__2_W
0                    4690610                    3845970
1                     147610                     123590
2                       6890                       5210
3                       6890                       5210
4                      16990                      14120

[5 rows x 22 columns]
CSV_ET_Stellung_im_Beruf:
   Berichtszeitpunkt          _RS                Name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        Regionalebene  ET_STELLGBERF_STP  \
0                                Bund           41047770
1                                Land            1479510
2  StadtkreiskreisfreieStadtLandkreis              48070

In [144]:
stadt_typen.Schluessel.value_counts()

Schluessel
160775052043    1
1001            1
10010000000     1
1002            1
160745014041    1
               ..
10040000000     1
10510011011     1
10510044044     1
10515166072     1
10515175074     1
Name: count, Length: 2628, dtype: int64

## regionalebenen

In [145]:
# Definieren der Regionalebenen
liste = [
    'Bund',
    'Gemeinde',
    'Gemeindeverband',
    'Land',
    'Regierungsbezirk',
    'StadtkreiskreisfreieStadtLandkreis'
]

In [146]:

# Erstellen der Tabellen für alle Regionalebenen
regionalebenen = {}
for ebene in liste:
    regionalebenen[ebene] = pd.DataFrame()
    for df in created_dfs.values():
        if 'Regionalebene' in df.columns:
            filtered_df = df[df['Regionalebene'] == ebene][['_RS', 'Name']]
            regionalebenen[ebene] = pd.concat([regionalebenen[ebene], filtered_df], ignore_index=True)
    regionalebenen[ebene] = regionalebenen[ebene].drop_duplicates().reset_index(drop=True)

    # check
    print(f"Tabelle für {ebene} wurde erfolgreich erstellt.")
    print(regionalebenen[ebene].head())

Tabelle für Bund wurde erfolgreich erstellt.
   _RS         Name
0    0  Deutschland
Tabelle für Gemeinde wurde erfolgreich erstellt.
           _RS         Name
0  10010000000    Flensburg
1  10020000000         Kiel
2  10030000000       Lübeck
3  10040000000   Neumünster
4  10510011011  Brunsbüttel
Tabelle für Gemeindeverband wurde erfolgreich erstellt.
        _RS                    Name
0  10515163  Burg-St. Michaelisdonn
1  10515166           Marne-Nordsee
2  10515169                   Eider
3  10515172           Heider Umland
4  10515175      Mitteldithmarschen
Tabelle für Land wurde erfolgreich erstellt.
   _RS                 Name
0    1   Schleswig-Holstein
1    2              Hamburg
2    3        Niedersachsen
3    4               Bremen
4    5  Nordrhein-Westfalen
Tabelle für Regierungsbezirk wurde erfolgreich erstellt.
   _RS                              Name
0   31  Statistische Region Braunschweig
1   32      Statistische Region Hannover
2   33      Statistische Region Lüneburg
3   34     Statistische Region Weser-Ems
4   51              Reg.-Bez. Düsseldorf
Tabelle für StadtkreiskreisfreieStadtLandkreis wurde erfolgreich erstellt.
    _RS          Name
0  1001     Flensburg
1  1002          Kiel
2  1003        Lübeck
3  1004    Neumünster
4  1051  Dithmarschen

In [147]:
# Erstellen der Spalten für Gemeindeverbandsschlüssel (erste 8 Stellen)
for ebene in ['Gemeinde', 'Gemeindeverband']:
    regionalebenen[ebene]['Gemeindeverbandsschluessel'] = regionalebenen[ebene]['_RS'].astype(str).str[:8].astype(int)

# Erstellen der Spalten für Kreisschlüssel (erste 4 Stellen)
for ebene in ['Gemeindeverband', 'StadtkreiskreisfreieStadtLandkreis']:
    regionalebenen[ebene]['Kreisschluessel'] = regionalebenen[ebene]['_RS'].astype(str).str[:5].astype(int)

# Erstellen der Spalten für Landesschlüssel (erste 2 Stellen)
for ebene in ['StadtkreiskreisfreieStadtLandkreis', 'Regierungsbezirk']:
    regionalebenen[ebene]['RegBezirkschluessel'] = regionalebenen[ebene]['_RS'].astype(str).str[:3].astype(int)

# Erstellen der Spalten für Landesschlüssel (erste 2 Stellen)
for ebene in ['Regierungsbezirk', 'Land']:
    regionalebenen[ebene]['Landesschluessel'] = regionalebenen[ebene]['_RS'].astype(str).str[:2].astype(int)

# Erstellen der Spalten für Landesschlüssel (erste 2 Stellen)
for ebene in ['Land', 'Bund']:
    regionalebenen[ebene]['Bundschluessel'] = regionalebenen[ebene]['_RS'].astype(str).str[:1].astype(int)

# Alle Tabellen ohne die Spalte '_RS' speichern (ausser Gemeinde)
for ebene, df in regionalebenen.items():
    if ebene != 'Gemeinde':
        regionalebenen[ebene] = df.drop('_RS', axis=1)

# _RS in Gemeindeschlüssel umbenennen
regionalebenen['Gemeinde'] = regionalebenen['Gemeinde'].rename(columns={'_RS': 'Gemeindeschluessel'})

In [148]:
regionalebenen['StadtkreiskreisfreieStadtLandkreis']

                     Name  Kreisschluessel  RegBezirkschluessel
0               Flensburg             1001                  100
1                    Kiel             1002                  100
2                  Lübeck             1003                  100
3              Neumünster             1004                  100
4            Dithmarschen             1051                  105
..                    ...              ...                  ...
395   Saalfeld-Rudolstadt            16073                  160
396  Saale-Holzland-Kreis            16074                  160
397      Saale-Orla-Kreis            16075                  160
398                 Greiz            16076                  160
399      Altenburger Land            16077                  160

[400 rows x 3 columns]

In [149]:
# Überprüfen der ersten Zeilen der Tabellen

print("Gemeindetabelle:")
print(regionalebenen['Gemeinde'].head())

print("\nGemeindeverbandstabelle:")
print(regionalebenen['Gemeindeverband'].head())

print("\nKreis:")
print(regionalebenen['StadtkreiskreisfreieStadtLandkreis'].head())

print("\nRegBezirk:")
print(regionalebenen['Regierungsbezirk'].head())

print("\nLändertabelle:")
print(regionalebenen['Land'].head())

Gemeindetabelle:
   Gemeindeschluessel         Name  Gemeindeverbandsschluessel
0         10010000000    Flensburg                    10010000
1         10020000000         Kiel                    10020000
2         10030000000       Lübeck                    10030000
3         10040000000   Neumünster                    10040000
4         10510011011  Brunsbüttel                    10510011

Gemeindeverbandstabelle:
                     Name  Gemeindeverbandsschluessel  Kreisschluessel
0  Burg-St. Michaelisdonn                    10515163            10515
1           Marne-Nordsee                    10515166            10515
2                   Eider                    10515169            10515
3           Heider Umland                    10515172            10515
4      Mitteldithmarschen                    10515175            10515

Kreis:
           Name  Kreisschluessel  RegBezirkschluessel
0     Flensburg             1001                  100
1          Kiel             1002                  100
2        Lübeck             1003                  100
3    Neumünster             1004                  100
4  Dithmarschen             1051                  105

RegBezirk:
                               Name  RegBezirkschluessel  Landesschluessel
0  Statistische Region Braunschweig                   31                31
1      Statistische Region Hannover                   32                32
2      Statistische Region Lüneburg                   33                33
3     Statistische Region Weser-Ems                   34                34
4              Reg.-Bez. Düsseldorf                   51                51

Ländertabelle:
                  Name  Landesschluessel  Bundschluessel
0   Schleswig-Holstein                 1               1
1              Hamburg                 2               2
2        Niedersachsen                 3               3
3               Bremen                 4               4
4  Nordrhein-Westfalen                 5               5

## restliche tabellen

In [150]:
# Liste erstellen fuer die uebrigen dfs
tabellen_liste = [
    'CSV_Klassenstufe',
    'CSV_Schulform',
    'CSV_Hoechster_Schulabschluss',
    'CSV_Hoechster_berufl_Abschluss',
    'CSV_Erwerbsstatus',
    'CSV_ET_Alter',
    'CSV_ET_Hoechst_berufl_Abschl',
    'CSV_ET_Stellung_im_Beruf',
    'CSV_ET_Beruf_Hauptgr_ISCO08',
    'CSV_ET_Wirtschaftszweig'
]

In [151]:
# Erstellen der Tabellen für alle definierten Tabellen und Konvertieren der Spalten

# Liste für die DataFrames
andere_tabellen = {}
# Iteration über die Liste der Tabellen
for tabelle in tabellen_liste:
    tabelle_name = tabelle.replace('CSV_', '').lower()# Ersetzen von 'CSV_' durch '' und Umwandlung in Kleinbuchstaben
    df = created_dfs[tabelle].drop(columns=['Berichtszeitpunkt', 'Name', 'Regionalebene']).drop_duplicates().reset_index(drop=True)# Entfernen der Spalten
    df['Schluessel'] = df['_RS'].astype(int)# Erstellen einer Schluessel-Spalte aus der '_RS'-Spalte zu Integer
    df = df.drop(columns=['_RS'])
    df = df.fillna(0)  # NA-Werte durch 0 ersetzen
    # Konvertieren der Spalten in numerische Typen
    for col in df.columns:
        if df[col].dtype == object:
            df[col] = df[col].apply(lambda x: int(x) if str(x).isdigit() else 0)
        else:
            df[col] = df[col].astype(int)
    # Verschieben der Schluessel-Spalte an die erste Position
    cols = ['Schluessel'] + [col for col in df if col != 'Schluessel']
    df = df[cols]
    andere_tabellen[tabelle] = df

   
    # Anzeigen aller Tabellennamen in andere_tabellen
print("Alle Tabellennamen in andere_tabellen:")
for table_name in andere_tabellen.keys():
    print(table_name)

Alle Tabellennamen in andere_tabellen:
CSV_Klassenstufe
CSV_Schulform
CSV_Hoechster_Schulabschluss
CSV_Hoechster_berufl_Abschluss
CSV_Erwerbsstatus
CSV_ET_Alter
CSV_ET_Hoechst_berufl_Abschl
CSV_ET_Stellung_im_Beruf
CSV_ET_Beruf_Hauptgr_ISCO08
CSV_ET_Wirtschaftszweig

# export

In [152]:
# Verbindung zur SQLite-Datenbank herstellen
db_path = r'C:\Users\hp\OneDrive\Desktop\DBU\SP3-1.Dateninfrastrukturen\Pruefung\Zensus\temp\zensusdb'
if not os.path.exists(os.path.dirname(db_path)):
    raise FileNotFoundError(f"Der Pfad {os.path.dirname(db_path)} existiert nicht.")
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [153]:
# Alle vorhandenen Tabellen droppen
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
for table in tables:
    cursor.execute(f'DROP TABLE IF EXISTS "{table[0]}";')

In [154]:
# Regionalebenen-Tabellen in die SQLite-Datenbank übertragen
for ebene, df in regionalebenen.items():
    df.to_sql(f'dim_{ebene.lower()}', conn, if_exists='replace', index=False)

In [155]:
# Andere Tabellen in die SQLite-Datenbank übertragen
for tabelle, df in andere_tabellen.items():
    df.to_sql(f'dim_{tabelle.lower()}', conn, if_exists='replace', index=False)

In [156]:
# Stadt-Typen-Tabelle in die SQLite-Datenbank übertragen
stadt_typen.to_sql('dim_stadt_typen', conn, if_exists='replace', index=False)

2628

In [157]:
conn.close()
print("DataFrames erfolgreich in die SQLite-Datenbank übertragen.")

DataFrames erfolgreich in die SQLite-Datenbank übertragen.

# loeschen

In [158]:
# db_path = r'C:\Users\hp\OneDrive\Desktop\DBU\SP3-1.Dateninfrastrukturen\Pruefung\Zensus\temp\zensusdb'

# conn = sqlite3.connect(db_path)
# cursor = conn.cursor()

# # Deaktivieren von Foreign Key Constraints
# cursor.execute("PRAGMA foreign_keys = OFF;")

# # Abfrage aller Tabellen
# cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
# tables = cursor.fetchall()

# # Generieren und Ausführen der DROP TABLE-Befehle für jede Tabelle
# for table in tables:
#     cursor.execute(f'DROP TABLE IF EXISTS "{table[0]}";')

# # Reaktivieren von Foreign Key Constraints
# cursor.execute("PRAGMA foreign_keys = ON;")

# # Änderungen speichern und Verbindung schließen
# conn.commit()
# conn.close()

# print("Alle Tabellen wurden erfolgreich gelöscht.")