# import and read

In [320]:
import pandas as pd
import os
import sqlalchemy as sql
import numpy as np
import sqlite3
import psycopg2
from sqlalchemy import create_engine

In [321]:
# Deine Datenbankverbindungseinstellungen
db_user = 'postgres'
db_password = 'neues_passwort'
db_host = 'localhost'
db_port = '5432'
db_name = 'postgres'

# Verbindung zur PostgreSQL-Datenbank herstellen
engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')


# Pfad zur Excel-Datei
file_path = 'C:\\Users\\hp\\OneDrive\\Desktop\\DBU\\SP3-1.Dateninfrastrukturen\\Pruefung\\Zensus\\input\\Zensus.xlsx'
# Lese die Excel-Datei ein und speichere die Blätter als einzelne DataFrames
sheets = pd.read_excel(file_path, sheet_name=None)
data_frames = {sheet_name: data for sheet_name, data in sheets.items() if sheet_name.startswith('CSV')}

# check
print("Dateninfrastruktur aufgesetzt und Excel-Daten geladen.")

Dateninfrastruktur aufgesetzt und Excel-Daten geladen.

# Transform

In [322]:
# Speichern der DataFrames in separaten Variablen mit angepassten Namen
created_dfs = {}
for sheet_name, data in data_frames.items():
    # Ersetzen von '-' und '/' durch '_' in den Tabellenblätternamen
    new_sheet_name = sheet_name.replace('-', '_').replace('/', '_')
    
    # Ersetzen von '.', '/', '-' und '–' durch 0 in den Daten
    df = data.apply(lambda x: x.map(lambda y: 0 if y in ['.', '/', '-', '–'] else y))
    
    # Bereinigung der 'Regionalebene'-Spalte (Kreise)
    if 'Regionalebene' in df.columns:
        df['Regionalebene'] = df['Regionalebene'].str.replace('/', '')
        df['Regionalebene'] = df['Regionalebene'].str.replace(' ', '')
    # Umwandlung in numerische Typen für Spalten ab der 5.
    for col in df.columns[4:]:
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)
    
    # Spaltennamen in Kleinbuchstaben ändern
    df.columns = [col.lower() for col in df.columns]

    globals()[new_sheet_name] = df
    created_dfs[new_sheet_name] = df

# Anzeigen der neuen Namen der erstellten DataFrames
print("Erstellte DataFrames:")
for df_name in created_dfs.keys():
    print(df_name)

Erstellte DataFrames:
CSV_Klassenstufe
CSV_Schulform
CSV_Hoechster_Schulabschluss
CSV_Hoechster_berufl_Abschluss
CSV_Erwerbsstatus
CSV_ET_Alter
CSV_ET_Hoechst_berufl_Abschl
CSV_ET_Stellung_im_Beruf
CSV_ET_Beruf_Hauptgr_ISCO08
CSV_ET_Wirtschaftszweig

In [323]:
CSV_Klassenstufe.groupby('regionalebene')['schueler_klss_stp'].sum()

regionalebene
Bund                                  8903780
Gemeinde                              6631640
Gemeindeverband                       1310750
Land                                  8903780
Regierungsbezirk                      7013880
StadtkreiskreisfreieStadtLandkreis    8903770
Name: schueler_klss_stp, dtype: int64

In [324]:
# Neue Tabelle für stadt-Typen erstellen
stadt_typen = pd.DataFrame(columns=['schluessel', 'typ'])

# Bereinigung der DataFrames und Auslagern der stadt-Typen
for name, df in created_dfs.items():
    # Extrahieren des Stadtnamens und Typs
    df['stadt'] = df['name'].str.split(',').str[0]
    df['typ'] = df['name'].str.split(',').str[1].str.strip()
    
    # Kombinieren in die neue Tabelle
    temp_df = df[['_rs', 'typ']].drop_duplicates().rename(columns={'_rs': 'schluessel'})
    stadt_typen = pd.concat([stadt_typen, temp_df])
    
    # Bereinigen der 'name'-Spalte
    df['name'] = df['stadt']
    
    # Entfernen der temporären Spalten
    df = df.drop(columns=['stadt', 'typ'])
    
    # Aktualisieren des DataFrames im Dictionary
    created_dfs[name] = df

# Entfernen von Duplikaten und NaN-Werten in der neuen Tabelle
stadt_typen = stadt_typen.drop_duplicates().dropna().reset_index(drop=True)
stadt_typen['schluessel'] = stadt_typen['schluessel'].astype('int64')  # 
# Neue Tabelle und bereinigte DataFrames anzeigen
print("stadt-Typen Tabelle:")
print(stadt_typen.head())

print("Bereinigte DataFrames:")
for name, df in created_dfs.items():
    print(f"{name}:")
    print(df.head())

stadt-Typen Tabelle:
    schluessel               typ
0         1001             Stadt
1  10010000000             Stadt
2         1002  Landeshauptstadt
3  10020000000  Landeshauptstadt
4         1003        Hansestadt
Bereinigte DataFrames:
CSV_Klassenstufe:
   berichtszeitpunkt          _rs                name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        regionalebene  schueler_klss_stp  \
0                                Bund            8903780
1                                Land             320060
2  StadtkreiskreisfreieStadtLandkreis              10380
3                            Gemeinde              10380
4  StadtkreiskreisfreieStadtLandkreis              24340

   schueler_klss_stp__m  schueler_klss_stp__w  schueler_klss_stp__1  \
0               4536040               4367740               3048570
1                162880                157180                109240
2                  5010                  5370                  3530
3                  5010                  5370                  3530
4                 12270                 12070                  8770

   schueler_klss_stp__1_m  schueler_klss_stp__1_w  schueler_klss_stp__2  \
0                 1563180                 1485400               4490850
1                   54930                   54310                161100
2                    1540                    1990                  5030
3                    1540                    1990                  5030
4                    4180                    4590                 11180

   schueler_klss_stp__2_m  schueler_klss_stp__2_w  schueler_klss_stp__3  \
0                 2324270                 2166580               1364360
1                   83860                   77240                 49720
2                    2700                    2330                  1820
3                    2700                    2330                  1820
4                    5810                    5360                  4400

   schueler_klss_stp__3_m  schueler_klss_stp__3_w
0                  648590                  715760
1                   24090                   25630
2                     770                    1060
3                     770                    1060
4                    2280                    2120
CSV_Schulform:
   berichtszeitpunkt          _rs                name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        regionalebene  schueler_sch_stp  schueler_sch_stp__m  \
0                                Bund           8903780              4536040
1                                Land            320060               162880
2  StadtkreiskreisfreieStadtLandkreis             10380                 5010
3                            Gemeinde             10380                 5010
4  StadtkreiskreisfreieStadtLandkreis             24340                12270

   schueler_sch_stp__w  schueler_sch_stp__1  schueler_sch_stp__1_m  \
0              4367740              3033030                1544890
1               157180               105520                  52830
2                 5370                 3320                   1380
3                 5370                 3320                   1380
4                12070                 8280                   3910

   schueler_sch_stp__1_w  ...  schueler_sch_stp__4_w  schueler_sch_stp__5  \
0                1488150  ...                 172590              1251860
1                  52690  ...                   2660                16560
2                   1940  ...                      0                  620
3                   1940  ...                      0                  620
4                   4370  ...                      0                 1090

   schueler_sch_stp__5_m  schueler_sch_stp__5_w  schueler_sch_stp__6  \
0                 654280                 597590               838400
1                   8850                   7710                60880
2                    390                    230                 1980
3                    390                    230                 1980
4                    560                    540                 4250

   schueler_sch_stp__6_m  schueler_sch_stp__6_w  schueler_sch_stp__7  \
0                 433130                 405270              2594630
1                  31750                  29130                92830
2                   1100                    880                 3040
3                   1100                    880                 3040
4                   2500                   1760                 7690

   schueler_sch_stp__7_m  schueler_sch_stp__7_w
0                1240010                1354630
1                  45050                  47780
2                   1360                   1680
3                   1360                   1680
4                   3580                   4110

[5 rows x 28 columns]
CSV_Hoechster_Schulabschluss:
   berichtszeitpunkt          _rs                name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        regionalebene  schulabs_stp  schulabs_stp__m  \
0                                Bund      69451580         33941830
1                                Land       2473130          1200580
2  StadtkreiskreisfreieStadtLandkreis         80000            39400
3                            Gemeinde         80000            39400
4  StadtkreiskreisfreieStadtLandkreis        212690           103790

   schulabs_stp__w  schulabs_stp__1  schulabs_stp__1_m  schulabs_stp__1_w  \
0         35509750          2813430            1422440            1391000
1          1272550           103590              52550              51040
2            40600             3590               1750               1830
3            40600             3590               1750               1830
4           108900             8570               4480               4090

   ...  schulabs_stp__22_w  schulabs_stp__23  schulabs_stp__23_m  \
0  ...             1994110          16671630             7509810
1  ...               10340            770050              345230
2  ...                 230             20330                9370
3  ...                 230             20330                9370
4  ...                 620             48090               21480

   schulabs_stp__23_w  schulabs_stp__24  schulabs_stp__24_m  \
0             9161820          24244250            12162150
1              424820            805860              401690
2               10960             30650               16000
3               10960             30650               16000
4               26610             99230               49690

   schulabs_stp__24_w  schulabs_stp__3  schulabs_stp__3_m  schulabs_stp__3_w
0            12082090          4768580            2408490            2360090
1              404180           116990              60190              56810
2               14650             5410               2830               2580
3               14650             5410               2830               2580
4               49540            13680               6780               6900

[5 rows x 28 columns]
CSV_Hoechster_berufl_Abschluss:
   berichtszeitpunkt          _rs                name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        regionalebene  berufabs_ausf_stp  \
0                                Bund           69451580
1                                Land            2473130
2  StadtkreiskreisfreieStadtLandkreis              80000
3                            Gemeinde              80000
4  StadtkreiskreisfreieStadtLandkreis             212690

   berufabs_ausf_stp__m  berufabs_ausf_stp__w  berufabs_ausf_stp__1  \
0              33941830              35509750              50585600
1               1200580               1272550               1885180
2                 39400                 40600                 55910
3                 39400                 40600                 55910
4                103790                108900                149880

   berufabs_ausf_stp__1_m  berufabs_ausf_stp__1_w  ...  \
0                25157920                25427680  ...
1                  930860                  954310  ...
2                   28070                   27840  ...
3                   28070                   27840  ...
4                   73350                   76530  ...

   berufabs_ausf_stp__15_w  berufabs_ausf_stp__16  berufabs_ausf_stp__16_m  \
0                   950810                8176080                  4311610
1                    27520                 275740                   147790
2                     1380                   9140                     4860
3                     1380                   9140                     4860
4                     4580                  28390                    14770

   berufabs_ausf_stp__16_w  berufabs_ausf_stp__17  berufabs_ausf_stp__17_m  \
0                  3864470                1146250                   720310
1                   127960                  29610                    17920
2                     4280                    690                      410
3                     4280                    690                      410
4                    13620                   4940                     2950

   berufabs_ausf_stp__17_w  berufabs_ausf_stp__2  berufabs_ausf_stp__2_m  \
0                   425940              18865980                 8783920
1                    11680                587950                  269720
2                      280                 24090                   11330
3                      280                 24090                   11330
4                     1990                 62810                   30430

   berufabs_ausf_stp__2_w
0                10082070
1                  318240
2                   12760
3                   12760
4                   32380

[5 rows x 34 columns]
CSV_Erwerbsstatus:
   berichtszeitpunkt          _rs                name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        regionalebene  erwerbstat_kurz_stp  \
0                                Bund             80790220
1                                Land              2864310
2  StadtkreiskreisfreieStadtLandkreis                92070
3                            Gemeinde                92070
4  StadtkreiskreisfreieStadtLandkreis               243430

   erwerbstat_kurz_stp__m  erwerbstat_kurz_stp__w  erwerbstat_kurz_stp__1  \
0                39756700                41033520                43758350
1                 1401220                 1463090                 1585940
2                   45470                   46600                   52900
3                   45470                   46600                   52900
4                  119360                  124070                  139920

   erwerbstat_kurz_stp__1_m  erwerbstat_kurz_stp__1_w  \
0                  23001730                  20756620
1                    824160                    761780
2                     28410                     24490
3                     28410                     24490
4                     72500                     67420

   erwerbstat_kurz_stp__11  erwerbstat_kurz_stp__11_m  \
0                 41047770                   21622700
1                  1479510                     773840
2                    48070                      26040
3                    48070                      26040
4                   128800                      67060

   erwerbstat_kurz_stp__11_w  erwerbstat_kurz_stp__12  \
0                   19425070                  2710580
1                     705670                   106430
2                      22030                     4830
3                      22030                     4830
4                      61740                    11120

   erwerbstat_kurz_stp__12_m  erwerbstat_kurz_stp__12_w  \
0                    1379030                    1331550
1                      50320                      56110
2                       2360                       2460
3                       2360                       2460
4                       5440                       5680

   erwerbstat_kurz_stp__2  erwerbstat_kurz_stp__2_m  erwerbstat_kurz_stp__2_w
0                37031860                  16754970                  20276900
1                 1278370                    577060                    701310
2                   39170                     17060                     22110
3                   39170                     17060                     22110
4                  103510                     46860                     56650
CSV_ET_Alter:
   berichtszeitpunkt          _rs                name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        regionalebene  et_alter_erw  et_alter_erw__m  \
0                                Bund      41047770         21622700
1                                Land       1479510           773840
2  StadtkreiskreisfreieStadtLandkreis         48070            26040
3                            Gemeinde         48070            26040
4  StadtkreiskreisfreieStadtLandkreis        128800            67060

   et_alter_erw__w  et_alter_erw__1  et_alter_erw__1_m  et_alter_erw__1_w  \
0         19425070          1150950             601280             549660
1           705670            43110              22130              20990
2            22030             1190                660                540
3            22030             1190                660                540
4            61740             3900               1800               2100

   ...  et_alter_erw__4_w  et_alter_erw__5  et_alter_erw__5_m  \
0  ...            4004730         10567270            5473450
1  ...             147540           408640             209070
2  ...               4210            10530               5490
3  ...               4210            10530               5490
4  ...              10450            27330              13800

   et_alter_erw__5_w  et_alter_erw__6  et_alter_erw__6_m  et_alter_erw__6_w  \
0            5093820          4503560            2359280            2144280
1             199570           165800              86770              79030
2               5030             4550               2500               2050
3               5030             4550               2500               2050
4              13530            11580               5790               5790

   et_alter_erw__7  et_alter_erw__7_m  et_alter_erw__7_w
0          1025860             604330             421530
1            38700              23580              15120
2             1160                710                450
3             1160                710                450
4             2360               1510                850

[5 rows x 28 columns]
CSV_ET_Hoechst_berufl_Abschl:
   berichtszeitpunkt          _rs                name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        regionalebene  et_berufabs_kurz_stp  \
0                                Bund              41047770
1                                Land               1479510
2  StadtkreiskreisfreieStadtLandkreis                 48070
3                            Gemeinde                 48070
4  StadtkreiskreisfreieStadtLandkreis                128800

   et_berufabs_kurz_stp__m  et_berufabs_kurz_stp__w  et_berufabs_kurz_stp__1  \
0                 21622700                 19425070                 32511190
1                   773840                   705670                  1208310
2                    26040                    22030                    35970
3                    26040                    22030                    35970
4                    67060                    61740                    97680

   et_berufabs_kurz_stp__1_m  et_berufabs_kurz_stp__1_w  ...  \
0                   16932090                   15579100  ...
1                     626220                     582080  ...
2                      19160                      16820  ...
3                      19160                      16820  ...
4                      50070                      47610  ...

   et_berufabs_kurz_stp__11_w  et_berufabs_kurz_stp__12  \
0                     7692920                   5493720
1                      349190                    143200
2                        8870                      3980
3                        8870                      3980
4                       21640                      9350

   et_berufabs_kurz_stp__12_m  et_berufabs_kurz_stp__12_w  \
0                     2514800                     2978920
1                       63000                       80200
2                        1830                        2140
3                        1830                        2140
4                        3730                        5610

   et_berufabs_kurz_stp__13  et_berufabs_kurz_stp__13_m  \
0                  10312980                     5405710
1                    321310                      168610
2                     11950                        6160
3                     11950                        6160
4                     41770                       21400

   et_berufabs_kurz_stp__13_w  et_berufabs_kurz_stp__2  \
0                     4907270                  8536580
1                      152690                   271200
2                        5800                    12100
3                        5800                    12100
4                       20360                    31120

   et_berufabs_kurz_stp__2_m  et_berufabs_kurz_stp__2_w
0                    4690610                    3845970
1                     147610                     123590
2                       6890                       5210
3                       6890                       5210
4                      16990                      14120

[5 rows x 22 columns]
CSV_ET_Stellung_im_Beruf:
   berichtszeitpunkt          _rs                name  \
0           20220515            0         Deutschland
1           20220515            1  Schleswig-Holstein
2           20220515         1001           Flensburg
3           20220515  10010000000           Flensburg
4           20220515         1002                Kiel

                        regionalebene  et_stellgberf_stp  \
0                                Bund           41047770
1                                Land            1479510
2  StadtkreiskreisfreieStadtLandkreis              48070

## regionalebenen

In [325]:
# Definieren der Regionalebenen
liste = [
    'Bund',
    'Gemeinde',
    'Gemeindeverband',
    'Land',
    'Regierungsbezirk',
    'StadtkreiskreisfreieStadtLandkreis'
]

In [326]:

# Erstellen der Tabellen für alle Regionalebenen
regionalebenen = {}
for ebene in liste:
    regionalebenen[ebene] = pd.DataFrame()
    for df in created_dfs.values():
        if 'regionalebene' in df.columns:
            filtered_df = df[df['regionalebene'] == ebene][['_rs', 'name']]
            regionalebenen[ebene] = pd.concat([regionalebenen[ebene], filtered_df], ignore_index=True)
    regionalebenen[ebene] = regionalebenen[ebene].drop_duplicates().reset_index(drop=True)

    # check
    print(f"Tabelle für {ebene} wurde erfolgreich erstellt.")
    print(regionalebenen[ebene].head())

Tabelle für Bund wurde erfolgreich erstellt.
   _rs         name
0    0  Deutschland
Tabelle für Gemeinde wurde erfolgreich erstellt.
           _rs         name
0  10010000000    Flensburg
1  10020000000         Kiel
2  10030000000       Lübeck
3  10040000000   Neumünster
4  10510011011  Brunsbüttel
Tabelle für Gemeindeverband wurde erfolgreich erstellt.
        _rs                    name
0  10515163  Burg-St. Michaelisdonn
1  10515166           Marne-Nordsee
2  10515169                   Eider
3  10515172           Heider Umland
4  10515175      Mitteldithmarschen
Tabelle für Land wurde erfolgreich erstellt.
   _rs                 name
0    1   Schleswig-Holstein
1    2              Hamburg
2    3        Niedersachsen
3    4               Bremen
4    5  Nordrhein-Westfalen
Tabelle für Regierungsbezirk wurde erfolgreich erstellt.
   _rs                              name
0   31  Statistische Region Braunschweig
1   32      Statistische Region Hannover
2   33      Statistische Region Lüneburg
3   34     Statistische Region Weser-Ems
4   51              Reg.-Bez. Düsseldorf
Tabelle für StadtkreiskreisfreieStadtLandkreis wurde erfolgreich erstellt.
    _rs          name
0  1001     Flensburg
1  1002          Kiel
2  1003        Lübeck
3  1004    Neumünster
4  1051  Dithmarschen

In [327]:
# Erstellen der Spalten für Gemeindeverbandsschlüssel (erste 8 Stellen)
for ebene in ['Gemeinde', 'Gemeindeverband']:
    regionalebenen[ebene]['gemeindeverbandsschluessel'] = regionalebenen[ebene]['_rs'].astype(str).str[:9].astype(int)

# Erstellen der Spalten für Kreisschlüssel (erste 4 Stellen)
for ebene in ['Gemeindeverband', 'StadtkreiskreisfreieStadtLandkreis']:
    regionalebenen[ebene]['kreisschluessel'] = regionalebenen[ebene]['_rs'].astype(str).str[:5].astype(int)

# Erstellen der Spalten für Landesschlüssel (erste 2 Stellen)
for ebene in ['StadtkreiskreisfreieStadtLandkreis', 'Regierungsbezirk']:
    regionalebenen[ebene]['regbezirkschluessel'] = regionalebenen[ebene]['_rs'].astype(str).str[:3].astype(int)

# Erstellen der Spalten für Landesschlüssel (erste 2 Stellen)
for ebene in ['Regierungsbezirk', 'Land']:
    regionalebenen[ebene]['landesschluessel'] = regionalebenen[ebene]['_rs'].astype(str).str[:2].astype(int)

# Erstellen der Spalten für Landesschlüssel (erste 2 Stellen)
for ebene in ['Land', 'Bund']:
    regionalebenen[ebene]['bundschluessel'] = regionalebenen[ebene]['_rs'].astype(str).str[:1].astype(int)

# Alle Tabellen ohne die Spalte '_rs' speichern (ausser Gemeinde)
for ebene, df in regionalebenen.items():
    if ebene != 'Gemeinde':
        regionalebenen[ebene] = df.drop('_rs', axis=1)

# _rs in Gemeindeschlüssel umbenennen
regionalebenen['Gemeinde'] = regionalebenen['Gemeinde'].rename(columns={'_rs': 'gemeindeschluessel'})

In [328]:
regionalebenen['StadtkreiskreisfreieStadtLandkreis']

                     name  kreisschluessel  regbezirkschluessel
0               Flensburg             1001                  100
1                    Kiel             1002                  100
2                  Lübeck             1003                  100
3              Neumünster             1004                  100
4            Dithmarschen             1051                  105
..                    ...              ...                  ...
395   Saalfeld-Rudolstadt            16073                  160
396  Saale-Holzland-Kreis            16074                  160
397      Saale-Orla-Kreis            16075                  160
398                 Greiz            16076                  160
399      Altenburger Land            16077                  160

[400 rows x 3 columns]

In [329]:
# Überprüfen der ersten Zeilen der Tabellen

print("Gemeindetabelle:")
print(regionalebenen['Gemeinde'].head())

print("\nGemeindeverbandstabelle:")
print(regionalebenen['Gemeindeverband'].head())

print("\nKreis:")
print(regionalebenen['StadtkreiskreisfreieStadtLandkreis'].head())

print("\nRegBezirk:")
print(regionalebenen['Regierungsbezirk'].head())

print("\nLändertabelle:")
print(regionalebenen['Land'].head())

Gemeindetabelle:
   gemeindeschluessel         name  gemeindeverbandsschluessel
0         10010000000    Flensburg                   100100000
1         10020000000         Kiel                   100200000
2         10030000000       Lübeck                   100300000
3         10040000000   Neumünster                   100400000
4         10510011011  Brunsbüttel                   105100110

Gemeindeverbandstabelle:
                     name  gemeindeverbandsschluessel  kreisschluessel
0  Burg-St. Michaelisdonn                    10515163            10515
1           Marne-Nordsee                    10515166            10515
2                   Eider                    10515169            10515
3           Heider Umland                    10515172            10515
4      Mitteldithmarschen                    10515175            10515

Kreis:
           name  kreisschluessel  regbezirkschluessel
0     Flensburg             1001                  100
1          Kiel             1002                  100
2        Lübeck             1003                  100
3    Neumünster             1004                  100
4  Dithmarschen             1051                  105

RegBezirk:
                               name  regbezirkschluessel  landesschluessel
0  Statistische Region Braunschweig                   31                31
1      Statistische Region Hannover                   32                32
2      Statistische Region Lüneburg                   33                33
3     Statistische Region Weser-Ems                   34                34
4              Reg.-Bez. Düsseldorf                   51                51

Ländertabelle:
                  name  landesschluessel  bundschluessel
0   Schleswig-Holstein                 1               1
1              Hamburg                 2               2
2        Niedersachsen                 3               3
3               Bremen                 4               4
4  Nordrhein-Westfalen                 5               5

## restliche tabellen

In [330]:
# Liste erstellen fuer die uebrigen dfs
tabellen_liste = [
    'CSV_Klassenstufe',
    'CSV_Schulform',
    'CSV_Hoechster_Schulabschluss',
    'CSV_Hoechster_berufl_Abschluss',
    'CSV_Erwerbsstatus',
    'CSV_ET_Alter',
    'CSV_ET_Hoechst_berufl_Abschl',
    'CSV_ET_Stellung_im_Beruf',
    'CSV_ET_Beruf_Hauptgr_ISCO08',
    'CSV_ET_Wirtschaftszweig'
]

In [331]:

# Erstellen der Tabellen für alle definierten Tabellen und Konvertieren der Spalten
# Liste für die DataFrames
andere_tabellen = {}
# Iteration über die Liste der Tabellen
for tabelle in tabellen_liste:
    tabelle_name = tabelle.replace('CSV_', '').lower()  # Ersetzen von 'CSV_' durch '' und Umwandlung in Kleinbuchstaben
    df = created_dfs[tabelle].drop(columns=['berichtszeitpunkt', 'name', 'regionalebene']).drop_duplicates().reset_index(drop=True)  # Entfernen der Spalten
    df['schluessel'] = df['_rs'].astype(int)  # Erstellen einer schluessel-Spalte aus der '_rs'-Spalte zu Integer
    df = df.drop(columns=['_rs'])
    df = df.fillna(0)  # NA-Werte durch 0 ersetzen
    # Konvertieren der Spalten in numerische Typen
    for col in df.columns:
        if df[col].dtype == object:
            df[col] = df[col].apply(lambda x: int(x) if str(x).isdigit() else 0)
        else:
            df[col] = df[col].astype(int)
    # Verschieben der schluessel-Spalte an die erste Position
    cols = ['schluessel'] + [col for col in df if col != 'schluessel']
    df = df[cols]
    andere_tabellen[tabelle_name] = df  # Verwendung von tabelle_name statt tabelle

# Anzeigen aller Tabellennamen in andere_tabellen
print("Alle Tabellennamen in andere_tabellen:")
for table_name in andere_tabellen.keys():
    print(table_name)

Alle Tabellennamen in andere_tabellen:
klassenstufe
schulform
hoechster_schulabschluss
hoechster_berufl_abschluss
erwerbsstatus
et_alter
et_hoechst_berufl_abschl
et_stellung_im_beruf
et_beruf_hauptgr_isco08
et_wirtschaftszweig

# Ueberpruefen

In [332]:
# Alle Spalten in allen Tabellen auf int32 ändern
for table_name, df in andere_tabellen.items():
    # Alle Spalten auf int32 ändern
    df = df.astype('int32')
    # Änderungen zurück in das Dictionary speichern
    andere_tabellen[table_name] = df

# Überprüfen der Datentypen der Spalten nach der Änderung
for table_name, df in andere_tabellen.items():
    print(f"Datentypen für Tabelle '{table_name}':")
    print(df.dtypes)
    print("\n")

Datentypen für Tabelle 'klassenstufe':
schluessel                int32
schueler_klss_stp         int32
schueler_klss_stp__m      int32
schueler_klss_stp__w      int32
schueler_klss_stp__1      int32
schueler_klss_stp__1_m    int32
schueler_klss_stp__1_w    int32
schueler_klss_stp__2      int32
schueler_klss_stp__2_m    int32
schueler_klss_stp__2_w    int32
schueler_klss_stp__3      int32
schueler_klss_stp__3_m    int32
schueler_klss_stp__3_w    int32
dtype: object


Datentypen für Tabelle 'schulform':
schluessel               int32
schueler_sch_stp         int32
schueler_sch_stp__m      int32
schueler_sch_stp__w      int32
schueler_sch_stp__1      int32
schueler_sch_stp__1_m    int32
schueler_sch_stp__1_w    int32
schueler_sch_stp__2      int32
schueler_sch_stp__2_m    int32
schueler_sch_stp__2_w    int32
schueler_sch_stp__3      int32
schueler_sch_stp__3_m    int32
schueler_sch_stp__3_w    int32
schueler_sch_stp__4      int32
schueler_sch_stp__4_m    int32
schueler_sch_stp__4_w    int32
schueler_sch_stp__5      int32
schueler_sch_stp__5_m    int32
schueler_sch_stp__5_w    int32
schueler_sch_stp__6      int32
schueler_sch_stp__6_m    int32
schueler_sch_stp__6_w    int32
schueler_sch_stp__7      int32
schueler_sch_stp__7_m    int32
schueler_sch_stp__7_w    int32
dtype: object


Datentypen für Tabelle 'hoechster_schulabschluss':
schluessel            int32
schulabs_stp          int32
schulabs_stp__m       int32
schulabs_stp__w       int32
schulabs_stp__1       int32
schulabs_stp__1_m     int32
schulabs_stp__1_w     int32
schulabs_stp__2       int32
schulabs_stp__2_m     int32
schulabs_stp__2_w     int32
schulabs_stp__21      int32
schulabs_stp__21_m    int32
schulabs_stp__21_w    int32
schulabs_stp__22      int32
schulabs_stp__22_m    int32
schulabs_stp__22_w    int32
schulabs_stp__23      int32
schulabs_stp__23_m    int32
schulabs_stp__23_w    int32
schulabs_stp__24      int32
schulabs_stp__24_m    int32
schulabs_stp__24_w    int32
schulabs_stp__3       int32
schulabs_stp__3_m     int32
schulabs_stp__3_w     int32
dtype: object


Datentypen für Tabelle 'hoechster_berufl_abschluss':
schluessel                 int32
berufabs_ausf_stp          int32
berufabs_ausf_stp__m       int32
berufabs_ausf_stp__w       int32
berufabs_ausf_stp__1       int32
berufabs_ausf_stp__1_m     int32
berufabs_ausf_stp__1_w     int32
berufabs_ausf_stp__11      int32
berufabs_ausf_stp__11_m    int32
berufabs_ausf_stp__11_w    int32
berufabs_ausf_stp__12      int32
berufabs_ausf_stp__12_m    int32
berufabs_ausf_stp__12_w    int32
berufabs_ausf_stp__13      int32
berufabs_ausf_stp__13_m    int32
berufabs_ausf_stp__13_w    int32
berufabs_ausf_stp__14      int32
berufabs_ausf_stp__14_m    int32
berufabs_ausf_stp__14_w    int32
berufabs_ausf_stp__15      int32
berufabs_ausf_stp__15_m    int32
berufabs_ausf_stp__15_w    int32
berufabs_ausf_stp__16      int32
berufabs_ausf_stp__16_m    int32
berufabs_ausf_stp__16_w    int32
berufabs_ausf_stp__17      int32
berufabs_ausf_stp__17_m    int32
berufabs_ausf_stp__17_w    int32
berufabs_ausf_stp__2       int32
berufabs_ausf_stp__2_m     int32
berufabs_ausf_stp__2_w     int32
dtype: object


Datentypen für Tabelle 'erwerbsstatus':
schluessel                   int32
erwerbstat_kurz_stp          int32
erwerbstat_kurz_stp__m       int32
erwerbstat_kurz_stp__w       int32
erwerbstat_kurz_stp__1       int32
erwerbstat_kurz_stp__1_m     int32
erwerbstat_kurz_stp__1_w     int32
erwerbstat_kurz_stp__11      int32
erwerbstat_kurz_stp__11_m    int32
erwerbstat_kurz_stp__11_w    int32
erwerbstat_kurz_stp__12      int32
erwerbstat_kurz_stp__12_m    int32
erwerbstat_kurz_stp__12_w    int32
erwerbstat_kurz_stp__2       int32
erwerbstat_kurz_stp__2_m     int32
erwerbstat_kurz_stp__2_w     int32
dtype: object


Datentypen für Tabelle 'et_alter':
schluessel           int32
et_alter_erw         int32
et_alter_erw__m      int32
et_alter_erw__w      int32
et_alter_erw__1      int32
et_alter_erw__1_m    int32
et_alter_erw__1_w    int32
et_alter_erw__2      int32
et_alter_erw__2_m    int32
et_alter_erw__2_w    int32
et_alter_erw__3      int32
et_alter_erw__3_m    int32
et_alter_erw__3_w    int32
et_alter_erw__4      int32
et_alter_erw__4_m    int32
et_alter_erw__4_w    int32
et_alter_erw__5      int32
et_alter_erw__5_m    int32
et_alter_erw__5_w    int32
et_alter_erw__6      int32
et_alter_erw__6_m    int32
et_alter_erw__6_w    int32
et_alter_erw__7      int32
et_alter_erw__7_m    int32
et_alter_erw__7_w    int32
dtype: object


Datentypen für Tabelle 'et_hoechst_berufl_abschl':
schluessel                    int32
et_berufabs_kurz_stp          int32
et_berufabs_kurz_stp__m       int32
et_berufabs_kurz_stp__w       int32
et_berufabs_kurz_stp__1       int32
et_berufabs_kurz_stp__1_m     int32
et_berufabs_kurz_stp__1_w     int32
et_berufabs_kurz_stp__11      int32
et_berufabs_kurz_stp__11_m    int32
et_berufabs_kurz_stp__11_w    int32
et_berufabs_kurz_stp__12      int32
et_berufabs_kurz_stp__12_m    int32
et_berufabs_kurz_stp__12_w    int32
et_berufabs_kurz_stp__13      int32
et_berufabs_kurz_stp__13_m    int32
et_berufabs_kurz_stp__13_w    int32
et_berufabs_kurz_stp__2       int32
et_berufabs_kurz_stp__2_m     int32
et_berufabs_kurz_stp__2_w     int32
dtype: object


Datentypen für Tabelle 'et_stellung_im_beruf':
schluessel                int32
et_stellgberf_stp         int32
et_stellgberf_stp__m      int32
et_stellgberf_stp__w      int32
et_stellgberf_stp__1      int32
et_stellgberf_stp__1_m    int32
et_stellgberf_stp__1_w    int32
et_stellgberf_stp__2      int32
et_stellgberf_stp__2_m    int32
et_stellgberf_stp__2_w    int32
et_stellgberf_stp__3      int32
et_stellgberf_stp__3_m    int32
et_stellgberf_stp__3_w    int32
et_stellgberf_stp__4      int32
et_stellgberf_stp__4_m    int32
et_stellgberf_stp__4_w    int32
et_stellgberf_stp__5      int32
et_stellgberf_stp__5_m    int32
et_stellgberf_stp__5_w    int32
dtype: object


Datentypen für Tabelle 'et_beruf_hauptgr_isco08':
schluessel                       int32
et_berufsklss_hgisco_stp         int32
et_berufsklss_hgisco_stp__m      int32
et_berufsklss_hgisco_stp__w      int32
et_berufsklss_hgisco_stp__1      int32
et_berufsklss_hgisco_stp__1_m    int32
et_berufsklss_hgisco_stp__1_w    int32
et_berufsklss_hgisco_stp__2      int32
et_berufsklss_hgisco_stp__2_m    int32
et_berufsklss_hgisco_stp__2_w    int32
et_berufsklss_hgisco_stp__3      int32
et_berufsklss_hgisco_stp__3_m    int32
et_berufsklss_hgisco_stp__3_w    int32
et_berufsklss_hgisco_stp__4      int32
et_berufsklss_hgisco_stp__4_m    int32
et_berufsklss_hgisco_stp__4_w    int32
et_berufsklss_hgisco_stp__5      int32
et_berufsklss_hgisco_stp__5_m    int32
et_berufsklss_hgisco_stp__5_w    int32
et_berufsklss_hgisco_stp__6      int32
et_berufsklss_hgisco_stp__6_m    int32
et_berufsklss_hgisco_stp__6_w    int32
et_berufsklss_hgisco_stp__7      int32
et_berufsklss_hgisco_stp__7_m    int32
et_berufsklss_hgisco_stp__7_w    int32
et_berufsklss_hgisco_stp__8      int32
et_berufsklss_hgisco_stp__8_m    int32
et_berufsklss_hgisco_stp__8_w    int32
et_berufsklss_hgisco_stp__9      int32
et_berufsklss_hgisco_stp__9_m    int32
et_berufsklss_hgisco_stp__9_w    int32
et_berufsklss_hgisco_stp__0      int32
et_berufsklss_hgisco_stp__0_m    int32
et_berufsklss_hgisco_stp__0_w    int32
dtype: object


Datentypen für Tabelle 'et_wirtschaftszweig':
schluessel               int32
et_wirtszwg_stp          int32
et_wirtszwg_stp__m       int32
et_wirtszwg_stp__w       int32
et_wirtszwg_stp__1       int32
et_wirtszwg_stp__1_m     int32
et_wirtszwg_stp__1_w     int32
et_wirtszwg_stp__2       int32
et_wirtszwg_stp__2_m     int32
et_wirtszwg_stp__2_w     int32
et_wirtszwg_stp__21      int32
et_wirtszwg_stp__21_m    int32
et_wirtszwg_stp__21_w    int32
et_wirtszwg_stp__22      int32
et_wirtszwg_stp__22_m    int32
et_wirtszwg_stp__22_w    int32
et_wirtszwg_stp__23      int32
et_wirtszwg_stp__23_m    int32
et_wirtszwg_stp__23_w    int32
et_wirtszwg_stp__3       int32
et_wirtszwg_stp__3_m     int32
et_wirtszwg_stp__3_w     int32
et_wirtszwg_stp__31      int32
et_wirtszwg_stp__31_m    int32
et_wirtszwg_stp__31_w    int32
et_wirtszwg_stp__32      int32
et_wirtszwg_stp__32_m    int32
et_wirtszwg_stp__32_w    int32
et_wirtszwg_stp__33      int32
et_wirtszwg_stp__33_m    int32
et_wirtszwg_stp__33_w    int32
et_wirtszwg_stp__34      int32
et_wirtszwg_stp__34_m    int32
et_wirtszwg_stp__34_w    int32
et_wirtszwg_stp__35      int32
et_wirtszwg_stp__35_m    int32
et_wirtszwg_stp__35_w    int32
et_wirtszwg_stp__36      int32
et_wirtszwg_stp__36_m    int32
et_wirtszwg_stp__36_w    int32
dtype: object

In [333]:
print(stadt_typen.dtypes)

schluessel     int64
typ           object
dtype: object

# export

In [334]:

# Andere Tabellen in die PostgreSQL-Datenbank übertragen
for tabelle, df in andere_tabellen.items():
    df = ensure_utf8(df)  # Sicherstellen, dass alle Zeichenketten in UTF-8 codiert sind
    df.to_sql(f'dim_{tabelle.lower()}', engine, if_exists='replace', index=False, chunksize=1000)

# Regionalebenen in die PostgreSQL-Datenbank übertragen
for ebene, df in regionalebenen.items():
    df = ensure_utf8(df)  # Sicherstellen, dass alle Zeichenketten in UTF-8 codiert sind
    df.to_sql(f'dim_{ebene.lower()}', engine, if_exists='replace', index=False, chunksize=1000)

# Stadt_Typen in die PostgreSQL-Datenbank übertragen
stadt_typen = ensure_utf8(stadt_typen)  # Sicherstellen, dass alle Zeichenketten in UTF-8 codiert sind
stadt_typen.to_sql('dim_stadt_typen', engine, if_exists='replace', index=False, chunksize=1000)

print("DataFrames erfolgreich in die PostgreSQL-Datenbank übertragen.")

DataFrames erfolgreich in die PostgreSQL-Datenbank übertragen.

In [335]:
# Code fuer die Sqlite-Datenbank
# # Verbindung zur SQLite-Datenbank herstellen
# db_path = r'C:\Users\hp\OneDrive\Desktop\DBU\SP3-1.Dateninfrastrukturen\Pruefung\Zensus\temp\zensusdb'
# if not os.path.exists(os.path.dirname(db_path)):
#     raise FileNotFoundError(f"Der Pfad {os.path.dirname(db_path)} existiert nicht.")
# conn = sqlite3.connect(db_path)
# cursor = conn.cursor()
# # Alle vorhandenen Tabellen droppen
# tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
# for table in tables:
#     cursor.execute(f'DROP TABLE IF EXISTS "{table[0]}";')
# # Verbindung zur SQLite-Datenbank herstellen
# db_path = r'C:\Users\hp\OneDrive\Desktop\DBU\SP3-1.Dateninfrastrukturen\Pruefung\Zensus\temp\zensusdb'
# if not os.path.exists(os.path.dirname(db_path)):
#     raise FileNotFoundError(f"Der Pfad {os.path.dirname(db_path)} existiert nicht.")
# conn = sqlite3.connect(db_path)
# cursor = conn.cursor()

# # Andere Tabellen in die SQLite-Datenbank übertragen
# for tabelle, df in andere_tabellen.items():
#     df.to_sql(f'dim_{tabelle.lower()}', conn, if_exists='replace', index=False)
# # Andere Tabellen in die SQLite-Datenbank übertragen
# for tabelle, df in andere_tabellen.items():
#     df.to_sql(f'dim_{tabelle.lower()}', conn, if_exists='replace', index=False)

# conn.close()
# print("DataFrames erfolgreich in die SQLite-Datenbank übertragen.")

# loeschen

In [336]:
# db_path = r'C:\Users\hp\OneDrive\Desktop\DBU\SP3-1.Dateninfrastrukturen\Pruefung\Zensus\temp\zensusdb'

# conn = sqlite3.connect(db_path)
# cursor = conn.cursor()

# # Deaktivieren von Foreign Key Constraints
# cursor.execute("PRAGMA foreign_keys = OFF;")

# # Abfrage aller Tabellen
# cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
# tables = cursor.fetchall()

# # Generieren und Ausführen der DROP TABLE-Befehle für jede Tabelle
# for table in tables:
#     cursor.execute(f'DROP TABLE IF EXISTS "{table[0]}";')

# # Reaktivieren von Foreign Key Constraints
# cursor.execute("PRAGMA foreign_keys = ON;")

# # Änderungen speichern und Verbindung schließen
# conn.commit()
# conn.close()

# print("Alle Tabellen wurden erfolgreich gelöscht.")

In [337]:
# Verbindung zur PostgreSQL-Datenbank herstellen
engine = create_engine('postgresql://postgres:neues_passwort@localhost:5432/postgres')

# Liste der Tabellen, die du anzeigen möchtest
tables = ['dim_bund', 'dim_land', 'dim_gemeinde', 'dim_gemeindeverband', 'dim_regierungsbezirk', 'dim_stadtkreiskreisfreiestadtlandkreis', 'dim_stadt_typen']

# Inhalte der Tabellen auslesen und anzeigen
for table in tables:
    query = f'SELECT * FROM {table} LIMIT 5;'  # Du kannst LIMIT anpassen, um mehr Zeilen zu sehen
    df = pd.read_sql_query(query, engine)
    print(f'Inhalt der Tabelle {table}:')
    print(df)
    print('\n')

Inhalt der Tabelle dim_bund:
          name  bundschluessel
0  Deutschland               0


Inhalt der Tabelle dim_land:
                  name  landesschluessel  bundschluessel
0   Schleswig-Holstein                 1               1
1              Hamburg                 2               2
2        Niedersachsen                 3               3
3               Bremen                 4               4
4  Nordrhein-Westfalen                 5               5


Inhalt der Tabelle dim_gemeinde:
   gemeindeschluessel         name  gemeindeverbandsschluessel
0         10010000000    Flensburg                   100100000
1         10020000000         Kiel                   100200000
2         10030000000       Lübeck                   100300000
3         10040000000   Neumünster                   100400000
4         10510011011  Brunsbüttel                   105100110


Inhalt der Tabelle dim_gemeindeverband:
                     name  gemeindeverbandsschluessel  kreisschluessel
0  Burg-St. Michaelisdonn                    10515163            10515
1           Marne-Nordsee                    10515166            10515
2                   Eider                    10515169            10515
3           Heider Umland                    10515172            10515
4      Mitteldithmarschen                    10515175            10515


Inhalt der Tabelle dim_regierungsbezirk:
                               name  regbezirkschluessel  landesschluessel
0  Statistische Region Braunschweig                   31                31
1      Statistische Region Hannover                   32                32
2      Statistische Region Lüneburg                   33                33
3     Statistische Region Weser-Ems                   34                34
4              Reg.-Bez. Düsseldorf                   51                51


Inhalt der Tabelle dim_stadtkreiskreisfreiestadtlandkreis:
           name  kreisschluessel  regbezirkschluessel
0     Flensburg             1001                  100
1          Kiel             1002                  100
2        Lübeck             1003                  100
3    Neumünster             1004                  100
4  Dithmarschen             1051                  105


Inhalt der Tabelle dim_stadt_typen:
    schluessel               typ
0         1001             Stadt
1  10010000000             Stadt
2         1002  Landeshauptstadt
3  10020000000  Landeshauptstadt
4         1003        Hansestadt

In [338]:
# Verbindung zur PostgreSQL-Datenbank herstellen
engine = create_engine('postgresql://postgres:neues_passwort@localhost:5432/postgres')

# Liste der Tabellen, die du anzeigen möchtest
tables = ['dim_et_alter','dim_et_beruf_hauptgr_isco08','dim_et_hoechst_berufl_abschl','dim_et_stellung_im_beruf','dim_erwerbsstatus','dim_hoechster_berufl_abschluss','dim_hoechster_schulabschluss','dim_klassenstufe','dim_schulform','dim_et_wirtschaftszweig']

# Inhalte der Tabellen auslesen und anzeigen
for table in tables:
    query = f'SELECT * FROM {table} LIMIT 5;'  # Du kannst LIMIT anpassen, um mehr Zeilen zu sehen
    df = pd.read_sql_query(query, engine)
    print(f'Inhalt der Tabelle {table}:')
    print(df)
    print('\n')

Inhalt der Tabelle dim_et_alter:
   schluessel  et_alter_erw  et_alter_erw__m  et_alter_erw__w  \
0           0      41047770         21622700         19425070
1           1       1479510           773840           705670
2        1001         48070            26040            22030
3  1420065408         48070            26040            22030
4        1002        128800            67060            61740

   et_alter_erw__1  et_alter_erw__1_m  et_alter_erw__1_w  et_alter_erw__2  \
0          1150950             601280             549660          6695970
1            43110              22130              20990           233760
2             1190                660                540            11760
3             1190                660                540            11760
4             3900               1800               2100            31210

   et_alter_erw__2_m  et_alter_erw__2_w  ...  et_alter_erw__4_w  \
0            3536140            3159830  ...            4004730
1             125440             108320  ...             147540
2               6150               5620  ...               4210
3               6150               5620  ...               4210
4              15830              15380  ...              10450

   et_alter_erw__5  et_alter_erw__5_m  et_alter_erw__5_w  et_alter_erw__6  \
0         10567270            5473450            5093820          4503560
1           408640             209070             199570           165800
2            10530               5490               5030             4550
3            10530               5490               5030             4550
4            27330              13800              13530            11580

   et_alter_erw__6_m  et_alter_erw__6_w  et_alter_erw__7  et_alter_erw__7_m  \
0            2359280            2144280          1025860             604330
1              86770              79030            38700              23580
2               2500               2050             1160                710
3               2500               2050             1160                710
4               5790               5790             2360               1510

   et_alter_erw__7_w
0             421530
1              15120
2                450
3                450
4                850

[5 rows x 25 columns]


Inhalt der Tabelle dim_et_beruf_hauptgr_isco08:
   schluessel  et_berufsklss_hgisco_stp  et_berufsklss_hgisco_stp__m  \
0           0                  41047770                     21622700
1           1                   1479510                       773840
2        1001                     48070                        26040
3  1420065408                     48070                        26040
4        1002                    128800                        67060

   et_berufsklss_hgisco_stp__w  et_berufsklss_hgisco_stp__1  \
0                     19425070                      1877180
1                       705670                        68240
2                        22030                         2160
3                        22030                         2160
4                        61740                         4880

   et_berufsklss_hgisco_stp__1_m  et_berufsklss_hgisco_stp__1_w  \
0                        1286960                         590220
1                          46110                          22140
2                           1440                            710
3                           1440                            710
4                           3260                           1610

   et_berufsklss_hgisco_stp__2  et_berufsklss_hgisco_stp__2_m  \
0                      9040890                        4461000
1                       282860                         135380
2                        10330                           4840
3                        10330                           4840
4                        35450                          17330

   et_berufsklss_hgisco_stp__2_w  ...  et_berufsklss_hgisco_stp__7_w  \
0                        4579890  ...                         524900
1                         147480  ...                          15300
2                           5490  ...                            670
3                           5490  ...                            670
4                          18120  ...                            940

   et_berufsklss_hgisco_stp__8  et_berufsklss_hgisco_stp__8_m  \
0                      2297460                        1936810
1                        71610                          61220
2                         2310                           1850
3                         2310                           1850
4                         4660                           4070

   et_berufsklss_hgisco_stp__8_w  et_berufsklss_hgisco_stp__9  \
0                         360650                      2996680
1                          10390                       105530
2                            460                         4970
3                            460                         4970
4                            590                         9640

   et_berufsklss_hgisco_stp__9_m  et_berufsklss_hgisco_stp__9_w  \
0                        1360890                        1635790
1                          47700                          57820
2                           2420                           2550
3                           2420                           2550
4                           4720                           4920

   et_berufsklss_hgisco_stp__0  et_berufsklss_hgisco_stp__0_m  \
0                       151210                         133280
1                        11950                          10380
2                          780                            620
3                          780                            620
4                         1160                            930

   et_berufsklss_hgisco_stp__0_w
0                          17930
1                           1570
2                              0
3                              0
4                            240

[5 rows x 34 columns]


Inhalt der Tabelle dim_et_hoechst_berufl_abschl:
   schluessel  et_berufabs_kurz_stp  et_berufabs_kurz_stp__m  \
0           0              41047770                 21622700
1           1               1479510                   773840
2        1001                 48070                    26040
3  1420065408                 48070                    26040
4        1002                128800                    67060

   et_berufabs_kurz_stp__w  et_berufabs_kurz_stp__1  \
0                 19425070                 32511190
1                   705670                  1208310
2                    22030                    35970
3                    22030                    35970
4                    61740                    97680

   et_berufabs_kurz_stp__1_m  et_berufabs_kurz_stp__1_w  \
0                   16932090                   15579100
1                     626220                     582080
2                      19160                      16820
3                      19160                      16820
4                      50070                      47610

   et_berufabs_kurz_stp__11  et_berufabs_kurz_stp__11_m  \
0                  16704500                     9011580
1                    743800                      394610
2                     20040                       11170
3                     20040                       11170
4                     46570                       24930

   et_berufabs_kurz_stp__11_w  et_berufabs_kurz_stp__12  \
0                     7692920                   5493720
1                      349190                    143200
2                        8870                      3980
3                        8870                      3980
4                       21640                      9350

   et_berufabs_kurz_stp__12_m  et_berufabs_kurz_stp__12_w  \
0                     2514800                     2978920
1                       63000                       80200
2                        1830                        2140
3                        1830                        2140
4                        3730                        5610

   et_berufabs_kurz_stp__13  et_berufabs_kurz_stp__13_m  \
0                  10312980                     5405710
1                    321310                      168610
2                     11950                        6160
3                     11950                        6160
4                     41770                       21400

   et_berufabs_kurz_stp__13_w  et_berufabs_kurz_stp__2  \
0                     4907270                  8536580
1                      152690                   271200
2                        5800                    12100
3                        5800                    12100
4                       20360                    31120

   et_berufabs_kurz_stp__2_m  et_berufabs_kurz_stp__2_w
0                    4690610                    3845970
1                     147610                     123590
2                       6890                       5210
3                       6890                       5210
4                      16990                      14120


Inhalt der Tabelle dim_et_stellung_im_beruf:
   schluessel  et_stellgberf_stp  et_stellgberf_stp__m  et_stellgberf_stp__w  \
0           0           41047770              21622700              19425070
1           1            1479510                773840                705670
2        1001              48070                 26040                 22030
3  1420065408              48070                 26040                 22030
4        1002             128800                 67060                 61740

   et_stellgberf_stp__1  et_stellgberf_stp__1_m  et_stellgberf_stp__1_w  \
0              35136770                18141720                16995050
1               1243900                  630670                  613230
2                 40790                   21710                   19090
3                 40790                   21710                   19090
4                110400                   56060                   54340

   et_stellgberf_stp__2  et_stellgberf_stp__2_m  et_stellgberf_stp__2_w  \
0               2103730                 1047640                 1056090
1                 85660                   46740                   38920
2                  3240                    1870                    1360
3                  3240                    1870                    1360
4                  8870                    4780                    4090

   et_stellgberf_stp__3  et_stellgberf_stp__3_m  et_stellgberf_stp__3_w  \
0               1937560                 1381550                  556020
1                 83740                   59120                   24610
2                  2140                    1450                     690
3                  2140                    1450                     690
4                  5020                    3530                    1480

   et_stellgberf_stp__4  et_stellgberf_stp__4_m  et_stellgberf_stp__4_w  \
0               1598280                  940180                  658100
1                 56440                   33410                   23030
2                  1840                     990                     850
3                  1840                     990                     850
4                  3990                    2480                    1510

   et_stellgberf_stp__5  et_stellgberf_stp__5_m  et_stellgberf_stp__5_w
0                271430                  111610                  159820
1                  9770                    3890                    5890
2                     0                       0                       0
3                     0                       0                       0
4                   530                       0                     320


Inhalt der Tabelle dim_erwerbsstatus:
   schluessel  erwerbstat_kurz_stp  erwerbstat_kurz_stp__m  \
0           0             80790220                39756700
1           1              2864310                 1401220
2        1001                92070                   45470
3  1420065408                92070                   45470
4        1002               243430                  119360

   erwerbstat_kurz_stp__w  erwerbstat_kurz_stp__1  erwerbstat_kurz_stp__1_m  \
0                41033520                43758350                  23001730
1                 1463090                 1585940                    824160
2                   46600                   52900                     28410
3                   46600                   52900                     28410
4                  124070                  139920                     72500

   erwerbstat_kurz_stp__1_w  erwerbstat_kurz_stp__11  \
0                  20756620                 41047770
1                    761780                  1479510
2                     24490                    48070
3                     24490                    48070
4                     67420                   128800

   erwerbstat_kurz_stp__11_m  erwerbstat_kurz_stp__11_w  \
0                   21622700                   19425070
1                     773840                     705670
2                      26040                      22030
3                      26040                      22030
4                      67060                      61740

   erwerbstat_kurz_stp__12  erwerbstat_kurz_stp__12_m  \
0                  2710580                    1379030
1                   106430                      50320
2                     4830                       2360
3                     4830                       2360
4                    11120                       5440

   erwerbstat_kurz_stp__12_w  erwerbstat_kurz_stp__2  \
0                    1331550                37031860
1                      56110                 1278370
2                       2460                   39170
3                       2460                   39170
4                       5680                  103510

   erwerbstat_kurz_stp__2_m  erwerbstat_kurz_stp__2_w
0                  16754970                  20276900
1                    577060                    701310
2                     17060                     22110
3                     17060                     22110
4                     46860                     56650


Inhalt der Tabelle dim_hoechster_berufl_abschluss:
   schluessel  berufabs_ausf_stp  berufabs_ausf_stp__m  berufabs_ausf_stp__w  \
0           0           69451580              33941830              35509750
1           1            2473130               1200580               1272550
2        1001              80000                 39400                 40600
3  1420065408              80000                 39400                 40600
4        1002             212690                103790                108900

   berufabs_ausf_stp__1  berufabs_ausf_stp__1_m  berufabs_ausf_stp__1_w  \
0              50585600                25157920                25427680
1               1885180                  930860                  954310
2                 55910                   28070                   27840
3                 55910                   28070                   27840
4                149880                   73350                   76530

   berufabs_ausf_stp__11  berufabs_ausf_stp__11_m  berufabs_ausf_stp__11_w  \
0               28070250                 13963090                 14107150
1                1225220                   602340                   622880
2                  33590                    17070                    16520
3                  33590                    17070                    16520
4                  80410                    39280                    41130

   ...  berufabs_ausf_stp__15_w  berufabs_ausf_stp__16  \
0  ...                   950810                8176080
1  ...                    27520                 275740
2  ...                     1380                   9140
3  ...                     1380                   9140
4  ...                     4580                  28390

   berufabs_ausf_stp__16_m  berufabs_ausf_stp__16_w  berufabs_ausf_stp__17  \
0                  4311610                  3864470                1146250
1                   147790                   127960                  29610
2                     4860                     4280                    690
3                     4860                     4280                    690
4                    14770                    13620                   4940

   berufabs_ausf_stp__17_m  berufabs_ausf_stp__17_w  berufabs_ausf_stp__2  \
0                   720310                   425940              18865980
1                    17920                    11680                587950
2                      410                      280                 24090
3                      410                      280                 24090
4                     2950                     1990                 62810

   berufabs_ausf_stp__2_m  berufabs_ausf_stp__2_w
0                 8783920                10082070
1                  269720                  318240
2                   11330                   12760
3                   11330                   12760
4                   30430                   32380

[5 rows x 31 columns]


Inhalt der Tabelle dim_hoechster_schulabschluss:
   schluessel  schulabs_stp  schulabs_stp__m  schulabs_stp__w  \
0           0      69451580         33941830         35509750
1           1       2473130          1200580          1272550
2        1001         80000            39400            40600
3  1420065408         80000            39400            40600
4        1002        212690           103790           108900

   schulabs_stp__1  schulabs_stp__1_m  schulabs_stp__1_w  schulabs_stp__2  \
0          2813430            1422440            1391000         61869570
1           103590              52550              51040          2252550
2             3590               1750               1830            71000
3             3590               1750               1830            71000
4             8570               4480               4090           190440

   schulabs_stp__2_m  schulabs_stp__2_w  ...  schulabs_stp__22_w  \
0           30110910           31758660  ...             1994110
1            1087850            1164710  ...               10340
2              34810              36190  ...                 230
3              34810              36190  ...                 230
4              92530              97910  ...                 620

   schulabs_stp__23  schulabs_stp__23_m  schulabs_stp__23_w  schulabs_stp__24  \
0          16671630             7509810             9161820          24244250
1            770050              345230              424820            805860
2             20330                9370               10960             30650
3             20330                9370               10960             30650
4             48090               21480               26610             99230

   schulabs_stp__24_m  schulabs_stp__24_w  schulabs_stp__3  schulabs_stp__3_m  \
0            12162150            12082090          4768580            2408490
1              401690              404180           116990              60190
2               16000               14650             5410               2830
3               16000               14650             5410               2830
4               49690               49540            13680               6780

   schulabs_stp__3_w
0            2360090
1              56810
2               2580
3               2580
4               6900

[5 rows x 25 columns]


Inhalt der Tabelle dim_klassenstufe:
   schluessel  schueler_klss_stp  schueler_klss_stp__m  schueler_klss_stp__w  \
0           0            8903780               4536040               4367740
1           1             320060                162880                157180